In [1]:
import pandas as pd

In [2]:
nyc = pd.read_csv('data/AirBnb_NYC_2019.csv', index_col=0, nrows=10)
nyc

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

## Slicing ranges ( using [ ] )

In [8]:
nyc[1:5]

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [10]:
nyc[['host_name', 'neighbourhood']]

        host_name       neighbourhood
id
2539         John          Kensington
2595     Jennifer             Midtown
3647    Elisabeth              Harlem
3831  LisaRoxanne        Clinton Hill
5022        Laura         East Harlem
5099        Chris         Murray Hill
5121        Garon  Bedford-Stuyvesant
5178     Shunichi      Hell's Kitchen
5203    MaryEllen     Upper West Side
5238          Ben           Chinatown

In [11]:
nyc[[True, False, True, False,True, False, True, False,True, False]]

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0

## Selection by label (df.loc)

In [18]:
nyc.loc[2595:5022, 'host_name':]

,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,
2595,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3831,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5022,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

## Selection by position (df.iloc)

In [24]:
nyc.iloc[[0,5,7,9], 4:8]

       neighbourhood  latitude  longitude        room_type
id
2539      Kensington  40.64749  -73.97237     Private room
5099     Murray Hill  40.74767  -73.97500  Entire home/apt
5178  Hell's Kitchen  40.76489  -73.98493     Private room
5238       Chinatown  40.71344  -73.99037  Entire home/apt

## df.at[ ]

In [26]:
nyc.at[3647, 'neighbourhood_group']

'Manhattan'

## df.iat[ ]

In [27]:
nyc.iat[2,3]

'Manhattan'

## df.isin( )

In [32]:
nyc[nyc['neighbourhood_group'].isin(['Manhattan'])]

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

In [33]:
crit = {'neighbourhood_group':['Manhattan'], 'room_type':['Private room']}
crit

{'neighbourhood_group': ['Manhattan'], 'room_type': ['Private room']}

In [34]:
nyc.isin(crit)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
2595,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
3647,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False
3831,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5022,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
5099,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
5121,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
5178,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False
5203,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False
5238,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

## df.where( )

In [35]:
nyc.where(nyc['price'] < 100)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3831,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0
5022,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0
5099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5121,BlissArtsSpace!,7356.0,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60.0,45.0,49.0,2017-10-05,0.40,1.0,0.0
5178,Large Furnished Room Near B'way,8967.0,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79.0,2.0,430.0,2019-06-24,3.47,1.0,220.0
5203,Cozy Clean Guest Room - Family Apt,7490.0,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79.0,2.0,118.0,2017-07-21,0.99,1.0,0.0
5238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## df.mask( )

In [36]:
nyc.mask(nyc['price'] < 100)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
2595,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632.0,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaN,NaN,1.0,365.0
3831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5099,Large Cozy 1 BR Apartment In Midtown East,7322.0,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200.0,3.0,74.0,2019-06-22,0.59,1.0,129.0
5121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5238,Cute & Cozy Lower East Side 1 bdrm,7549.0,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150.0,1.0,160.0,2019-06-09,1.33,4.0,188.0

## df.query( )

In [38]:
nyc.query('neighbourhood_group == "Manhattan" & price < 100 & availability_365 > 50')

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220

## df.get( )

In [40]:
nyc.get("name")

id
2539                  Clean & quiet apt home by the park
2595                               Skylit Midtown Castle
3647                 THE VILLAGE OF HARLEM....NEW YORK !
3831                     Cozy Entire Floor of Brownstone
5022    Entire Apt: Spacious Studio/Loft by central park
5099           Large Cozy 1 BR Apartment In Midtown East
5121                                     BlissArtsSpace!
5178                    Large Furnished Room Near B'way
5203                  Cozy Clean Guest Room - Family Apt
5238                  Cute & Cozy Lower East Side 1 bdrm
Name: name, dtype: object

## df.sample( )

In [77]:
nyc.sample(5, replace=False, weights=[0,5,5,8,14,25,8,1,5,8])

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0

## df.set_index( )

In [97]:
x = pd.Series([1,2,3,4,5,6,7,8,9,10])
x

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [100]:
nyc.set_index(x, inplace=True)

In [101]:
nyc

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
4,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
6,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
7,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
8,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
9,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
10,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

## df.reset_index( )

In [103]:
nyc = nyc.set_index('name')

In [109]:
nyc.reset_index(inplace=True)

In [110]:
nyc

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

## Tasks

1. Filter out rows from AirBnb NYC data set where neighborhood is 'Williamsburg'

In [3]:
nyc = pd.read_csv('data/AirBnb_NYC_2019.csv')
nyc.shape

(48895, 16)

In [4]:
nyc['neighbourhood'] == 'Williamsburg'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15        True
16       False
17       False
18       False
19       False
20        True
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
48865    False
48866    False
48867    False
48868    False
48869    False
48870     True
48871    False
48872    False
48873    False
48874    False
48875    False
48876    False
48877    False
48878    False
48879     True
48880     True
48881    False
48882    False
48883    False
48884     True
48885    False
48886    False
48887     True
48888    False
48889    False
48890    False
48891    False
48892    False
48893    False
48894    False
Name: neighbourhood, Length: 48895, dtype: bool

In [5]:
# Here I'll make a dataframe using these booleans
nyc[nyc['neighbourhood'] == 'Williamsburg']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
20,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,0
52,14290,* ORIGINAL BROOKLYN LOFT *,56104,James,Brooklyn,Williamsburg,40.70420,-73.93560,Entire home/apt,228,3,82,2019-05-17,0.70,1,140
55,14377,Williamsburg 1 bedroom Apartment,56512,Joanna,Brooklyn,Williamsburg,40.70881,-73.95930,Entire home/apt,150,30,105,2019-06-22,0.90,1,30
60,15385,"Very, very cozy place",60252,Cristina,Brooklyn,Williamsburg,40.71185,-73.96204,Private room,80,2,42,2019-06-30,0.38,1,263
68,16595,*HAVEN LOFT - Entire Floor - Six Windows - Bri...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Entire home/apt,275,1,148,2019-06-23,1.40,1,362
80,18764,Cozy 2 BR in Williamsburg,72014,Lulú,Brooklyn,Williamsburg,40.71154,-73.96112,Private room,145,3,61,2019-04-22,0.54,4,238
86,19812,2 bedroom Williamsburg Apt - Bedford L stop,74857,Starlee,Brooklyn,Williamsburg,40.71833,-73.95748,Entire home/apt,105,3,61,2018-08-09,0.53,1,272
89,20611,Cozy Bedroom in Williamsburg 3 BR,72014,Lulú,Brooklyn,Williamsburg,40.71156,-73.96218,Private room,85,3,174,2019-06-22,1.54,4,288
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
104,24143,"Williamsburg—Steps To Subway, Private Bath&Bal...",97219,Seth,Brooklyn,Williamsburg,40.71332,-73.94177,Private room,101,3,335,2019-05-29,3.02,1,152
107,25406,"Modern Brooklyn Apt., August sublet",105538,Erik,Brooklyn,Williamsburg,40.71459,-73.94844,Entire home/apt,80,30,29,2018-05-26,0.40,1,222
116,26969,2 story family home in Williamsburg,115307,Alexandra,Brooklyn,Williamsburg,40.71942,-73.95748,Entire home/apt,325,3,324,2019-06-23,3.01,1,107
125,28396,Modern Apt with Spectacular Views,6197784,Jo,Brooklyn,Williamsburg,40.71923,-73.96468,Private room,90,1,9,2011-09-18,0.08,1,245
141,32289,"Sun-drenched, artsy modernist 1 BDRM duplex",139612,Elisabeth,Brooklyn,Williamsburg,40.71561,-73.94835,Entire home/apt,199,3,10,2018-06-11,0.10,1,280
145,32969,Light filled Williamsburg Apartment,142833,Katherine,Brooklyn,Williamsburg,40.71596,-73.93938,Entire home/apt,160,3,11,2019-07-02,0.11,1,188
146,33009,Retreat in Williamsburg,143027,Ming,Brooklyn,Williamsburg,40.71492,-73.95935,Entire home/apt,195,4,240,2019-06-17,2.19,1,214
148,33223,Cozy BR in Wiliamsburg 3 Bedroom,72014,Lulú,Brooklyn,Williamsburg,40.71165,-73.96087,Private room,80,3,200,2019-06-22,1.86,4,262
152,36133,Classic Artist Loft Williamsburg,142684,White,Brooklyn,Williamsburg,40.71536,-73.96057,Private room,125,3,155,2019-06-13,1.61,1,1
156,36934,Great location in Williamsburg,159370,Viviana,Brooklyn,Williamsburg,40.71363,-73.96398,Entire home/apt,125,6,27,2018-12-27,0.25,1,189
160,39282,Indie-Chic Share In Williamsburg,168525,Gus,Brooklyn,Williamsburg,40.71088,-73.95055,Private room,69,4,202,2019-05-28,1.86,2,53
172,44161,Light+Open+Airy+Rustic+Modern Loft,193360,Young,Brooklyn,Williamsburg,40.71045,-73.96770,Entire home/apt,150,2,193,2016-07-06,1.78,1,177
183,45940,Bright Spacious Luxury Condo,204724,Miyoung,Brooklyn,Williamsburg,40.71627,-73.95870,Entire home/apt,200,4,33,2019-04-08,0.58,1,1
202,54158,The Institute—Heart of Williamsburg,10889,Bob,Brooklyn,Williamsburg,40.71950,-73.95976,Entire home/apt,249,2,358,2019-06-20,3.44,2,164
209,55467,Private Garden Apt • New Renovation,260709,Paul,Brooklyn,Williamsburg,40.71625,-73.93845,Entire home/apt,140,2,253,2019-07-02,3.04,1,125
213,55959,Spacious Williamsburg Share w/ LOFT BED,168525,Gus,Brooklyn,Williamsburg,40.70979,-73.95162,Private room,69,4,82,2019-06-10,1.13,2,60
255,63299,BROOKLYN > Guest Room w/ Queen Bed in Williams...,308875,Scott,Brooklyn,Williamsburg,40.70763,-73.95177,Private room,59,2,181,2019-06-23,1.77,2,15
266,64000,Williamsburg near soho. / loftbed,312722,Kristian & Di,Brooklyn,Williamsburg,40.70690,-73.95467,Private room,60,17,14,2019-01-07,0.14,4,362
276,65556,"Room in S3rd/Bedford, Williamsburg",320422,Marlon,Brooklyn,Williamsburg,40.71368,-73.96260,Private room,60,3,0,NaN,NaN,1,0
278,65615,Farmhouse Apartment in Williamsburg,320761,Valerie,Brooklyn,Williamsburg,40.71069,-73.95175,Entire home/apt,130,10,49,2019-06-29,0.48,1,152
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48259,36164533,Summer Oasis Brooklyn Apartment,29535980,Tiffany,Brooklyn,Williamsburg,40.70671,-73.95076,Private room,65,7,0,NaN,NaN,1,210
48303,36188485,Lovely Room in Williamsburg,47604405,Mariana,Brooklyn,Williamsburg,40.70957,-73.94995,Entire home/apt,50,28,0,NaN,NaN,1,274
48360,36214351,Authentic Williamsburg Loft,9676462,Iris,Brooklyn,Williamsburg,40.71127,-73.96465,Entire home/apt,200,30,0,NaN,NaN,1,62
48391,36235150,Sky View beautiful apt in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,1,1,2019-07-07,1.00,3,340
48404,36238485,Chic Room in Williamsburg + Backyard +Washer D...,22157126,Ryan,Brooklyn,Williamsburg,40.71773,-73.94159,Private room,91,2,1,2019-07-04,1.00,1,344
48410,36241782,Classic Brooklyn Loft (East Williamsburg/Bushw...,12091973,Ap,Brooklyn,Williamsburg,40.70518,-73.93794,Private room,100,1,1,2019-07-06,1.00,1,1
48484,36279837,Art and View authentic Williamsburg Loft,272865451,Roberto,Brooklyn,Williamsburg,40.71299,-73.96559,Entire home/apt,280,2,0,NaN,NaN,1,318
48504,36299344,Light-filled loft full of happy plants,272994721,Sloane,Brooklyn,Williamsburg,40.70497,-73.93750,Private room,60,5,0,NaN,NaN,1,15
48536,36311265,Bright sunny large BK room in shared space,97633452,Noelani,Brooklyn,Williamsburg,40.71437,-73.94370,Private room,150,10,0,NaN,NaN,1,91
48580,36318888,Cute bedroom in ideal location in Williamsburg,14598000,Daniel,Brooklyn,Williamsburg,40.70928,-73.94066,Private room,59,4,0,NaN,NaN,2,297
48591,36321994,Private room in Williamsburg,273170125,Lipaz,Brooklyn,Williamsburg,40.71280,-73.93984,Private room,99,1,0,NaN,NaN,1,90
48599,36334813,Sunny Room in the heart of Williamsburg,17379828,Caterina,Brooklyn,Williamsburg,40.70906,-73.95544,Private room,75,3,0,NaN,NaN,1,7
48603,36338430,Zen Room in Creative Apt- <3 of Williamsburg,10184022,Elisa,Brooklyn,Williamsburg,40.72078,-73.95892,Private room,115,2,0,NaN,NaN,1,54
48624,36348535,Gorgeous large 3 bedroom apartment in Williams...,14598000,Daniel,Brooklyn,Williamsburg,40.70802,-73.94053,Entire home/apt,200,4,0,NaN,NaN,2,315
48726,36404936,Beautiful Williamsburg 2BR w/ Skyline views + ...,107434423,Blueground,Brooklyn,Williamsburg,40.71493,-73.96365,Entire home/apt,278,30,0,NaN,NaN,232,188
48734,36412410,Cozy 1 bedroom in East Williamsburg,62763569,Yuting,Brooklyn,Williamsburg,40.70266,-73.94284,Entire home/apt,99,3,0,NaN,NaN,1,14
48741,36413779,Sunny & spacious room in a 3 Br - Williamsburg,2449230,Itamar,Brooklyn,Williamsburg,40.71812,-73.95495,Private room,80,5,0,NaN,NaN,1,38
48744,36415840,A BEAUTIFUL SPACE IN HEART OF WILLIAMSBURG,223715460,Simon And Julian,Brooklyn,Williamsburg,40.71091,-73.96560,Entire home/apt,499,30,0,NaN,NaN,1,365
48754,36419115,Room for rent - Right by Bedford ave L train,27089410,Nagui,Brooklyn,Williamsburg,40.71775,-73.95767,Private room,60,1,0,NaN,NaN,1,54
48766,36422456,3 Br ✰ Prime Williamsburg ✰ | 5 min to Manhatt...,255815505,Feliks,Brooklyn,Williamsburg,40.70626,-73.94699,Entire home/apt,245,4,0,NaN,NaN,1,156
48768,36423090,Private room in beautiful Williamsburg loft!,43297161,Perry,Brooklyn,Williamsburg,40.70538,-73.94314,Private room,65,2,0,NaN,NaN,1,6
48769,36423179,Williamsburg: private bright bedroom - cosy appt,130906452,Pierre,Brooklyn,Williamsburg,40.71175,-73.96197,Private room,70,6,0,NaN,NaN,1,18
48802,36441134,Brooklyn Loft with great train views,3054124,Derek,Brooklyn,Williamsburg,40.70997,-73.96289,Entire home/apt,150,7,0,NaN,NaN,1,11
48823,36449052,Lovely private room in the heart of Williamsburg,173021064,Katie,Brooklyn,Williamsburg,40.71052,-73.95149,Private room,60,2,0,NaN,NaN,2,134
48831,36450435,Sunny Modern Studio Apartment in Williamsburg,29393413,Pirro,Brooklyn,Williamsburg,40.71391,-73.94431,Entire home/apt,225,1,0,NaN,NaN,1,84
48870,36474911,"Cozy, clean Williamsburg 1- bedroom apartment",1273444,Tanja,Brooklyn,Williamsburg,40.71197,-73.94946,Entire home/apt,99,4,0,NaN,NaN,1,22
48879,36480292,Gorgeous 1.5 Bdr with a private yard- Williams...,540335,Lee,Brooklyn,Williamsburg,40.71728,-73.94394,Entire home/apt,120,20,0,NaN,NaN,1,22
48880,36481315,The Raccoon Artist Studio in Williamsburg New ...,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,120,1,0,NaN,NaN,3,365
48884,36482783,Brooklyn Oasis in the heart of Williamsburg,274307600,Jonathan,Brooklyn,Williamsburg,40.71790,-73.96238,Private room,190,7,0,NaN,NaN,1,341
48887,36483152,Garden Jewel Apartment in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,1,0,NaN,NaN,3,365

2. Filter out rows from AirBnb NYC data set where hostid is less than 50000

In [6]:
nyc['host_id'] < 50000

0         True
1         True
2         True
3         True
4         True
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
48865    False
48866    False
48867    False
48868    False
48869    False
48870    False
48871    False
48872    False
48873    False
48874    False
48875    False
48876    False
48877    False
48878    False
48879    False
48880    False
48881    False
48882    False
48883    False
48884    False
48885    False
48886    False
48887    False
48888    False
48889    False
48890    False
48891    False
48892    False
48893    False
48894    False
Name: host_id, Length: 48895, dtype: bool

In [7]:
nyc[nyc['host_id'] < 50000]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
11,5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.50,1,39
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
16,7097,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,198,2019-06-28,1.72,1,321
17,7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,2019-07-01,2.12,1,12
18,7726,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,53,2019-06-22,4.44,1,21
19,7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249
20,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,0
21,8024,CBG CtyBGd HelpsHaiti rm#1:1-4,22486,Lisel,Brooklyn,Park Slope,40.68069,-73.97706,Private room,130,2,130,2019-07-01,1.09,6,347
22,8025,CBG Helps Haiti Room#2.5,22486,Lisel,Brooklyn,Park Slope,40.67989,-73.97798,Private room,80,1,39,2019-01-01,0.37,6,364
23,8110,CBG Helps Haiti Rm #2,22486,Lisel,Brooklyn,Park Slope,40.68001,-73.97865,Private room,110,2,71,2019-07-02,0.61,6,304
24,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,88,2019-06-19,0.73,2,233
25,8505,Sunny Bedroom Across Prospect Park,25326,Gregory,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,60,1,19,2019-06-23,1.37,2,85
26,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,NaN,NaN,1,0
27,9357,Midtown Pied-a-terre,30193,Tommi,Manhattan,Hell's Kitchen,40.76715,-73.98533,Entire home/apt,150,10,58,2017-08-13,0.49,1,75
28,9518,"SPACIOUS, LOVELY FURNISHED MANHATTAN BEDROOM",31374,Shon,Manhattan,Inwood,40.86482,-73.92106,Private room,44,3,108,2019-06-15,1.11,3,311
29,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,180,14,29,2019-04-19,0.24,1,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32078,25054120,DREAMY! Huge + sunny mid-century apt with balcony,8440,Michelle,Brooklyn,Flatbush,40.63970,-73.96554,Entire home/apt,197,4,10,2019-05-18,0.78,1,228
32090,25070554,Tribeca Luxury Doorman Apartment with Park Views,24069,YuJin,Manhattan,Tribeca,40.71809,-74.01205,Entire home/apt,140,1,9,2019-03-30,0.64,1,44
32586,25546901,Green home by Prospect Park,29506,Clare,Brooklyn,Prospect-Lefferts Gardens,40.66282,-73.95902,Entire home/apt,200,5,4,2019-01-01,0.33,1,1
32832,25860270,"Nice room in large, quiet EV apt",24222,Lori,Manhattan,East Village,40.72585,-73.97967,Private room,65,5,2,2018-07-16,0.16,2,2
33271,26272989,Lovely Prospect Heights duplex with private patio,19562,Putri,Brooklyn,Crown Heights,40.68054,-73.96278,Entire home/apt,190,2,1,2018-08-10,0.09,1,0
34448,27326744,Cozy NYC Retreat,25459,Christine,Manhattan,Harlem,40.82698,-73.93871,Private room,40,1,22,2019-06-29,2.33,2,105
34627,27466647,Le Bain,6485,Saeko,Brooklyn,Bedford-Stuyvesant,40.68130,-73.93304,Entire home/apt,150,5,4,2019-05-09,0.47,1,160
34671,27505253,Private room with king sized bed in Brooklyn.,31378,Kristine,Brooklyn,Crown Heights,40.67194,-73.96208,Private room,100,1,12,2019-05-10,1.24,3,2
35042,27784542,Artistic Loft w Fireplace & Manhattan Skyline,33655,Sruthi,Brooklyn,Columbia St,40.68388,-74.00484,Entire home/apt,210,2,11,2019-07-02,1.24,2,120
35141,27874237,Park Slope Perfect 2 BR,42273,Dani,Brooklyn,South Slope,40.66875,-73.98779,Entire home/apt,150,31,1,2019-05-24,0.64,2,281
36137,28730167,Quite place by the park,25326,Gregory,Brooklyn,Windsor Terrace,40.65777,-73.97487,Entire home/apt,105,1,15,2019-06-07,1.56,2,269
37098,29492316,Cozy Quiet UpperWest 1 bed near C Park/Subway,31994,Carol,Manhattan,Upper West Side,40.78587,-73.97589,Entire home/apt,140,2,18,2019-02-07,2.09,1,0
37191,29546402,Luxurious 1 Brd with Manhattan and Ocean views.,35944,Sergey,Brooklyn,Brighton Beach,40.57755,-73.96667,Entire home/apt,210,3,0,NaN,NaN,1,161
38479,30285056,"LOVELY, SPACIOUS FURNISHED MANHATTAN BEDROOM",31374,Shon,Manhattan,Inwood,40.86328,-73.92184,Private room,50,3,0,NaN,NaN,3,96
39713,30909287,Luxury Apartment in Lower East Side,22323,Arnaud,Manhattan,East Village,40.72324,-73.97690,Entire home/apt,400,1,2,2018-12-30,0.30,1,0
40379,31310624,Shoot in Eccentric Loft with tons of Natural L...,33655,Sruthi,Brooklyn,Columbia St,40.68343,-74.00371,Entire home/apt,1080,1,0,NaN,NaN,2,167
40537,31428772,Private Studio 25 Minutes from Midtown,42761,Jessica,Bronx,Claremont Village,40.84487,-73.90811,Private room,80,2,1,2019-01-20,0.18,1,156
41015,31888319,Gorgeous big room with Hudson river view,22188,Laura,Manhattan,Upper West Side,40.78085,-73.98664,Private room,130,2,0,NaN,NaN,2,154
41051,31920075,Clean and quiet room in home,15977,Alicia,Manhattan,Harlem,40.80385,-73.95294,Private room,60,7,6,2019-05-16,1.32,1,254
42353,32865732,Park views and city fun for July & August,11175,Teri,Brooklyn,Prospect-Lefferts Gardens,40.66220,-73.96208,Entire home/apt,130,30,0,NaN,NaN,1,129
42825,33245975,Crashpad in Clinton Hill,3151,Eric,Brooklyn,Clinton Hill,40.69316,-73.96773,Private room,69,1,1,2019-05-26,0.67,1,179
42981,33373421,Hudson river and Central Park big room,12220,Corina E.,Manhattan,Upper West Side,40.77859,-73.98481,Private room,228,1,3,2019-06-02,0.96,3,341
42982,33373525,Amazing Hudson river two bedroom apartment,12220,Corina E.,Manhattan,Upper West Side,40.77757,-73.98579,Entire home/apt,236,1,4,2019-05-26,1.46,3,341
44145,34063202,Bright & clean space in lively Bushwick!,28336,Denise,Brooklyn,Bushwick,40.69982,-73.92491,Private room,75,2,8,2019-06-26,3.75,1,317
45082,34517384,Penthouse room in Williamsburg with ensuite to...,21306,Lucy,Brooklyn,Williamsburg,40.70966,-73.95129,Private room,73,21,2,2019-06-01,1.18,1,36
45301,34658339,Beautiful apartment on UWS for couple or single!,34331,Eveline,Manhattan,Upper West Side,40.79056,-73.97306,Entire home/apt,150,30,0,NaN,NaN,1,36
46049,35042058,"Big one bedroom apt, new and beautiful.",19342,Rivka,Manhattan,Upper West Side,40.79900,-73.96315,Entire home/apt,11,7,0,NaN,NaN,1,273
46087,35066003,Brooklyn's Gorgeous Garden Apt. 25' to Downtown.,47532,Tika,Brooklyn,Bedford-Stuyvesant,40.68463,-73.92617,Entire home/apt,169,4,0,NaN,NaN,1,6
46396,35231916,Stay in LIC- Only 10 Minutes From Midtown!,15574,Joy,Queens,Long Island City,40.75367,-73.92890,Private room,65,5,1,2019-06-23,1.00,1,49
46997,35536969,Lofty spacious sun drenched home,40275,Yael,Brooklyn,Bedford-Stuyvesant,40.69312,-73.96051,Entire home/apt,250,2,1,2019-06-16,1.00,1,66

3. Using query() method, Filter out rows from AirBnb NYC data set where 'neighbourhood_group' is Manhattan and the price of the room is less than 150 USD and also 'room_type' should be 'Entire home/apt' for my family's affordable yet enjoyable vacation trip

In [8]:
# Using the normal python method:

(nyc['neighbourhood_group'] == "Manhattan") & (nyc['price'] < 150) & (nyc['room_type'] == "Entire home/apt")

0        False
1        False
2        False
3        False
4         True
5        False
6        False
7        False
8        False
9        False
10        True
11       False
12       False
13       False
14        True
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
48865    False
48866    False
48867    False
48868    False
48869    False
48870    False
48871    False
48872    False
48873    False
48874    False
48875    False
48876    False
48877    False
48878    False
48879    False
48880    False
48881    False
48882    False
48883    False
48884    False
48885    False
48886    False
48887    False
48888    False
48889    False
48890    False
48891    False
48892     True
48893    False
48894    False
Length: 48895, dtype: bool

In [9]:
nyc[(nyc['neighbourhood_group'] == "Manhattan") & (nyc['price'] < 150) & (nyc['room_type'] == "Entire home/apt")]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
81,19159,Spacious luminous apt Upper West NYC,73051,Sybilla,Manhattan,Harlem,40.82915,-73.95136,Entire home/apt,110,31,54,2019-03-23,0.49,1,209
96,21456,Light-filled classic Central Park,42032,Dana,Manhattan,Upper West Side,40.79764,-73.96177,Entire home/apt,140,3,81,2019-07-07,0.71,1,198
112,26559,Beautiful Apartment East Village,112793,Sally,Manhattan,East Village,40.72880,-73.98192,Entire home/apt,140,7,12,2017-12-11,0.13,1,164
123,27883,East Village Sanctuary,120223,Jen,Manhattan,East Village,40.72245,-73.98527,Entire home/apt,100,4,25,2011-12-10,0.23,1,0
129,29455,ACCOMMODATIONS GALORE #1,126607,Laurine,Manhattan,Harlem,40.81618,-73.94894,Entire home/apt,120,3,155,2019-06-20,1.42,3,213
133,30927,Unique & Charming small 1br Apt. LES,120335,Cs,Manhattan,Lower East Side,40.71341,-73.98856,Entire home/apt,105,3,32,2019-06-14,0.29,1,16
135,31555,Luminous Beautiful West Village Studio,135619,Tom,Manhattan,West Village,40.73442,-74.00303,Entire home/apt,115,29,26,2019-07-01,0.25,1,12
159,39267,CENTRAL PARK LOFT all for YOU,168417,Marie,Manhattan,Upper East Side,40.77456,-73.95323,Entire home/apt,99,1,234,2019-06-08,2.60,2,164
166,41513,Convenient cozy cheap apt Manhattan,181167,Lorenzo,Manhattan,Harlem,40.82704,-73.94907,Entire home/apt,80,3,2,2015-11-02,0.04,1,0
179,45542,Clean and Cozy Harlem Apartment,202249,Campbell,Manhattan,Harlem,40.82374,-73.93730,Entire home/apt,100,2,18,2018-12-17,1.79,1,0
189,47370,Chelsea Studio sublet 1 - 2 months,214287,Alex,Manhattan,Chelsea,40.74031,-73.99999,Entire home/apt,125,3,3,2015-07-17,0.03,1,0
206,54544,City Room - Private Penthouse Apt.,256161,Wayne,Manhattan,Harlem,40.81035,-73.94598,Entire home/apt,121,1,104,2019-06-22,1.00,5,247
215,56467,Cozy East Village Railroad 1 Bed!,267593,Leonardo,Manhattan,East Village,40.72752,-73.98432,Entire home/apt,130,1,204,2019-07-01,2.04,1,192
235,60611,SpaHa Studio Monthly Rental,292204,Blanca,Manhattan,East Harlem,40.79163,-73.94573,Entire home/apt,125,28,183,2018-09-29,1.83,2,365
238,60680,The gem of the East Village,292630,Mich,Manhattan,East Village,40.72654,-73.98049,Entire home/apt,99,2,127,2019-06-20,1.22,1,320
240,60948,ACCOMMODATIONS GALORE #2,126607,Laurine,Manhattan,East Harlem,40.80942,-73.93936,Entire home/apt,140,3,135,2019-06-20,1.30,3,192
241,61167,Colorful Private One Bedroom Apt,295760,Greta,Manhattan,Little Italy,40.71961,-73.99540,Entire home/apt,135,2,21,2015-12-12,0.20,1,0
245,61509,"Quiet, clean midtown apt w. elevato",23619,Anna/Fonzy,Manhattan,Midtown,40.75749,-73.96897,Entire home/apt,110,200,92,2019-04-30,0.90,1,140
247,62427,Great East Village Apartment Rental,303882,Brie,Manhattan,East Village,40.72680,-73.99079,Entire home/apt,130,50,56,2019-05-26,0.58,1,56
272,64707,Amazing Sunny & Breezy Home In the Heart of NYC,7310,Tilly,Manhattan,Little Italy,40.71702,-73.99811,Entire home/apt,90,14,1,2019-01-02,0.16,1,14
274,65019,Charming UWS Treehouse Apt,317809,Claire,Manhattan,Upper West Side,40.77956,-73.98098,Entire home/apt,115,2,210,2019-07-06,2.10,1,261
277,65562,CHARMING EAST VILLAGE 2 (or 1) BR,320450,Mary D,Manhattan,East Village,40.72956,-73.98158,Entire home/apt,129,7,5,2019-01-03,0.15,1,231
287,66718,West Harlem Home Base - Eco-Apt.,136227,Henning,Manhattan,Harlem,40.81322,-73.95306,Entire home/apt,135,6,187,2019-06-23,1.87,1,189
290,67288,Central Park 1BR sunny condo,101597,Per,Manhattan,East Harlem,40.79603,-73.94903,Entire home/apt,124,28,22,2019-06-15,0.26,1,103
306,71248,Bright and lovely 1 bdrm apt in LES,363834,Jennifer,Manhattan,Chinatown,40.71659,-73.98945,Entire home/apt,125,25,43,2019-06-17,0.42,1,102
310,72190,1BR: See Central Park from Terrace!,373085,Hudson,Manhattan,Upper West Side,40.77728,-73.97818,Entire home/apt,110,13,38,2019-02-15,0.39,1,0
314,74333,Alcove Studio w/ outdoor Patio Deck,331328,Amir,Manhattan,East Harlem,40.80892,-73.93985,Entire home/apt,113,14,26,2015-11-25,0.27,3,253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48279,36176688,Quaint Little Reader’s Retreat in Hudson Heights.,272081051,Isabelle,Manhattan,Washington Heights,40.85342,-73.93714,Entire home/apt,99,3,0,NaN,NaN,1,34
48280,36176909,Large Apartment by Union Sqaure with an Elevat...,183950711,Livne,Manhattan,Gramercy,40.73275,-73.98242,Entire home/apt,125,30,0,NaN,NaN,1,119
48345,36207527,Bright and Cozy Uptown Retreat,43388555,Kristen,Manhattan,Washington Heights,40.85139,-73.92952,Entire home/apt,120,2,0,NaN,NaN,1,37
48346,36207556,Beautiful apartment steps away from Central Park,192572987,Stewart,Manhattan,Upper West Side,40.79617,-73.96228,Entire home/apt,125,2,0,NaN,NaN,1,0
48362,36221298,Bohemian studio in Midtown,5288346,Lauren,Manhattan,Upper East Side,40.76030,-73.96225,Entire home/apt,120,1,1,2019-07-01,1.00,1,1
48377,36228780,REAL 1BR+ Entire Apt+ Pet ok+ Amazing location!!,211353297,Kiko,Manhattan,East Harlem,40.80396,-73.94038,Entire home/apt,125,3,0,NaN,NaN,1,25
48439,36267023,Humble Hutch in the Heights,10002937,Cameron,Manhattan,Washington Heights,40.84267,-73.93816,Entire home/apt,85,1,0,NaN,NaN,1,1
48447,36270530,Heart of Harlem Studio,272787571,Rj,Manhattan,Harlem,40.81374,-73.94390,Entire home/apt,125,4,0,NaN,NaN,1,158
48493,36282108,Great apartment in downtown NYC for August,45623497,Kristy,Manhattan,Battery Park City,40.70974,-74.01774,Entire home/apt,105,30,0,NaN,NaN,1,31
48507,36302523,(2RW) Chic Chelsea Studio Just for You,271275048,Isaac,Manhattan,Chelsea,40.74767,-73.99256,Entire home/apt,109,30,0,NaN,NaN,2,363
48548,36312994,Cosy and quiet studio near Columbia University,2019485,Maria,Manhattan,Morningside Heights,40.80750,-73.96679,Entire home/apt,103,3,0,NaN,NaN,1,40
48579,36318764,"Modern, Artistic, Cheap & Chic",21357175,Tomy,Manhattan,Washington Heights,40.84150,-73.93661,Entire home/apt,107,4,0,NaN,NaN,1,9
48601,36335990,Sunny Studio steps from Wall Street,269870940,Farina,Manhattan,Financial District,40.70603,-74.01084,Entire home/apt,75,1,1,2019-07-03,1.00,1,181
48634,36351128,"One bedroom without roomies, close to everything",273361532,David & Amy,Manhattan,Upper West Side,40.80281,-73.96550,Entire home/apt,110,3,2,2019-07-05,2.00,1,15
48664,36373544,Large studio with tall ceiling near Central Park,35141789,Janey,Manhattan,Upper East Side,40.78332,-73.95155,Entire home/apt,100,10,0,NaN,NaN,1,21
48695,36387905,Manhattan Apartment Private Close to Subway,273613106,Jose L.,Manhattan,East Harlem,40.79031,-73.94269,Entire home/apt,139,1,0,NaN,NaN,1,354
48706,36391866,"Clean, modern, and comfy 1bd apt Manhattan-Ha...",273644177,Merce,Manhattan,Harlem,40.80078,-73.95079,Entire home/apt,137,1,0,NaN,NaN,1,35
48737,36413114,Studio on West 14th Street and 7th Avenue,273772372,Richard,Manhattan,West Village,40.73713,-73.99870,Entire home/apt,144,1,0,NaN,NaN,1,110
48742,36414101,New York cutest studio,23899462,Florencia,Manhattan,Harlem,40.80505,-73.94894,Entire home/apt,90,7,0,NaN,NaN,1,23
48756,36419441,Murray Hill Masterpiece,273824202,David,Manhattan,Murray Hill,40.74404,-73.97239,Entire home/apt,129,2,0,NaN,NaN,1,0
48798,36438110,Location! View! X- Large Studio w/ Washer/Dryer!,96079975,Karen,Manhattan,Upper East Side,40.78411,-73.94870,Entire home/apt,140,7,0,NaN,NaN,1,158
48803,36441808,Hell's Kitchen charming apartment,24680496,Miriam,Manhattan,Hell's Kitchen,40.76911,-73.99248,Entire home/apt,145,1,0,NaN,NaN,1,10
48807,36444457,My Minimalist Sanctuary - Harlem Living,19580888,Lola,Manhattan,Harlem,40.81589,-73.95346,Entire home/apt,100,4,0,NaN,NaN,1,20
48809,36444734,Sunny Upper West Side Apt. 3mins from Central ...,32987938,Alex,Manhattan,Upper West Side,40.77889,-73.97668,Entire home/apt,143,3,0,NaN,NaN,1,10
48818,36447795,Beautiful studio Apt. in Harlem (near Red Roos...,274035866,Aurellia,Manhattan,East Harlem,40.80780,-73.93837,Entire home/apt,110,2,0,NaN,NaN,1,25
48829,36450283,Cozy SunDrenched 1 BR close to Transportation!,53360631,Ashley,Manhattan,Washington Heights,40.83734,-73.94326,Entire home/apt,90,4,0,NaN,NaN,1,83
48849,36455579,Studio in Manhattan(独立出入),257261595,Xiaolan,Manhattan,Harlem,40.80951,-73.95347,Entire home/apt,65,1,0,NaN,NaN,1,32
48860,36468386,纽约罗岛Roosevelt Island整租或合租 窗外美景 设施全 家具新 到曼哈顿方便 ...,228268650,Yan,Manhattan,Roosevelt Island,40.76688,-73.94688,Entire home/apt,145,1,0,NaN,NaN,1,30
48861,36468409,One bedroom Manhattan Upper East Side Apartment,57502664,Omar,Manhattan,Upper East Side,40.76628,-73.95795,Entire home/apt,120,1,0,NaN,NaN,1,1
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27

In [10]:
# Now you'll notice how easy query() makes it to set a criteria

nyc.query('neighbourhood_group == "Manhattan" & price < 150 & room_type == "Entire home/apt"')

# Effortless!

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
81,19159,Spacious luminous apt Upper West NYC,73051,Sybilla,Manhattan,Harlem,40.82915,-73.95136,Entire home/apt,110,31,54,2019-03-23,0.49,1,209
96,21456,Light-filled classic Central Park,42032,Dana,Manhattan,Upper West Side,40.79764,-73.96177,Entire home/apt,140,3,81,2019-07-07,0.71,1,198
112,26559,Beautiful Apartment East Village,112793,Sally,Manhattan,East Village,40.72880,-73.98192,Entire home/apt,140,7,12,2017-12-11,0.13,1,164
123,27883,East Village Sanctuary,120223,Jen,Manhattan,East Village,40.72245,-73.98527,Entire home/apt,100,4,25,2011-12-10,0.23,1,0
129,29455,ACCOMMODATIONS GALORE #1,126607,Laurine,Manhattan,Harlem,40.81618,-73.94894,Entire home/apt,120,3,155,2019-06-20,1.42,3,213
133,30927,Unique & Charming small 1br Apt. LES,120335,Cs,Manhattan,Lower East Side,40.71341,-73.98856,Entire home/apt,105,3,32,2019-06-14,0.29,1,16
135,31555,Luminous Beautiful West Village Studio,135619,Tom,Manhattan,West Village,40.73442,-74.00303,Entire home/apt,115,29,26,2019-07-01,0.25,1,12
159,39267,CENTRAL PARK LOFT all for YOU,168417,Marie,Manhattan,Upper East Side,40.77456,-73.95323,Entire home/apt,99,1,234,2019-06-08,2.60,2,164
166,41513,Convenient cozy cheap apt Manhattan,181167,Lorenzo,Manhattan,Harlem,40.82704,-73.94907,Entire home/apt,80,3,2,2015-11-02,0.04,1,0
179,45542,Clean and Cozy Harlem Apartment,202249,Campbell,Manhattan,Harlem,40.82374,-73.93730,Entire home/apt,100,2,18,2018-12-17,1.79,1,0
189,47370,Chelsea Studio sublet 1 - 2 months,214287,Alex,Manhattan,Chelsea,40.74031,-73.99999,Entire home/apt,125,3,3,2015-07-17,0.03,1,0
206,54544,City Room - Private Penthouse Apt.,256161,Wayne,Manhattan,Harlem,40.81035,-73.94598,Entire home/apt,121,1,104,2019-06-22,1.00,5,247
215,56467,Cozy East Village Railroad 1 Bed!,267593,Leonardo,Manhattan,East Village,40.72752,-73.98432,Entire home/apt,130,1,204,2019-07-01,2.04,1,192
235,60611,SpaHa Studio Monthly Rental,292204,Blanca,Manhattan,East Harlem,40.79163,-73.94573,Entire home/apt,125,28,183,2018-09-29,1.83,2,365
238,60680,The gem of the East Village,292630,Mich,Manhattan,East Village,40.72654,-73.98049,Entire home/apt,99,2,127,2019-06-20,1.22,1,320
240,60948,ACCOMMODATIONS GALORE #2,126607,Laurine,Manhattan,East Harlem,40.80942,-73.93936,Entire home/apt,140,3,135,2019-06-20,1.30,3,192
241,61167,Colorful Private One Bedroom Apt,295760,Greta,Manhattan,Little Italy,40.71961,-73.99540,Entire home/apt,135,2,21,2015-12-12,0.20,1,0
245,61509,"Quiet, clean midtown apt w. elevato",23619,Anna/Fonzy,Manhattan,Midtown,40.75749,-73.96897,Entire home/apt,110,200,92,2019-04-30,0.90,1,140
247,62427,Great East Village Apartment Rental,303882,Brie,Manhattan,East Village,40.72680,-73.99079,Entire home/apt,130,50,56,2019-05-26,0.58,1,56
272,64707,Amazing Sunny & Breezy Home In the Heart of NYC,7310,Tilly,Manhattan,Little Italy,40.71702,-73.99811,Entire home/apt,90,14,1,2019-01-02,0.16,1,14
274,65019,Charming UWS Treehouse Apt,317809,Claire,Manhattan,Upper West Side,40.77956,-73.98098,Entire home/apt,115,2,210,2019-07-06,2.10,1,261
277,65562,CHARMING EAST VILLAGE 2 (or 1) BR,320450,Mary D,Manhattan,East Village,40.72956,-73.98158,Entire home/apt,129,7,5,2019-01-03,0.15,1,231
287,66718,West Harlem Home Base - Eco-Apt.,136227,Henning,Manhattan,Harlem,40.81322,-73.95306,Entire home/apt,135,6,187,2019-06-23,1.87,1,189
290,67288,Central Park 1BR sunny condo,101597,Per,Manhattan,East Harlem,40.79603,-73.94903,Entire home/apt,124,28,22,2019-06-15,0.26,1,103
306,71248,Bright and lovely 1 bdrm apt in LES,363834,Jennifer,Manhattan,Chinatown,40.71659,-73.98945,Entire home/apt,125,25,43,2019-06-17,0.42,1,102
310,72190,1BR: See Central Park from Terrace!,373085,Hudson,Manhattan,Upper West Side,40.77728,-73.97818,Entire home/apt,110,13,38,2019-02-15,0.39,1,0
314,74333,Alcove Studio w/ outdoor Patio Deck,331328,Amir,Manhattan,East Harlem,40.80892,-73.93985,Entire home/apt,113,14,26,2015-11-25,0.27,3,253
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48279,36176688,Quaint Little Reader’s Retreat in Hudson Heights.,272081051,Isabelle,Manhattan,Washington Heights,40.85342,-73.93714,Entire home/apt,99,3,0,NaN,NaN,1,34
48280,36176909,Large Apartment by Union Sqaure with an Elevat...,183950711,Livne,Manhattan,Gramercy,40.73275,-73.98242,Entire home/apt,125,30,0,NaN,NaN,1,119
48345,36207527,Bright and Cozy Uptown Retreat,43388555,Kristen,Manhattan,Washington Heights,40.85139,-73.92952,Entire home/apt,120,2,0,NaN,NaN,1,37
48346,36207556,Beautiful apartment steps away from Central Park,192572987,Stewart,Manhattan,Upper West Side,40.79617,-73.96228,Entire home/apt,125,2,0,NaN,NaN,1,0
48362,36221298,Bohemian studio in Midtown,5288346,Lauren,Manhattan,Upper East Side,40.76030,-73.96225,Entire home/apt,120,1,1,2019-07-01,1.00,1,1
48377,36228780,REAL 1BR+ Entire Apt+ Pet ok+ Amazing location!!,211353297,Kiko,Manhattan,East Harlem,40.80396,-73.94038,Entire home/apt,125,3,0,NaN,NaN,1,25
48439,36267023,Humble Hutch in the Heights,10002937,Cameron,Manhattan,Washington Heights,40.84267,-73.93816,Entire home/apt,85,1,0,NaN,NaN,1,1
48447,36270530,Heart of Harlem Studio,272787571,Rj,Manhattan,Harlem,40.81374,-73.94390,Entire home/apt,125,4,0,NaN,NaN,1,158
48493,36282108,Great apartment in downtown NYC for August,45623497,Kristy,Manhattan,Battery Park City,40.70974,-74.01774,Entire home/apt,105,30,0,NaN,NaN,1,31
48507,36302523,(2RW) Chic Chelsea Studio Just for You,271275048,Isaac,Manhattan,Chelsea,40.74767,-73.99256,Entire home/apt,109,30,0,NaN,NaN,2,363
48548,36312994,Cosy and quiet studio near Columbia University,2019485,Maria,Manhattan,Morningside Heights,40.80750,-73.96679,Entire home/apt,103,3,0,NaN,NaN,1,40
48579,36318764,"Modern, Artistic, Cheap & Chic",21357175,Tomy,Manhattan,Washington Heights,40.84150,-73.93661,Entire home/apt,107,4,0,NaN,NaN,1,9
48601,36335990,Sunny Studio steps from Wall Street,269870940,Farina,Manhattan,Financial District,40.70603,-74.01084,Entire home/apt,75,1,1,2019-07-03,1.00,1,181
48634,36351128,"One bedroom without roomies, close to everything",273361532,David & Amy,Manhattan,Upper West Side,40.80281,-73.96550,Entire home/apt,110,3,2,2019-07-05,2.00,1,15
48664,36373544,Large studio with tall ceiling near Central Park,35141789,Janey,Manhattan,Upper East Side,40.78332,-73.95155,Entire home/apt,100,10,0,NaN,NaN,1,21
48695,36387905,Manhattan Apartment Private Close to Subway,273613106,Jose L.,Manhattan,East Harlem,40.79031,-73.94269,Entire home/apt,139,1,0,NaN,NaN,1,354
48706,36391866,"Clean, modern, and comfy 1bd apt Manhattan-Ha...",273644177,Merce,Manhattan,Harlem,40.80078,-73.95079,Entire home/apt,137,1,0,NaN,NaN,1,35
48737,36413114,Studio on West 14th Street and 7th Avenue,273772372,Richard,Manhattan,West Village,40.73713,-73.99870,Entire home/apt,144,1,0,NaN,NaN,1,110
48742,36414101,New York cutest studio,23899462,Florencia,Manhattan,Harlem,40.80505,-73.94894,Entire home/apt,90,7,0,NaN,NaN,1,23
48756,36419441,Murray Hill Masterpiece,273824202,David,Manhattan,Murray Hill,40.74404,-73.97239,Entire home/apt,129,2,0,NaN,NaN,1,0
48798,36438110,Location! View! X- Large Studio w/ Washer/Dryer!,96079975,Karen,Manhattan,Upper East Side,40.78411,-73.94870,Entire home/apt,140,7,0,NaN,NaN,1,158
48803,36441808,Hell's Kitchen charming apartment,24680496,Miriam,Manhattan,Hell's Kitchen,40.76911,-73.99248,Entire home/apt,145,1,0,NaN,NaN,1,10
48807,36444457,My Minimalist Sanctuary - Harlem Living,19580888,Lola,Manhattan,Harlem,40.81589,-73.95346,Entire home/apt,100,4,0,NaN,NaN,1,20
48809,36444734,Sunny Upper West Side Apt. 3mins from Central ...,32987938,Alex,Manhattan,Upper West Side,40.77889,-73.97668,Entire home/apt,143,3,0,NaN,NaN,1,10
48818,36447795,Beautiful studio Apt. in Harlem (near Red Roos...,274035866,Aurellia,Manhattan,East Harlem,40.80780,-73.93837,Entire home/apt,110,2,0,NaN,NaN,1,25
48829,36450283,Cozy SunDrenched 1 BR close to Transportation!,53360631,Ashley,Manhattan,Washington Heights,40.83734,-73.94326,Entire home/apt,90,4,0,NaN,NaN,1,83
48849,36455579,Studio in Manhattan(独立出入),257261595,Xiaolan,Manhattan,Harlem,40.80951,-73.95347,Entire home/apt,65,1,0,NaN,NaN,1,32
48860,36468386,纽约罗岛Roosevelt Island整租或合租 窗外美景 设施全 家具新 到曼哈顿方便 ...,228268650,Yan,Manhattan,Roosevelt Island,40.76688,-73.94688,Entire home/apt,145,1,0,NaN,NaN,1,30
48861,36468409,One bedroom Manhattan Upper East Side Apartment,57502664,Omar,Manhattan,Upper East Side,40.76628,-73.95795,Entire home/apt,120,1,0,NaN,NaN,1,1
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27

4. Filter out rows from AirBnb NYC data set where the name of the host contains the letter 'L', maybe because I MIGHT have seen an astrologer and he MIGHT have suggested that people whose name contains 'L' keep their rooms clean, or maybe its just  me who wants to test your row-filtering skills... who knows?

In [12]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
id                                48895 non-null int64
name                              48879 non-null object
host_id                           48895 non-null int64
host_name                         48874 non-null object
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [13]:
# First,  we'll check the host_name column to see who all contain the letter 'l' in their names.

# We do this by first 'stringifying' the column using .str attribute and then calling .contains
# attribute off it and passing the string we want to match. We also have to take care of whether
# lower and upper case matters in our case. If not, then pass case=False.

# Also, as we can see above, the host_name column contains a few missing (NaN) values. Pandas won't
# know what to do with them, and hence we have to step up and tell it that whenever you encounter a
# NaN value, replace it with False.

nyc['host_name'].str.contains('l', case=False, na=False)

0        False
1        False
2         True
3         True
4         True
5        False
6        False
7        False
8         True
9        False
10        True
11       False
12        True
13        True
14        True
15        True
16       False
17       False
18       False
19       False
20       False
21        True
22        True
23        True
24        True
25       False
26        True
27       False
28       False
29       False
         ...
48865    False
48866     True
48867    False
48868    False
48869     True
48870    False
48871    False
48872    False
48873     True
48874    False
48875    False
48876    False
48877     True
48878    False
48879     True
48880     True
48881    False
48882     True
48883     True
48884    False
48885     True
48886    False
48887     True
48888    False
48889     True
48890    False
48891     True
48892     True
48893    False
48894    False
Name: host_name, Length: 48895, dtype: bool

In [14]:
# and now we'll make a dataframe off these boolean values

nyc[nyc['host_name'].str.contains('l', case=False, na=False)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
21,8024,CBG CtyBGd HelpsHaiti rm#1:1-4,22486,Lisel,Brooklyn,Park Slope,40.68069,-73.97706,Private room,130,2,130,2019-07-01,1.09,6,347
22,8025,CBG Helps Haiti Room#2.5,22486,Lisel,Brooklyn,Park Slope,40.67989,-73.97798,Private room,80,1,39,2019-01-01,0.37,6,364
23,8110,CBG Helps Haiti Rm #2,22486,Lisel,Brooklyn,Park Slope,40.68001,-73.97865,Private room,110,2,71,2019-07-02,0.61,6,304
24,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,88,2019-06-19,0.73,2,233
26,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,NaN,NaN,1,0
34,10452,Large B&B Style rooms,35935,Angela,Brooklyn,Bedford-Stuyvesant,40.68310,-73.95473,Private room,70,1,74,2019-05-12,0.66,2,269
35,10962,"Lovely room 2 & garden; Best area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66869,-73.98780,Private room,89,4,168,2019-06-21,1.41,3,340
41,12299,Beautiful Sunny Park Slope Brooklyn,47610,Abdul,Brooklyn,South Slope,40.66278,-73.97966,Entire home/apt,120,3,15,2019-05-27,0.39,1,345
42,12303,1bdr w private bath. in lofty apt,47618,Yolande,Brooklyn,Fort Greene,40.69673,-73.97584,Private room,120,7,25,2018-09-30,0.23,1,311
44,12343,BEST BET IN HARLEM,47727,Earl,Manhattan,Harlem,40.81175,-73.94478,Entire home/apt,150,7,97,2019-06-13,0.84,1,309
49,13394,Fort Greene brownstone,52335,Alexander,Brooklyn,Fort Greene,40.69142,-73.97376,Private room,80,3,135,2019-06-17,1.16,2,192
57,15220,Best Location in NYC! TIMES SQUARE!,59734,Luiz,Manhattan,Hell's Kitchen,40.75531,-73.99293,Private room,69,2,289,2019-06-09,2.49,2,294
68,16595,*HAVEN LOFT - Entire Floor - Six Windows - Bri...,64522,Daniel,Brooklyn,Williamsburg,40.70933,-73.96792,Entire home/apt,275,1,148,2019-06-23,1.40,1,362
78,18590,Fort Greene Retreat on the Park,71512,Blaise,Brooklyn,Fort Greene,40.69320,-73.97267,Private room,95,3,143,2019-06-16,1.28,1,132
80,18764,Cozy 2 BR in Williamsburg,72014,Lulú,Brooklyn,Williamsburg,40.71154,-73.96112,Private room,145,3,61,2019-04-22,0.54,4,238
81,19159,Spacious luminous apt Upper West NYC,73051,Sybilla,Manhattan,Harlem,40.82915,-73.95136,Entire home/apt,110,31,54,2019-03-23,0.49,1,209
82,19169,Entire 2 Bedroom - Large & Sunny,73128,JoLynn,Manhattan,Lower East Side,40.71851,-73.98892,Entire home/apt,285,5,70,2019-06-30,0.62,1,328
86,19812,2 bedroom Williamsburg Apt - Bedford L stop,74857,Starlee,Brooklyn,Williamsburg,40.71833,-73.95748,Entire home/apt,105,3,61,2018-08-09,0.53,1,272
89,20611,Cozy Bedroom in Williamsburg 3 BR,72014,Lulú,Brooklyn,Williamsburg,40.71156,-73.96218,Private room,85,3,174,2019-06-22,1.54,4,288
91,20734,Spacious Prospect Heights Apartment,78460,Sean & Lynette,Brooklyn,Prospect Heights,40.68233,-73.97261,Entire home/apt,131,4,166,2019-06-27,3.40,1,207
97,21644,"Upper Manhattan, New York",82685,Elliott,Manhattan,Harlem,40.82803,-73.94731,Private room,89,1,1,2018-10-09,0.11,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48809,36444734,Sunny Upper West Side Apt. 3mins from Central ...,32987938,Alex,Manhattan,Upper West Side,40.77889,-73.97668,Entire home/apt,143,3,0,NaN,NaN,1,10
48812,36445280,"Spacious, simple, private bath",62784258,Eliana,Manhattan,Harlem,40.81951,-73.94161,Private room,50,1,0,NaN,NaN,1,21
48815,36446514,"Sunny, quiet, and cool bedroom in a two bedroom.",274025920,Oliver,Brooklyn,Crown Heights,40.66921,-73.93521,Private room,59,2,0,NaN,NaN,1,16
48817,36447683,2B2B/3 beds entire place in luxury building,24680832,Angela,Queens,Long Island City,40.74754,-73.94194,Entire home/apt,180,3,0,NaN,NaN,1,13
48818,36447795,Beautiful studio Apt. in Harlem (near Red Roos...,274035866,Aurellia,Manhattan,East Harlem,40.80780,-73.93837,Entire home/apt,110,2,0,NaN,NaN,1,25
48822,36448708,Entire 3 Bedroom Astoria Apartment,183211776,Rafael,Queens,Astoria,40.76491,-73.90959,Entire home/apt,169,1,0,NaN,NaN,4,28
48824,36449345,"Private Room in Brooklyn, 5minutes from Subway",115528632,Rachel & Alex,Brooklyn,Bedford-Stuyvesant,40.69171,-73.95418,Private room,80,1,0,NaN,NaN,1,43
48829,36450283,Cozy SunDrenched 1 BR close to Transportation!,53360631,Ashley,Manhattan,Washington Heights,40.83734,-73.94326,Entire home/apt,90,4,0,NaN,NaN,1,83
48830,36450318,"LUXURY, PRIVATE APT ACROSS FROM EMPIRE STATE",151831356,Michael,Manhattan,Midtown,40.74607,-73.98599,Entire home/apt,199,1,0,NaN,NaN,1,14
48832,36450814,FLATBUSH HANG OUT AND GO,267223765,Jarmel,Brooklyn,Flatbush,40.64922,-73.96078,Shared room,20,1,0,NaN,NaN,3,363
48840,36452965,"❥❥NYC Apt: 4min/subway, 25m/city, 20m/LGA,JFK❥❥",63272360,Annie Lawrence,Queens,Woodhaven,40.69389,-73.86823,Entire home/apt,140,3,0,NaN,NaN,6,232
48842,36453160,LUXURY MANHATTAN PENTHOUSE+HUDSON RIVER+EMPIRE...,224171371,LuxuryApartmentsByAmber,Manhattan,Chelsea,40.75204,-74.00292,Entire home/apt,350,1,0,NaN,NaN,1,9
48844,36453952,West Village Studio on quiet cobblestone street,115491896,Will,Manhattan,West Village,40.73620,-74.00827,Entire home/apt,205,1,0,NaN,NaN,1,365
48849,36455579,Studio in Manhattan(独立出入),257261595,Xiaolan,Manhattan,Harlem,40.80951,-73.95347,Entire home/apt,65,1,0,NaN,NaN,1,32
48850,36455584,Large studio at Union Square! for 3-5 ppl,50812891,Molo,Manhattan,East Village,40.73231,-73.98689,Entire home/apt,159,1,0,NaN,NaN,1,166
48855,36456829,Perfectly Located Organic Getaway,6677425,Isabel,Manhattan,Upper West Side,40.79753,-73.96155,Shared room,55,2,0,NaN,NaN,2,49
48857,36457832,"❥NYC Apt: 4min/subway, 25m/city, 20m/LGA,JFK❥",63272360,Annie Lawrence,Queens,Woodhaven,40.69482,-73.86618,Entire home/apt,85,3,0,NaN,NaN,6,300
48866,36472710,CozyHideAway Suite,274225617,Alberth,Queens,Briarwood,40.70786,-73.81448,Entire home/apt,58,1,0,NaN,NaN,1,159
48869,36474023,"Cozy, Sunny Brooklyn Escape",1550580,Julia,Brooklyn,Bedford-Stuyvesant,40.68759,-73.95705,Private room,45,4,0,NaN,NaN,1,7
48873,36477307,Brooklyn paradise,241945355,Clement & Rose,Brooklyn,Flatlands,40.63116,-73.92616,Entire home/apt,170,1,0,NaN,NaN,2,363
48877,36479230,Studio sized room with beautiful light,65767720,Melanie,Brooklyn,Bushwick,40.70418,-73.91471,Private room,42,7,0,NaN,NaN,1,16
48879,36480292,Gorgeous 1.5 Bdr with a private yard- Williams...,540335,Lee,Brooklyn,Williamsburg,40.71728,-73.94394,Entire home/apt,120,20,0,NaN,NaN,1,22
48880,36481315,The Raccoon Artist Studio in Williamsburg New ...,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,120,1,0,NaN,NaN,3,365
48882,36482231,Bushwick _ Myrtle-Wyckoff,66058896,Luisa,Brooklyn,Bushwick,40.69652,-73.91079,Private room,40,20,0,NaN,NaN,1,31
48883,36482416,Sunny Bedroom NYC! Walking to Central Park!!,131529729,Kendall,Manhattan,East Harlem,40.79755,-73.93614,Private room,75,2,0,NaN,NaN,2,364
48885,36482809,Stunning Bedroom NYC! Walking to Central Park!!,131529729,Kendall,Manhattan,East Harlem,40.79633,-73.93605,Private room,75,2,0,NaN,NaN,2,353
48887,36483152,Garden Jewel Apartment in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,1,0,NaN,NaN,3,365
48889,36484363,QUIT PRIVATE HOUSE,107716952,Michael,Queens,Jamaica,40.69137,-73.80844,Private room,65,1,0,NaN,NaN,2,163
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27

5. For some weird reason, I've purchased an Android OS 2.3 mobile phone from a flea market. Don't ask me why. Now, I want to download apps but according to the dataset, very few apps support such phone specifications. Fetch me the apps that have a minimum android OS version requirement of 2.3, I shall be very grateful!

In [15]:
store = pd.read_csv('data/googleplaystore.csv')
store

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up
10,Text on Photo - Fonteee,ART_AND_DESIGN,4.4,13880,28M,"1,000,000+",Free,0,Everyone,Art & Design,"October 27, 2017",1.0.4,4.1 and up
11,Name Art Photo Editor - Focus n Filters,ART_AND_DESIGN,4.4,8788,12M,"1,000,000+",Free,0,Everyone,Art & Design,"July 31, 2018",1.0.15,4.0 and up
12,Tattoo Name On My Photo Editor,ART_AND_DESIGN,4.2,44829,20M,"10,000,000+",Free,0,Teen,Art & Design,"April 2, 2018",3.8,4.1 and up
13,Mandala Coloring Book,ART_AND_DESIGN,4.6,4326,21M,"100,000+",Free,0,Everyone,Art & Design,"June 26, 2018",1.0.4,4.4 and up
14,3D Color Pixel by Number - Sandbox Art Coloring,ART_AND_DESIGN,4.4,1518,37M,"100,000+",Free,0,Everyone,Art & Design,"August 3, 2018",1.2.3,2.3 and up
15,Learn To Draw Kawaii Characters,ART_AND_DESIGN,3.2,55,2.7M,"5,000+",Free,0,Everyone,Art & Design,"June 6, 2018",NaN,4.2 and up
16,Photo Designer - Write your name with shapes,ART_AND_DESIGN,4.7,3632,5.5M,"500,000+",Free,0,Everyone,Art & Design,"July 31, 2018",3.1,4.1 and up
17,350 Diy Room Decor Ideas,ART_AND_DESIGN,4.5,27,17M,"10,000+",Free,0,Everyone,Art & Design,"November 7, 2017",1.0,2.3 and up
18,FlipaClip - Cartoon animation,ART_AND_DESIGN,4.3,194216,39M,"5,000,000+",Free,0,Everyone,Art & Design,"August 3, 2018",2.2.5,4.0.3 and up
19,ibis Paint X,ART_AND_DESIGN,4.6,224399,31M,"10,000,000+",Free,0,Everyone,Art & Design,"July 30, 2018",5.5.4,4.1 and up
20,Logo Maker - Small Business,ART_AND_DESIGN,4.0,450,14M,"100,000+",Free,0,Everyone,Art & Design,"April 20, 2018",4.0,4.1 and up
21,Boys Photo Editor - Six Pack & Men's Suit,ART_AND_DESIGN,4.1,654,12M,"100,000+",Free,0,Everyone,Art & Design,"March 20, 2018",1.1,4.0.3 and up
22,Superheroes Wallpapers | 4K Backgrounds,ART_AND_DESIGN,4.7,7699,4.2M,"500,000+",Free,0,Everyone 10+,Art & Design,"July 12, 2018",2.2.6.2,4.0.3 and up
23,Mcqueen Coloring pages,ART_AND_DESIGN,NaN,61,7.0M,"100,000+",Free,0,Everyone,Art & Design;Action & Adventure,"March 7, 2018",1.0.0,4.1 and up
24,HD Mickey Minnie Wallpapers,ART_AND_DESIGN,4.7,118,23M,"50,000+",Free,0,Everyone,Art & Design,"July 7, 2018",1.1.3,4.1 and up
25,Harley Quinn wallpapers HD,ART_AND_DESIGN,4.8,192,6.0M,"10,000+",Free,0,Everyone,Art & Design,"April 25, 2018",1.5,3.0 and up
26,Colorfit - Drawing & Coloring,ART_AND_DESIGN,4.7,20260,25M,"500,000+",Free,0,Everyone,Art & Design;Creativity,"October 11, 2017",1.0.8,4.0.3 and up
27,Animated Photo Editor,ART_AND_DESIGN,4.1,203,6.1M,"100,000+",Free,0,Everyone,Art & Design,"March 21, 2018",1.03,4.0.3 and up
28,Pencil Sketch Drawing,ART_AND_DESIGN,3.9,136,4.6M,"10,000+",Free,0,Everyone,Art & Design,"July 12, 2018",6.0,2.3 and up
29,Easy Realistic Drawing Tutorial,ART_AND_DESIGN,4.1,223,4.2M,"100,000+",Free,0,Everyone,Art & Design,"August 22, 2017",1.0,2.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10811,FR Plus 1.6,AUTO_AND_VEHICLES,NaN,4,3.9M,100+,Free,0,Everyone,Auto & Vehicles,"July 24, 2018",1.3.6,4.4W and up
10812,Fr Agnel Pune,FAMILY,4.1,80,13M,"1,000+",Free,0,Everyone,Education,"June 13, 2018",2.0.20,4.0.3 and up
10813,DICT.fr Mobile,BUSINESS,NaN,20,2.7M,"10,000+",Free,0,Everyone,Business,"July 17, 2018",2.1.10,4.1 and up
10814,FR: My Secret Pets!,FAMILY,4.0,785,31M,"50,000+",Free,0,Teen,Entertainment,"June 3, 2015",1.3.1,3.0 and up
10815,Golden Dictionary (FR-AR),BOOKS_AND_REFERENCE,4.2,5775,4.9M,"500,000+",Free,0,Everyone,Books & Reference,"July 19, 2018",7.0.4.6,4.2 and up
10816,FieldBi FR Offline,BUSINESS,NaN,2,6.8M,100+,Free,0,Everyone,Business,"August 6, 2018",2.1.8,4.1 and up
10817,HTC Sense Input - FR,TOOLS,4.0,885,8.0M,"100,000+",Free,0,Everyone,Tools,"October 30, 2015",1.0.612928,5.0 and up
10818,Gold Quote - Gold.fr,FINANCE,NaN,96,1.5M,"10,000+",Free,0,Everyone,Finance,"May 19, 2016",2.3,2.2 and up
10819,Fanfic-FR,BOOKS_AND_REFERENCE,3.3,52,3.6M,"5,000+",Free,0,Teen,Books & Reference,"August 5, 2017",0.3.4,4.1 and up
10820,Fr. Daoud Lamei,FAMILY,5.0,22,8.6M,"1,000+",Free,0,Teen,Education,"June 27, 2018",3.8.0,4.1 and up
10821,Poop FR,FAMILY,NaN,6,2.5M,50+,Free,0,Everyone,Entertainment,"May 29, 2018",1.0,4.0.3 and up
10822,PLMGSS FR,PRODUCTIVITY,NaN,0,3.1M,10+,Free,0,Everyone,Productivity,"December 1, 2017",1,4.4 and up
10823,List iptv FR,VIDEO_PLAYERS,NaN,1,2.9M,100+,Free,0,Everyone,Video Players & Editors,"April 22, 2018",1.0,4.0.3 and up
10824,Cardio-FR,MEDICAL,NaN,67,82M,"10,000+",Free,0,Everyone,Medical,"July 31, 2018",2.2.2,4.4 and up
10825,Naruto & Boruto FR,SOCIAL,NaN,7,7.7M,100+,Free,0,Teen,Social,"February 2, 2018",1.0,4.0 and up
10826,Frim: get new friends on local chat rooms,SOCIAL,4.0,88486,Varies with device,"5,000,000+",Free,0,Mature 17+,Social,"March 23, 2018",Varies with device,Varies with device
10827,Fr Agnel Ambarnath,FAMILY,4.2,117,13M,"5,000+",Free,0,Everyone,Education,"June 13, 2018",2.0.20,4.0.3 and up
10828,Manga-FR - Anime Vostfr,COMICS,3.4,291,13M,"10,000+",Free,0,Everyone,Comics,"May 15, 2017",2.0.1,4.0 and up
10829,Bulgarian French Dictionary Fr,BOOKS_AND_REFERENCE,4.6,603,7.4M,"10,000+",Free,0,Everyone,Books & Reference,"June 19, 2016",2.96,4.1 and up
10830,News Minecraft.fr,NEWS_AND_MAGAZINES,3.8,881,2.3M,"100,000+",Free,0,Everyone,News & Magazines,"January 20, 2014",1.5,1.6 and up
10831,payermonstationnement.fr,MAPS_AND_NAVIGATION,NaN,38,9.8M,"5,000+",Free,0,Everyone,Maps & Navigation,"June 13, 2018",2.0.148.0,4.0 and up
10832,FR Tides,WEATHER,3.8,1195,582k,"100,000+",Free,0,Everyone,Weather,"February 16, 2014",6.0,2.1 and up
10833,Chemin (fr),BOOKS_AND_REFERENCE,4.8,44,619k,"1,000+",Free,0,Everyone,Books & Reference,"March 23, 2014",0.8,2.2 and up
10834,FR Calculator,FAMILY,4.0,7,2.6M,500+,Free,0,Everyone,Education,"June 18, 2017",1.0.0,4.1 and up
10835,FR Forms,BUSINESS,NaN,0,9.6M,10+,Free,0,Everyone,Business,"September 29, 2016",1.1.5,4.0 and up
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [19]:
# First we'll filter out the 'Android Ver' column, then call the string attribute .str to stringify
# it and then capture the zeroth element, as the values are present in such a way that zeroth element
# indicates the main vrsion number, i.e. 2,3,4 etc.

# Next we match it against 2 and record the booleans
store['Android Ver'].str[0] == '2'

0        False
1        False
2        False
3        False
4        False
5         True
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14        True
15       False
16       False
17        True
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28        True
29        True
         ...
10811    False
10812    False
10813    False
10814    False
10815    False
10816    False
10817    False
10818     True
10819    False
10820    False
10821    False
10822    False
10823    False
10824    False
10825    False
10826    False
10827    False
10828    False
10829    False
10830    False
10831    False
10832     True
10833     True
10834    False
10835    False
10836    False
10837    False
10838     True
10839    False
10840    False
Name: Android Ver, Length: 10841, dtype: bool

In [20]:
# Now we'll make a dataframe off it
store[store['Android Ver'].str[0] == '2']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
14,3D Color Pixel by Number - Sandbox Art Coloring,ART_AND_DESIGN,4.4,1518,37M,"100,000+",Free,0,Everyone,Art & Design,"August 3, 2018",1.2.3,2.3 and up
17,350 Diy Room Decor Ideas,ART_AND_DESIGN,4.5,27,17M,"10,000+",Free,0,Everyone,Art & Design,"November 7, 2017",1.0,2.3 and up
28,Pencil Sketch Drawing,ART_AND_DESIGN,3.9,136,4.6M,"10,000+",Free,0,Everyone,Art & Design,"July 12, 2018",6.0,2.3 and up
29,Easy Realistic Drawing Tutorial,ART_AND_DESIGN,4.1,223,4.2M,"100,000+",Free,0,Everyone,Art & Design,"August 22, 2017",1.0,2.3 and up
31,Art Drawing Ideas,ART_AND_DESIGN,4.1,227,5.2M,"50,000+",Free,0,Everyone,Art & Design,"May 31, 2018",1.2,2.3 and up
37,Floor Plan Creator,ART_AND_DESIGN,4.1,36639,Varies with device,"5,000,000+",Free,0,Everyone,Art & Design,"July 14, 2018",Varies with device,2.3.3 and up
48,How To Draw Food,ART_AND_DESIGN,4.3,845,7.9M,"100,000+",Free,0,Everyone,Art & Design,"May 28, 2018",1.0,2.3 and up
58,Restart Navigator,AUTO_AND_VEHICLES,4.0,1403,201k,"100,000+",Free,0,Everyone,Auto & Vehicles,"August 26, 2014",1.0.1,2.2 and up
66,Used Cars Mexico,AUTO_AND_VEHICLES,4.0,190,2.5M,"50,000+",Free,0,Everyone,Auto & Vehicles,"October 14, 2016",1.0,2.3 and up
73,PDD-UA,AUTO_AND_VEHICLES,4.8,736,Varies with device,"100,000+",Free,0,Everyone,Auto & Vehicles,"July 29, 2018",2.9,2.3.3 and up
86,BEST CAR SOUNDS,AUTO_AND_VEHICLES,4.3,348,38M,"100,000+",Free,0,Everyone,Auto & Vehicles,"July 29, 2018",1.0.3,2.3 and up
129,"Secrets of beauty, youth and health",BEAUTY,NaN,77,2.9M,"10,000+",Free,0,Mature 17+,Beauty,"August 8, 2017",2.0,2.3 and up
153,AlReader -any text book reader,BOOKS_AND_REFERENCE,4.6,90468,5.9M,"5,000,000+",Free,0,Everyone,Books & Reference,"May 27, 2018",1.911805270,2.3 and up
160,Recipes of Prophetic Medicine for free,BOOKS_AND_REFERENCE,4.6,2084,6.7M,"500,000+",Free,0,Everyone,Books & Reference,"May 17, 2018",15.0,2.3 and up
163,Anonymous caller detection,BOOKS_AND_REFERENCE,NaN,161,2.7M,"10,000+",Free,0,Everyone,Books & Reference,"July 13, 2018",1.0,2.3 and up
170,Flybook,BOOKS_AND_REFERENCE,3.9,1778,4.9M,"500,000+",Free,0,Mature 17+,Books & Reference,"October 16, 2014",1.0.3,2.1 and up
184,Azpen eReader,BOOKS_AND_REFERENCE,3.5,156,42M,"500,000+",Free,0,Everyone,Books & Reference,"February 15, 2018",3.1.7.9,2.2 and up
209,Plugin:AOT v5.0,BUSINESS,3.1,4034,23k,"100,000+",Free,0,Everyone,Business,"September 11, 2015",3.0.1.11 (Build 311),2.2 and up
223,sABN,BUSINESS,4.4,2287,1.5M,"1,000,000+",Free,0,Everyone,Business,"March 26, 2018",4.9,2.2 and up
306,The Vietnam Story - Fun Stories,COMICS,4.5,438,3.4M,"10,000+",Free,0,Everyone,Comics,"December 27, 2017",1.0,2.3 and up
330,Perfect Viewer,COMICS,4.4,51981,Varies with device,"5,000,000+",Free,0,Everyone,Comics,"August 1, 2018",4.2.0.2,2.3 and up
339,Messenger Lite: Free Calls & Messages,COMMUNICATION,4.4,1429035,Varies with device,"100,000,000+",Free,0,Everyone,Communication,"July 25, 2018",37.0.0.7.163,2.3 and up
397,"Messaging+ SMS, MMS Free",COMMUNICATION,4.1,28238,17M,"1,000,000+",Free,0,Everyone,Communication,"August 2, 2018",4.98,2.3 and up
398,chomp SMS,COMMUNICATION,4.3,335646,8.3M,"10,000,000+",Free,0,Everyone,Communication,"July 26, 2018",7.21,2.3 and up
416,Ninesky Browser,COMMUNICATION,4.2,42925,2.8M,"1,000,000+",Free,0,Everyone,Communication,"August 27, 2017",6.1,2.3 and up
429,ExDialer - Dialer & Contacts,COMMUNICATION,4.2,125232,2.7M,"10,000,000+",Free,0,Everyone,Communication,"March 5, 2017",196,2.1 and up
439,RocketDial Dialer & Contacts,COMMUNICATION,4.4,32254,5.5M,"1,000,000+",Free,0,Everyone,Communication,"December 4, 2017",3.9.7,2.1 and up
450,Caller ID +,COMMUNICATION,4.0,9498,118k,"1,000,000+",Free,0,Everyone,Communication,"June 7, 2016",5.28.0,2.3 and up
458,GO Notifier,COMMUNICATION,4.2,124346,695k,"10,000,000+",Free,0,Everyone,Communication,"July 6, 2014",2.8,2.0 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10670,FN Web Radio,COMMUNICATION,NaN,0,1.6M,10+,Free,0,Everyone,Communication,"May 18, 2018",1.1,2.3 and up
10675,Circle Colors Pack-FN Theme,PERSONALIZATION,4.2,6,89k,50+,Paid,$0.99,Everyone,Personalization,"August 9, 2013",1.0,2.2 and up
10677,Pint - FN Theme,PERSONALIZATION,2.5,6,234k,100+,Free,0,Everyone,Personalization,"August 10, 2013",1.0,2.2 and up
10678,HAL-9000 - FN Theme,PERSONALIZATION,3.5,159,257k,"10,000+",Free,0,Everyone,Personalization,"August 16, 2013",1.0,2.2 and up
10683,Hunting Safari 3D,SPORTS,4.2,36183,20M,"5,000,000+",Free,0,Teen,Sports,"January 20, 2018",1.4,2.1 and up
10687,Zombie Defense,FAMILY,4.3,275048,41M,"10,000,000+",Free,0,Teen,Strategy,"June 22, 2018",12.2,2.3 and up
10688,Fo File Manager,TOOLS,4.5,1916,364k,"100,000+",Free,0,Everyone,Tools,"December 31, 2015",1.8.8,2.1 and up
10691,Pin-fo,FAMILY,4.6,19,1.6M,500+,Free,0,Everyone,Entertainment,"August 15, 2016",3rd Release Aug 2016,2.2 and up
10697,Mu.F.O.,GAME,5.0,2,16M,1+,Paid,$0.99,Everyone,Arcade,"March 3, 2017",1.0,2.3 and up
10702,Theme fo Oppo A30 Wallpaper & Icon,BUSINESS,NaN,7,1.3M,500+,Free,0,Everyone,Business,"August 18, 2017",1.0.0,2.3.3 and up
10703,Fo Fo Fish,GAME,3.4,5,21M,50+,Free,0,Everyone,Arcade,"August 25, 2015",1.0,2.3 and up
10706,Neon Blue Gaming Wallpaper&Theme fo Lenovo K8 ...,BUSINESS,4.6,7,2.0M,500+,Free,0,Everyone,Business,"August 24, 2017",1.0.0,2.3.3 and up
10722,Launcher Theme for LG K10 2018,PERSONALIZATION,4.0,649,11M,"100,000+",Free,0,Everyone,Personalization,"March 30, 2017",1.0,2.3.3 and up
10732,Draw with FP sDraw,TOOLS,4.3,3268,467k,"100,000+",Free,0,Everyone,Tools,"December 16, 2017",6.6,2.0 and up
10735,FP VoiceBot,FAMILY,NaN,17,157k,100+,Paid,$0.99,Mature 17+,Entertainment,"November 25, 2015",1.2,2.1 and up
10738,Race Manager FP,GAME,3.8,196,11M,"5,000+",Free,0,Everyone,Racing,"November 3, 2014",2.1,2.2 and up
10740,PhotoFunia,PHOTOGRAPHY,4.3,316378,4.4M,"10,000,000+",Free,0,Everyone,Photography,"June 3, 2017",4.0.7.0,2.3 and up
10754,SCM FPS Status,BUSINESS,4.2,123,3.3M,"10,000+",Free,0,Everyone,Business,"April 28, 2018",3.5,2.3 and up
10755,Hondata Mobile,MAPS_AND_NAVIGATION,4.3,334,676k,"10,000+",Free,0,Everyone,Maps & Navigation,"August 23, 2016",1.3,2.3.3 and up
10770,Modern Counter Terrorist FPS Shoot,GAME,4.0,795,41M,"100,000+",Free,0,Teen,Action,"August 29, 2017",1.2,2.3 and up
10776,Monster Ride Pro,GAME,5.0,1,24M,10+,Free,0,Everyone,Racing,"March 5, 2018",2.0,2.3 and up
10785,"sugar, sugar",FAMILY,4.2,1405,9.5M,"10,000+",Paid,$1.20,Everyone,Puzzle,"June 5, 2018",2.7,2.3 and up
10791,Winter Wonderland,GAME,4.0,1287,38M,"50,000+",Free,0,Everyone,Word,"December 18, 2013",1.0,2.2 and up
10804,Poker Pro.Fr,GAME,4.2,5442,17M,"100,000+",Free,0,Teen,Card,"May 22, 2018",4.1.3,2.3 and up
10807,My FR App,TOOLS,NaN,2,4.2M,100+,Free,0,Everyone,Tools,"April 9, 2018",1.283.0037,2.3.3 and up
10808,lesparticuliers.fr,LIFESTYLE,NaN,96,1.0M,"50,000+",Free,0,Everyone,Lifestyle,"November 25, 2014",1.5,2.3 and up
10818,Gold Quote - Gold.fr,FINANCE,NaN,96,1.5M,"10,000+",Free,0,Everyone,Finance,"May 19, 2016",2.3,2.2 and up
10832,FR Tides,WEATHER,3.8,1195,582k,"100,000+",Free,0,Everyone,Weather,"February 16, 2014",6.0,2.1 and up
10833,Chemin (fr),BOOKS_AND_REFERENCE,4.8,44,619k,"1,000+",Free,0,Everyone,Books & Reference,"March 23, 2014",0.8,2.2 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up

6. I've just won a lottery(!) and I now have too much money at my disposal. I've bought a brand new Android phone with the latest specs, and now I want to buy each and every paid app available in the store. Pls tell me how much it'll cost me, not that it really matters because I've just won a lottery!

In [21]:
# first we'll see the boolean series of our need
store['Type'] == 'Paid'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
10811    False
10812    False
10813    False
10814    False
10815    False
10816    False
10817    False
10818    False
10819    False
10820    False
10821    False
10822    False
10823    False
10824    False
10825    False
10826    False
10827    False
10828    False
10829    False
10830    False
10831    False
10832    False
10833    False
10834    False
10835    False
10836    False
10837    False
10838    False
10839    False
10840    False
Name: Type, Length: 10841, dtype: bool

In [22]:
# now, we'll make a dataframe off it

store[store['Type'] == 'Paid']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
234,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442,6.8M,"100,000+",Paid,$4.99,Everyone,Business,"March 25, 2018",1.5.2,4.0 and up
235,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295,39M,"100,000+",Paid,$4.99,Everyone,Business,"April 11, 2017",3.4.6,3.0 and up
290,TurboScan: scan documents and receipts in PDF,BUSINESS,4.7,11442,6.8M,"100,000+",Paid,$4.99,Everyone,Business,"March 25, 2018",1.5.2,4.0 and up
291,Tiny Scanner Pro: PDF Doc Scan,BUSINESS,4.8,10295,39M,"100,000+",Paid,$4.99,Everyone,Business,"April 11, 2017",3.4.6,3.0 and up
427,Puffin Browser Pro,COMMUNICATION,4.0,18247,Varies with device,"100,000+",Paid,$3.99,Everyone,Communication,"July 5, 2018",7.5.3.20547,4.1 and up
476,"Moco+ - Chat, Meet People",DATING,4.2,1545,Varies with device,"10,000+",Paid,$3.99,Mature 17+,Dating,"June 19, 2018",2.6.139,4.1 and up
477,Calculator,DATING,2.6,57,6.2M,"1,000+",Paid,$6.99,Everyone,Dating,"October 25, 2017",1.1.6,4.0 and up
478,Truth or Dare Pro,DATING,NaN,0,20M,50+,Paid,$1.49,Teen,Dating,"September 1, 2017",1.0,4.0 and up
479,"Private Dating, Hide App- Blue for PrivacyHider",DATING,NaN,0,18k,100+,Paid,$2.99,Everyone,Dating,"July 25, 2017",1.0.1,4.0 and up
480,Ad Blocker for SayHi,DATING,NaN,4,1.2M,100+,Paid,$3.99,Teen,Dating,"August 2, 2018",1.2,4.0.3 and up
481,AMBW Dating App: Asian Men Black Women Interra...,DATING,3.5,2,17M,100+,Paid,$7.99,Mature 17+,Dating,"January 21, 2017",1.0.1,4.0 and up
571,"Moco+ - Chat, Meet People",DATING,4.2,1546,Varies with device,"10,000+",Paid,$3.99,Mature 17+,Dating,"June 19, 2018",2.6.139,4.1 and up
851,Sago Mini Hat Maker,EDUCATION,4.9,11,63M,"1,000+",Paid,$3.99,Everyone,Education;Pretend Play,"July 24, 2017",1.0,4.0.3 and up
852,Fuzzy Numbers: Pre-K Number Foundation,EDUCATION,4.7,21,44M,"1,000+",Paid,$5.99,Everyone,Education;Education,"July 21, 2017",1.3,4.1 and up
853,Toca Life: City,EDUCATION,4.7,31085,24M,"500,000+",Paid,$3.99,Everyone,Education;Pretend Play,"July 6, 2018",1.5-play,4.4 and up
854,Toca Life: Hospital,EDUCATION,4.7,3528,24M,"100,000+",Paid,$3.99,Everyone,Education;Pretend Play,"June 12, 2018",1.1.1-play,4.4 and up
995,My Talking Pet,ENTERTAINMENT,4.6,6238,Varies with device,"100,000+",Paid,$4.99,Everyone,Entertainment,"June 30, 2018",Varies with device,Varies with device
1001,Meme Generator,ENTERTAINMENT,4.6,3771,53M,"100,000+",Paid,$2.99,Mature 17+,Entertainment,"August 3, 2018",4.426,4.1 and up
1227,My CookBook Pro (Ad Free),FOOD_AND_DRINK,4.6,2129,Varies with device,"10,000+",Paid,$3.49,Everyone,Food & Drink,"June 28, 2018",Varies with device,Varies with device
1228,Paprika Recipe Manager,FOOD_AND_DRINK,4.1,1268,2.3M,"50,000+",Paid,$4.99,Everyone,Food & Drink,"June 3, 2018",1.4.4,4.0 and up
1327,Pocket Yoga,HEALTH_AND_FITNESS,4.4,2107,Varies with device,"100,000+",Paid,$2.99,Everyone,Health & Fitness,"December 22, 2015",Varies with device,Varies with device
1335,Meditation Studio,HEALTH_AND_FITNESS,4.6,1026,29M,"10,000+",Paid,$3.99,Everyone,Health & Fitness,"May 15, 2018",1.0.6,4.3 and up
1341,Relax Melodies P: Sleep Sounds,HEALTH_AND_FITNESS,4.8,19543,Varies with device,"100,000+",Paid,$2.99,Everyone,Health & Fitness,"January 19, 2018",Varies with device,Varies with device
1347,Pocket Yoga,HEALTH_AND_FITNESS,4.4,2107,Varies with device,"100,000+",Paid,$2.99,Everyone,Health & Fitness,"December 22, 2015",Varies with device,Varies with device
1831,The Game of Life,GAME,4.4,18621,63M,"100,000+",Paid,$2.99,Everyone,Board,"July 4, 2018",2.1.2,4.4 and up
1832,Clue,GAME,4.6,19922,35M,"100,000+",Paid,$1.99,Everyone 10+,Board,"July 30, 2018",2.2.5,5.0 and up
1833,The Room: Old Sins,GAME,4.9,21119,48M,"100,000+",Paid,$4.99,Everyone,Puzzle,"April 18, 2018",1.0.1,4.4 and up
1834,The Escapists,GAME,4.4,7412,84M,"100,000+",Paid,$4.99,Teen,Strategy,"April 26, 2018",1.1.0,2.3 and up
1835,Farming Simulator 18,GAME,4.5,18125,15M,"100,000+",Paid,$4.99,Everyone,Simulation;Education,"July 9, 2018",Varies with device,4.4 and up
1836,RollerCoaster Tycoon® Classic,GAME,4.6,10795,69M,"100,000+",Paid,$5.99,Everyone,Simulation,"December 21, 2017",1.2.1.1712080,4.0.3 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10453,"Talkie Pro - Wi-Fi Calling, Chats, File Sharing",COMMUNICATION,4.5,201,Varies with device,"1,000+",Paid,$2.99,Everyone,Communication,"January 6, 2018",Varies with device,Varies with device
10457,WiFi Monitor Pro - analyzer of Wi-Fi networks,TOOLS,4.6,85,2.4M,"1,000+",Paid,$2.99,Everyone,Tools,"July 5, 2018",1.9,4.0 and up
10459,SCI-FI UI,FAMILY,4.7,15,3.9M,100+,Paid,$1.99,Everyone,Entertainment,"April 16, 2018",0.0.53,1.6 and up
10460,Wi-Fi Rabbit Unlock Key,TOOLS,4.5,142,26k,"5,000+",Paid,$1.00,Everyone,Tools,"June 26, 2011",1.0.0,2.1 and up
10517,FJ Toolkit,TOOLS,NaN,1,2.5M,100+,Paid,$1.49,Everyone,Tools,"December 21, 2015",14,4.0 and up
10531,Kernel Manager for Franco Kernel ✨,TOOLS,4.8,12700,10M,"100,000+",Paid,$3.49,Everyone,Tools,"August 3, 2018",3.2.5,5.0 and up
10540,Ray Financial Calculator Pro,FINANCE,4.0,67,2.4M,"10,000+",Paid,$2.99,Everyone,Finance,"July 3, 2017",4,3.2 and up
10570,FL SW Fishing Regulations,SPORTS,4.6,60,24M,"1,000+",Paid,$1.99,Everyone,Sports,"March 7, 2014",1.03,2.2 and up
10583,Florida Tides & Weather,WEATHER,3.8,30,2.0M,"1,000+",Paid,$6.99,Everyone,Weather,"May 6, 2015",2.0.0,2.3 and up
10586,FL Racing Manager 2015 Pro,SPORTS,4.4,656,22M,"5,000+",Paid,$0.99,Everyone,Sports,"March 12, 2016",0.858,3.0 and up
10594,FL Racing Manager 2018 Pro,SPORTS,4.3,340,15M,"5,000+",Paid,$1.99,Everyone,Sports,"March 17, 2018",1.18,3.0 and up
10645,Football Manager Mobile 2018,SPORTS,3.9,11460,Varies with device,"100,000+",Paid,$8.99,Everyone,Sports,"June 27, 2018",Varies with device,4.1 and up
10650,FN pistol Model 1906 explained,BOOKS_AND_REFERENCE,NaN,1,5.3M,10+,Paid,$5.49,Everyone,Books & Reference,"March 9, 2017",Android 3.0 - 2017,1.6 and up
10651,FN pistol model 1903 explained,BOOKS_AND_REFERENCE,NaN,1,19M,10+,Paid,$6.49,Everyone,Books & Reference,"September 5, 2015",Android 3.0 - 2015,1.6 and up
10661,"The FN ""Baby"" pistol explained",BOOKS_AND_REFERENCE,NaN,1,8.8M,10+,Paid,$5.99,Everyone,Books & Reference,"September 6, 2015",Android 3.0 - 2015,1.6 and up
10662,FN FAL rifle explained,BOOKS_AND_REFERENCE,NaN,1,7.3M,10+,Paid,$6.49,Everyone,Books & Reference,"September 6, 2015",Android 3.0 - 2015,1.6 and up
10664,The FN HP pistol explained,BOOKS_AND_REFERENCE,NaN,1,8.5M,10+,Paid,$6.49,Everyone,Books & Reference,"September 6, 2015",Android 3.0 - 2015,1.6 and up
10668,FN model 1900 pistol explained,BOOKS_AND_REFERENCE,NaN,0,8.2M,10+,Paid,$6.49,Everyone,Books & Reference,"September 5, 2015",Android 3.0 - 2015,1.6 and up
10669,Pistolet FN GP35 expliqué,BOOKS_AND_REFERENCE,NaN,2,7.9M,5+,Paid,$5.99,Everyone,Books & Reference,"August 19, 2014",Android 2.0 - 2014,1.6 and up
10674,Pistolet FN 1906 expliqué,BOOKS_AND_REFERENCE,NaN,0,5.2M,10+,Paid,$5.49,Everyone,Books & Reference,"August 17, 2014",Android 2.0 - 2014,1.6 and up
10675,Circle Colors Pack-FN Theme,PERSONALIZATION,4.2,6,89k,50+,Paid,$0.99,Everyone,Personalization,"August 9, 2013",1.0,2.2 and up
10679,Solitaire+,GAME,4.6,11235,Varies with device,"100,000+",Paid,$2.99,Everyone,Card,"July 30, 2018",Varies with device,Varies with device
10682,Fruit Ninja Classic,GAME,4.3,85468,36M,"1,000,000+",Paid,$0.99,Everyone,Arcade,"June 8, 2018",2.4.1.485300,4.0.3 and up
10690,FO Bixby,PERSONALIZATION,5.0,5,861k,100+,Paid,$0.99,Everyone,Personalization,"April 25, 2018",0.2,7.0 and up
10697,Mu.F.O.,GAME,5.0,2,16M,1+,Paid,$0.99,Everyone,Arcade,"March 3, 2017",1.0,2.3 and up
10735,FP VoiceBot,FAMILY,NaN,17,157k,100+,Paid,$0.99,Mature 17+,Entertainment,"November 25, 2015",1.2,2.1 and up
10760,Fast Tract Diet,HEALTH_AND_FITNESS,4.4,35,2.4M,"1,000+",Paid,$7.99,Everyone,Health & Fitness,"August 8, 2018",1.9.3,4.2 and up
10782,Trine 2: Complete Story,GAME,3.8,252,11M,"10,000+",Paid,$16.99,Teen,Action,"February 27, 2015",2.22,5.0 and up
10785,"sugar, sugar",FAMILY,4.2,1405,9.5M,"10,000+",Paid,$1.20,Everyone,Puzzle,"June 5, 2018",2.7,2.3 and up
10798,Word Search Tab 1 FR,FAMILY,NaN,0,1020k,50+,Paid,$1.04,Everyone,Puzzle,"February 6, 2012",1.1,3.0 and up

In [23]:
# Now since we're only interested in the price column, we'll filter that out:

price = store[store['Type'] == 'Paid']['Price']
price

234       $4.99
235       $4.99
290       $4.99
291       $4.99
427       $3.99
476       $3.99
477       $6.99
478       $1.49
479       $2.99
480       $3.99
481       $7.99
571       $3.99
851       $3.99
852       $5.99
853       $3.99
854       $3.99
995       $4.99
1001      $2.99
1227      $3.49
1228      $4.99
1327      $2.99
1335      $3.99
1341      $2.99
1347      $2.99
1831      $2.99
1832      $1.99
1833      $4.99
1834      $4.99
1835      $4.99
1836      $5.99
          ...
10453     $2.99
10457     $2.99
10459     $1.99
10460     $1.00
10517     $1.49
10531     $3.49
10540     $2.99
10570     $1.99
10583     $6.99
10586     $0.99
10594     $1.99
10645     $8.99
10650     $5.49
10651     $6.49
10661     $5.99
10662     $6.49
10664     $6.49
10668     $6.49
10669     $5.99
10674     $5.49
10675     $0.99
10679     $2.99
10682     $0.99
10690     $0.99
10697     $0.99
10735     $0.99
10760     $7.99
10782    $16.99
10785     $1.20
10798     $1.04
Name: Price, Length: 800, dtype: object

In [24]:
# now as you can see this series is an 'object' i.e. a string because it contains the dollar symbol
# We will get rid of this using the split() method which'll split each row according to our criteria

price_lst = []
for each_row in price:
    price_lst.append(pd.to_numeric(each_row.split('$')[1]))
price_lst

[4.99,
 4.99,
 4.99,
 4.99,
 3.99,
 3.99,
 6.99,
 1.49,
 2.99,
 3.99,
 7.99,
 3.99,
 3.99,
 5.99,
 3.99,
 3.99,
 4.99,
 2.99,
 3.49,
 4.99,
 2.99,
 3.99,
 2.99,
 2.99,
 2.99,
 1.99,
 4.99,
 4.99,
 4.99,
 5.99,
 6.99,
 9.99,
 4.99,
 3.99,
 2.99,
 3.99,
 2.99,
 3.99,
 3.99,
 4.99,
 3.99,
 2.99,
 7.49,
 2.99,
 0.99,
 0.99,
 0.99,
 4.99,
 2.99,
 4.99,
 2.99,
 4.99,
 4.99,
 2.99,
 2.99,
 3.99,
 3.99,
 2.99,
 2.99,
 3.99,
 3.99,
 6.99,
 2.99,
 9.0,
 0.99,
 5.49,
 9.99,
 6.99,
 10.0,
 3.99,
 5.99,
 24.99,
 11.99,
 79.99,
 11.99,
 2.99,
 16.99,
 3.99,
 2.99,
 9.99,
 3.99,
 14.99,
 2.99,
 3.99,
 2.99,
 1.0,
 29.99,
 2.99,
 2.99,
 12.99,
 4.99,
 2.99,
 14.99,
 5.99,
 3.49,
 0.99,
 2.49,
 24.99,
 10.99,
 1.99,
 24.99,
 4.99,
 3.99,
 2.99,
 7.49,
 1.5,
 2.99,
 3.99,
 1.99,
 9.99,
 3.99,
 3.99,
 3.99,
 7.99,
 14.99,
 9.99,
 3.99,
 19.99,
 29.99,
 15.99,
 0.99,
 33.99,
 0.99,
 79.99,
 9.0,
 24.99,
 9.99,
 10.0,
 16.99,
 11.99,
 29.99,
 14.99,
 74.99,
 11.99,
 6.99,
 5.49,
 14.99,
 9.99,
 33.99,
 29.99,
 24.99,
 12.99,
 39.99,
 5.99,
 2.99,
 24.99,
 19.99,
 2.99,
 0.99,
 5.99,
 0.99,
 5.99,
 2.99,
 5.99,
 3.95,
 5.99,
 29.99,
 2.49,
 0.99,
 0.99,
 9.99,
 4.49,
 5.99,
 4.49,
 1.99,
 1.49,
 1.99,
 3.99,
 1.7,
 0.99,
 1.99,
 0.99,
 2.99,
 2.99,
 0.99,
 0.99,
 0.99,
 2.99,
 8.99,
 4.99,
 2.99,
 4.99,
 5.99,
 39.99,
 2.49,
 2.0,
 1.49,
 4.99,
 1.7,
 1.49,
 2.99,
 3.88,
 0.99,
 14.99,
 1.49,
 0.99,
 25.99,
 1.49,
 5.99,
 1.99,
 3.99,
 399.99,
 17.99,
 1.99,
 0.99,
 0.99,
 1.99,
 4.99,
 1.99,
 1.99,
 5.99,
 3.99,
 6.99,
 2.99,
 399.99,
 400.0,
 2.99,
 4.99,
 2.99,
 2.99,
 0.99,
 2.49,
 2.99,
 0.99,
 3.99,
 2.99,
 2.49,
 1.99,
 4.99,
 0.99,
 1.99,
 2.49,
 0.99,
 3.02,
 6.99,
 1.99,
 1.49,
 0.99,
 1.49,
 0.99,
 1.49,
 1.49,
 1.49,
 1.49,
 0.99,
 0.99,
 1.49,
 1.49,
 1.49,
 1.49,
 0.99,
 1.49,
 0.99,
 0.99,
 0.99,
 1.49,
 1.76,
 4.84,
 1.99,
 1.99,
 4.99,
 4.77,
 0.99,
 4.99,
 1.99,
 2.49,
 2.99,
 4.99,
 4.99,
 5.99,
 2.99,
 4.99,
 1.61,
 0.99,
 3.99,
 2.49,
 7.99,
 9.99,
 3.99,
 0.99,
 14.99,
 1.99,
 0.99,
 1.99,
 1.99,
 1.99,
 1.99,
 0.99,
 0.99,
 2.99,
 0.99,
 3.99,
 1.49,
 1.99,
 2.99,
 1.49,
 0.99,
 2.5,
 5.99,
 19.99,
 1.99,
 1.59,
 1.99,
 9.99,
 1.49,
 1.99,
 2.99,
 2.99,
 1.99,
 2.99,
 3.99,
 2.99,
 0.99,
 6.49,
 1.29,
 2.99,
 0.99,
 0.99,
 0.99,
 19.99,
 4.99,
 5.0,
 4.99,
 0.99,
 0.99,
 4.99,
 1.99,
 2.99,
 2.99,
 2.49,
 1.99,
 3.99,
 4.99,
 0.99,
 0.99,
 0.99,
 0.99,
 0.99,
 0.99,
 13.99,
 4.49,
 399.99,
 399.99,
 299.99,
 399.99,
 379.99,
 399.99,
 399.99,
 37.99,
 18.99,
 399.99,
 399.99,
 389.99,
 4.99,
 399.99,
 2.49,
 399.99,
 2.99,
 2.99,
 2.99,
 2.99,
 2.99,
 9.99,
 1.49,
 4.99,
 0.99,
 4.99,
 1.99,
 29.99,
 1.99,
 2.99,
 0.99,
 5.99,
 1.99,
 2.99,
 2.99,
 2.99,
 2.99,
 2.99,
 0.99,
 2.49,
 2.99,
 19.9,
 1.99,
 1.99,
 0.99,
 1.99,
 0.99,
 0.99,
 0.99,
 1.99,
 0.99,
 0.99,
 4.99,
 8.49,
 3.99,
 3.99,
 1.99,
 1.49,
 1.99,
 1.49,
 2.99,
 2.99,
 2.99,
 4.49,
 3.99,
 0.99,
 1.75,
 4.99,
 1.49,
 1.49,
 4.99,
 11.99,
 1.99,
 0.99,
 0.99,
 0.99,
 1.99,
 5.99,
 2.99,
 1.49,
 9.99,
 4.99,
 7.99,
 3.99,
 4.99,
 9.99,
 2.49,
 4.99,
 0.99,
 0.99,
 4.49,
 14.0,
 2.99,
 1.99,
 4.85,
 0.99,
 14.99,
 3.99,
 1.99,
 3.99,
 2.0,
 1.99,
 3.99,
 2.99,
 3.99,
 0.99,
 0.99,
 0.99,
 6.99,
 6.99,
 2.99,
 2.99,
 2.49,
 1.99,
 46.99,
 0.99,
 2.49,
 0.99,
 2.99,
 0.99,
 0.99,
 5.99,
 5.49,
 109.99,
 3.95,
 0.99,
 4.49,
 1.49,
 154.99,
 5.99,
 0.99,
 1.49,
 3.08,
 0.99,
 2.59,
 4.8,
 8.99,
 17.99,
 2.99,
 3.49,
 0.99,
 2.49,
 0.99,
 1.49,
 0.99,
 0.99,
 2.99,
 4.99,
 4.99,
 0.99,
 3.99,
 4.99,
 0.99,
 0.99,
 0.99,
 0.99,
 7.99,
 1.49,
 0.99,
 4.99,
 2.99,
 4.99,
 2.0,
 2.99,
 3.99,
 2.49,
 1.49,
 0.99,
 2.99,
 3.99,
 2.99,
 0.99,
 1.99,
 0.99,
 3.99,
 1.99,
 1.96,
 19.4,
 2.99,
 3.99,
 14.99,
 3.9,
 2.99,
 0.99,
 2.99,
 0.99,
 0.99,
 0.99,
 6.99,
 0.99,
 0.99,
 19.99,
 0.99,
 4.99,
 1.99,
 2.99,
 0.99,
 3.99,
 2.99,
 3.99,
 0.99,
 1.99,
 2.99,
 4.99,
 2.99,
 2.99,
 2.99,
 2.99,
 4.59,
 0.99,
 0.99,
 1.49,
 1.49,
 0.99,
 1.99,
 3.49,
 9.99,
 1.99,
 2.49,
 0.99,
 0.99,
 4.49,
 9.99,
 15.46,
 0.99,
 9.99,
 6.99,
 2.49,
 4.99,
 0.99,
 1.49,
 1.49,
 4.99,
 0.99,
 1.49,
 2.99,
 0.99,
 3.99,
 1.99,
 2.49,
 1.49,
 2.49,
 2.49,
 4.99,
 4.99,
 10.0,
 1.99,
 5.99,
 5.99,
 5.99,
 0.99,
 5.49,
 5.99,
 5.99,
 5.99,
 0.99,
 3.49,
 4.99,
 2.99,
 2.99,
 8.99,
 2.99,
 0.99,
 0.99,
 3.49,
 1.49,
 4.99,
 4.99,
 2.99,
 3.04,
 3.99,
 29.99,
 2.99,
 2.99,
 3.99,
 0.99,
 2.99,
 8.99,
 4.99,
 12.99,
 2.49,
 2.99,
 2.99,
 0.99,
 2.99,
 0.99,
 1.99,
 0.99,
 0.99,
 1.99,
 1.99,
 2.99,
 4.49,
 8.49,
 2.49,
 19.99,
 9.99,
 1.99,
 2.99,
 4.99,
 14.99,
 9.99,
 13.99,
 4.29,
 2.99,
 2.99,
 2.99,
 1.99,
 3.99,
 4.99,
 4.99,
 3.99,
 2.99,
 2.99,
 2.99,
 4.99,
 12.99,
 2.6,
 3.28,
 4.99,
 2.99,
 2.99,
 2.99,
 4.99,
 3.99,
 3.99,
 4.6,
 4.99,
 0.99,
 1.49,
 2.99,
 1.0,
 0.99,
 5.99,
 0.99,
 2.99,
 2.99,
 1.99,
 0.99,
 0.99,
 0.99,
 1.49,
 3.99,
 2.99,
 1.49,
 0.99,
 5.99,
 28.99,
 0.99,
 4.99,
 0.99,
 0.99,
 0.99,
 10.99,
 14.99,
 1.99,
 9.99,
 12.99,
 0.99,
 2.99,
 3.99,
 1.49,
 9.99,
 2.95,
 1.99,
 2.99,
 1.99,
 2.9,
 0.99,
 1.99,
 1.97,
 2.99,
 24.99,
 3.99,
 0.99,
 2.49,
 4.49,
 6.99,
 4.99,
 1.99,
 2.49,
 1.99,
 0.99,
 2.99,
 2.99,
 1.99,
 0.99,
 3.99,
 0.99,
 1.99,
 200.0,
 2.99,
 89.99,
 2.99,
 2.99,
 4.99,
 2.56,
 0.99,
 30.99,
 3.61,
 394.99,
 1.26,
 5.99,
 399.99,
 2.99,
 0.99,
 9.99,
 0.99,
 2.49,
 1.99,
 0.99,
 4.99,
 1.49,
 4.99,
 4.99,
 4.99,
 4.99,
 4.99,
 1.99,
 0.99,
 0.99,
 3.99,
 1.49,
 2.99,
 1.99,
 1.99,
 2.99,
 0.99,
 7.99,
 2.99,
 2.99,
 1.99,
 1.0,
 1.49,
 3.49,
 2.99,
 1.99,
 6.99,
 0.99,
 1.99,
 8.99,
 5.49,
 6.49,
 5.99,
 6.49,
 6.49,
 6.49,
 5.99,
 5.49,
 0.99,
 2.99,
 0.99,
 0.99,
 0.99,
 0.99,
 7.99,
 16.99,
 1.2,
 1.04]

In [25]:
# Was that too much? I'll break it down for you.
# First we initialize an empty list: price_lst = []
# Next we loop over each row in the price column, splitting each of those rows on the '$' value
# and then take the second element of the splitted row

In [34]:
# for eg, the 234th row contains an app that is paid, and it is priced at $4.99
store['Price'][234]

'$4.99'

In [35]:
# as we can see here, the split makes a list of the values after splitting on our given string ($)
store['Price'][234].split('$')

['', '4.99']

In [36]:
# now we're only interested in the second element of this list, i.e. 4.99. Hence:

store['Price'][234].split('$')[1]

'4.99'

In [37]:
# Now this 4.99 is a string, expemplified by the quotes around it, or we can check it using type()

type(store['Price'][234].split('$')[1])

str

In [39]:
# Now we need to convert it to a numeric value, we'll do it using pd.to_numeric()

# and now that everything has been converted into a numeric, we can call the sum() method
# after converting it into a series:

pd.Series(price_lst).sum()

# It'll cost me over $11136 to buy out all the apps in the play store!

11136.670000000002

7. In the Placements dataset, slice the dataframe and give me data from 'Abou Wright' until 'Manuel Ramsey'

In [41]:
pl = pd.read_csv('data/placement-2.csv', index_col=0)
pl

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
names,,,,,,,,,,,,,,,
Thierry Curip,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
Jack Koscielny,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.50,Mkt&Fin,66.28,Placed,200000.0
Lukas Song,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
Abou Wright,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
Aaron Mertesacker,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
Patrick Arteta,6,M,55.00,Others,49.80,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
Manuel Ramsey,7,F,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
Abou Gibbs,8,M,82.00,Central,64.00,Central,Science,66.00,Sci&Tech,Yes,67.00,Mkt&Fin,62.14,Placed,252000.0
Mesut Fabregas,9,M,73.00,Central,79.00,Central,Commerce,72.00,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
Jens Noble,10,M,58.00,Central,70.00,Central,Commerce,61.00,Comm&Mgmt,No,54.00,Mkt&Fin,52.21,Not Placed,NaN
David Tierney,11,M,58.00,Central,61.00,Central,Commerce,60.00,Comm&Mgmt,Yes,62.00,Mkt&HR,60.85,Placed,260000.0
John Song,12,M,69.60,Central,68.40,Central,Commerce,78.30,Comm&Mgmt,Yes,60.00,Mkt&Fin,63.70,Placed,250000.0
Robert Lacazette,13,F,47.00,Central,55.00,Others,Science,65.00,Comm&Mgmt,No,62.00,Mkt&HR,65.04,Not Placed,NaN
Mark Lacazette,14,F,77.00,Central,87.00,Central,Commerce,59.00,Comm&Mgmt,No,68.00,Mkt&Fin,68.63,Placed,218000.0
Mark Lacazette,15,M,62.00,Central,47.00,Central,Commerce,50.00,Comm&Mgmt,No,76.00,Mkt&HR,54.96,Not Placed,NaN
Thierry Fabregas,16,F,65.00,Central,75.00,Central,Commerce,69.00,Comm&Mgmt,Yes,72.00,Mkt&Fin,64.66,Placed,200000.0
David Lacazette,17,M,63.00,Central,66.20,Central,Commerce,65.60,Comm&Mgmt,Yes,60.00,Mkt&Fin,62.54,Placed,300000.0
Aaron Gibbs,18,F,55.00,Central,67.00,Central,Commerce,64.00,Comm&Mgmt,No,60.00,Mkt&Fin,67.28,Not Placed,NaN
Per Arteta,19,F,63.00,Central,66.00,Central,Commerce,64.00,Comm&Mgmt,No,68.00,Mkt&HR,64.08,Not Placed,NaN
John Seaman,20,M,60.00,Others,67.00,Others,Arts,70.00,Comm&Mgmt,Yes,50.48,Mkt&Fin,77.89,Placed,236000.0
Jack Podolski,21,M,62.00,Others,65.00,Others,Commerce,66.00,Comm&Mgmt,No,50.00,Mkt&HR,56.70,Placed,265000.0
Thierry Dean,22,F,79.00,Others,76.00,Others,Commerce,85.00,Comm&Mgmt,No,95.00,Mkt&Fin,69.06,Placed,393000.0
Mark Henry,23,F,69.80,Others,60.80,Others,Science,72.23,Sci&Tech,No,55.53,Mkt&HR,68.81,Placed,360000.0
Andre Wright,24,F,77.40,Others,60.00,Others,Science,64.74,Sci&Tech,Yes,92.00,Mkt&Fin,63.62,Placed,300000.0
Mesut Koscielny,25,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0
Santi Wilshere,26,F,52.58,Others,54.60,Central,Commerce,50.20,Comm&Mgmt,Yes,76.00,Mkt&Fin,65.33,Not Placed,NaN
Sead Seaman,27,M,71.00,Others,79.00,Others,Commerce,66.00,Comm&Mgmt,Yes,94.00,Mkt&Fin,57.55,Placed,240000.0
Robert Seaman,28,M,63.00,Others,67.00,Others,Commerce,66.00,Comm&Mgmt,No,68.00,Mkt&HR,57.69,Placed,265000.0
Thierry Diaby,29,M,76.76,Others,76.50,Others,Commerce,67.50,Comm&Mgmt,Yes,73.35,Mkt&Fin,64.15,Placed,350000.0
Tomas Ramsey,30,M,62.00,Central,67.00,Central,Commerce,58.00,Comm&Mgmt,No,77.00,Mkt&Fin,51.29,Not Placed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Abou Tierney,186,F,88.00,Central,72.00,Central,Science,78.00,Others,No,82.00,Mkt&HR,71.43,Placed,252000.0
David Dean,187,F,52.00,Central,64.00,Central,Commerce,61.00,Comm&Mgmt,No,55.00,Mkt&Fin,62.93,Not Placed,NaN
Mark Lacazette,188,M,78.50,Central,65.50,Central,Science,67.00,Sci&Tech,Yes,95.00,Mkt&Fin,64.86,Placed,280000.0
Robert Noble,189,M,61.80,Others,47.00,Others,Commerce,54.38,Comm&Mgmt,No,57.00,Mkt&Fin,56.13,Not Placed,NaN
Olivier Curip,190,F,54.00,Central,77.60,Others,Commerce,69.20,Comm&Mgmt,No,95.65,Mkt&Fin,66.94,Not Placed,NaN
Hector Bergkamp,191,F,64.00,Others,70.20,Central,Commerce,61.00,Comm&Mgmt,No,50.00,Mkt&Fin,62.50,Not Placed,NaN
Hector Arteta,192,M,67.00,Others,61.00,Central,Science,72.00,Comm&Mgmt,No,72.00,Mkt&Fin,61.01,Placed,264000.0
Olivier Noble,193,M,65.20,Central,61.40,Central,Commerce,64.80,Comm&Mgmt,Yes,93.40,Mkt&Fin,57.34,Placed,270000.0
Abou Noble,194,F,60.00,Central,63.00,Central,Arts,56.00,Others,Yes,80.00,Mkt&HR,56.63,Placed,300000.0
Cesc Ramsey,195,M,52.00,Others,55.00,Others,Commerce,56.30,Comm&Mgmt,No,59.00,Mkt&Fin,64.74,Not Placed,NaN
Laurent Santos,196,M,66.00,Central,76.00,Central,Commerce,72.00,Comm&Mgmt,Yes,84.00,Mkt&HR,58.95,Placed,275000.0
Theo Diaby,197,M,72.00,Others,63.00,Others,Science,77.50,Sci&Tech,Yes,78.00,Mkt&Fin,54.48,Placed,250000.0
Per Bergkamp,198,F,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0
Manuel Belle,199,F,67.00,Central,70.00,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,71.96,Not Placed,NaN
Jens Curip,200,M,69.00,Others,65.00,Others,Commerce,57.00,Comm&Mgmt,No,73.00,Mkt&HR,55.80,Placed,265000.0
Kieran Wright,201,M,69.00,Others,60.00,Others,Commerce,65.00,Comm&Mgmt,No,87.55,Mkt&Fin,52.81,Placed,300000.0
Tomas Belle,202,M,54.20,Central,63.00,Others,Science,58.00,Comm&Mgmt,No,79.00,Mkt&HR,58.44,Not Placed,NaN
Mike Gibbs,203,M,70.00,Central,63.00,Central,Science,66.00,Sci&Tech,No,61.28,Mkt&HR,60.11,Placed,240000.0
David Curip,204,M,55.68,Others,61.33,Others,Commerce,56.87,Comm&Mgmt,No,66.00,Mkt&HR,58.30,Placed,260000.0
Mikel Song,205,F,74.00,Others,73.00,Others,Commerce,73.00,Comm&Mgmt,Yes,80.00,Mkt&Fin,67.69,Placed,210000.0
Dennis Koscielny,206,M,61.00,Others,62.00,Others,Commerce,65.00,Comm&Mgmt,No,62.00,Mkt&Fin,56.81,Placed,250000.0
John Mertesacker,207,M,41.00,Central,42.00,Central,Science,60.00,Comm&Mgmt,No,97.00,Mkt&Fin,53.39,Not Placed,NaN
Sead Diaby,208,M,83.33,Central,78.00,Others,Commerce,61.00,Comm&Mgmt,Yes,88.56,Mkt&Fin,71.55,Placed,300000.0
Robert Curip,209,F,43.00,Central,60.00,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,Not Placed,NaN
Santi Fabregas,210,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0
Thierry Seaman,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
Hector Wilshere,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
Theo Song,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.00,Mkt&Fin,69.72,Placed,295000.0
Jens Gibbs,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0
Thomas Podolski,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [43]:
pl['Abou Wright':'Manuel Ramsey']

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
names,,,,,,,,,,,,,,,
Abou Wright,4,M,56.0,Central,52.0,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
Aaron Mertesacker,5,M,85.8,Central,73.6,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
Patrick Arteta,6,M,55.0,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
Manuel Ramsey,7,F,46.0,Others,49.2,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN

In [44]:
# using label based locating
pl.loc['Abou Wright':'Manuel Ramsey', :] # Since I need all the columns, I pass in the :

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
names,,,,,,,,,,,,,,,
Abou Wright,4,M,56.0,Central,52.0,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
Aaron Mertesacker,5,M,85.8,Central,73.6,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
Patrick Arteta,6,M,55.0,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
Manuel Ramsey,7,F,46.0,Others,49.2,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN

In [45]:
pl.iloc[3:7, :] # using integer based locating

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
names,,,,,,,,,,,,,,,
Abou Wright,4,M,56.0,Central,52.0,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
Aaron Mertesacker,5,M,85.8,Central,73.6,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
Patrick Arteta,6,M,55.0,Others,49.8,Others,Science,67.25,Sci&Tech,Yes,55.00,Mkt&Fin,51.58,Not Placed,NaN
Manuel Ramsey,7,F,46.0,Others,49.2,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN

8. In the Placements dataset, how many peeps who didn't have workex got placed?

In [46]:
# method 1
pl['workex'] == 'No'

names
Thierry Curip         True
Jack Koscielny       False
Lukas Song            True
Abou Wright           True
Aaron Mertesacker     True
Patrick Arteta       False
Manuel Ramsey         True
Abou Gibbs           False
Mesut Fabregas        True
Jens Noble            True
David Tierney        False
John Song            False
Robert Lacazette      True
Mark Lacazette        True
Mark Lacazette        True
Thierry Fabregas     False
David Lacazette      False
Aaron Gibbs           True
Per Arteta            True
John Seaman          False
Jack Podolski         True
Thierry Dean          True
Mark Henry            True
Andre Wright         False
Mesut Koscielny       True
Santi Wilshere       False
Sead Seaman          False
Robert Seaman         True
Thierry Diaby        False
Tomas Ramsey          True
                     ...
Abou Tierney          True
David Dean            True
Mark Lacazette       False
Robert Noble          True
Olivier Curip         True
Hector Bergkamp       True
Hector Arteta         True
Olivier Noble        False
Abou Noble           False
Cesc Ramsey           True
Laurent Santos       False
Theo Diaby           False
Per Bergkamp          True
Manuel Belle          True
Jens Curip            True
Kieran Wright         True
Tomas Belle           True
Mike Gibbs            True
David Curip           True
Mikel Song           False
Dennis Koscielny      True
John Mertesacker      True
Sead Diaby           False
Robert Curip          True
Santi Fabregas        True
Thierry Seaman        True
Hector Wilshere       True
Theo Song            False
Jens Gibbs            True
Thomas Podolski       True
Name: workex, Length: 215, dtype: bool

In [47]:
pl[pl['workex'] == 'No']

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
names,,,,,,,,,,,,,,,
Thierry Curip,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
Lukas Song,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
Abou Wright,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
Aaron Mertesacker,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
Manuel Ramsey,7,F,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
Mesut Fabregas,9,M,73.00,Central,79.00,Central,Commerce,72.00,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
Jens Noble,10,M,58.00,Central,70.00,Central,Commerce,61.00,Comm&Mgmt,No,54.00,Mkt&Fin,52.21,Not Placed,NaN
Robert Lacazette,13,F,47.00,Central,55.00,Others,Science,65.00,Comm&Mgmt,No,62.00,Mkt&HR,65.04,Not Placed,NaN
Mark Lacazette,14,F,77.00,Central,87.00,Central,Commerce,59.00,Comm&Mgmt,No,68.00,Mkt&Fin,68.63,Placed,218000.0
Mark Lacazette,15,M,62.00,Central,47.00,Central,Commerce,50.00,Comm&Mgmt,No,76.00,Mkt&HR,54.96,Not Placed,NaN
Aaron Gibbs,18,F,55.00,Central,67.00,Central,Commerce,64.00,Comm&Mgmt,No,60.00,Mkt&Fin,67.28,Not Placed,NaN
Per Arteta,19,F,63.00,Central,66.00,Central,Commerce,64.00,Comm&Mgmt,No,68.00,Mkt&HR,64.08,Not Placed,NaN
Jack Podolski,21,M,62.00,Others,65.00,Others,Commerce,66.00,Comm&Mgmt,No,50.00,Mkt&HR,56.70,Placed,265000.0
Thierry Dean,22,F,79.00,Others,76.00,Others,Commerce,85.00,Comm&Mgmt,No,95.00,Mkt&Fin,69.06,Placed,393000.0
Mark Henry,23,F,69.80,Others,60.80,Others,Science,72.23,Sci&Tech,No,55.53,Mkt&HR,68.81,Placed,360000.0
Mesut Koscielny,25,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0
Robert Seaman,28,M,63.00,Others,67.00,Others,Commerce,66.00,Comm&Mgmt,No,68.00,Mkt&HR,57.69,Placed,265000.0
Tomas Ramsey,30,M,62.00,Central,67.00,Central,Commerce,58.00,Comm&Mgmt,No,77.00,Mkt&Fin,51.29,Not Placed,NaN
Aaron Song,31,F,64.00,Central,73.50,Central,Commerce,73.00,Comm&Mgmt,No,52.00,Mkt&HR,56.70,Placed,250000.0
Per Wilshere,32,F,67.00,Central,53.00,Central,Science,65.00,Sci&Tech,No,64.00,Mkt&HR,58.32,Not Placed,NaN
Hector Gibbs,33,F,61.00,Central,81.00,Central,Commerce,66.40,Comm&Mgmt,No,50.89,Mkt&HR,62.21,Placed,278000.0
Mike Fabregas,35,M,62.00,Others,51.00,Others,Science,52.00,Others,No,68.44,Mkt&HR,62.77,Not Placed,NaN
Thomas Curip,36,F,69.00,Central,78.00,Central,Commerce,72.00,Comm&Mgmt,No,71.00,Mkt&HR,62.74,Placed,300000.0
Manuel Wilshere,37,M,51.00,Central,44.00,Central,Commerce,57.00,Comm&Mgmt,No,64.00,Mkt&Fin,51.45,Not Placed,NaN
John Henry,38,F,79.00,Central,76.00,Central,Science,65.60,Sci&Tech,No,58.00,Mkt&HR,55.47,Placed,320000.0
Tomas Santos,39,F,73.00,Others,58.00,Others,Science,66.00,Comm&Mgmt,No,53.70,Mkt&HR,56.86,Placed,240000.0
Mark Ramsey,40,M,81.00,Others,68.00,Others,Science,64.00,Sci&Tech,No,93.00,Mkt&Fin,62.56,Placed,411000.0
Andre Belle,41,F,78.00,Central,77.00,Others,Commerce,80.00,Comm&Mgmt,No,60.00,Mkt&Fin,66.72,Placed,287000.0
Dennis Wilshere,43,M,49.00,Others,39.00,Central,Science,65.00,Others,No,63.00,Mkt&Fin,51.21,Not Placed,NaN
Theo Ramsey,44,M,87.00,Others,87.00,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,Placed,300000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lukas Bergkamp,174,F,52.00,Others,52.00,Others,Science,55.00,Sci&Tech,No,67.00,Mkt&HR,59.32,Not Placed,NaN
Mark Belle,176,M,63.00,Others,62.00,Others,Science,65.00,Sci&Tech,No,87.50,Mkt&HR,60.69,Not Placed,NaN
Sead Henry,177,F,59.00,Central,60.00,Others,Commerce,56.00,Comm&Mgmt,No,55.00,Mkt&HR,57.90,Placed,220000.0
Thomas Wilshere,179,M,68.00,Others,56.00,Others,Science,68.00,Sci&Tech,No,73.00,Mkt&HR,68.07,Placed,350000.0
Manuel Arteta,180,F,77.80,Central,64.00,Central,Science,64.20,Sci&Tech,No,75.50,Mkt&HR,72.14,Not Placed,NaN
Nacho Mertesacker,182,M,62.00,Central,60.33,Others,Science,64.21,Sci&Tech,No,63.00,Mkt&HR,60.02,Not Placed,NaN
Hector Belle,184,M,65.00,Central,77.00,Central,Commerce,69.00,Comm&Mgmt,No,60.00,Mkt&HR,61.82,Placed,276000.0
Dennis Tierney,185,F,56.28,Others,62.83,Others,Commerce,59.79,Comm&Mgmt,No,60.00,Mkt&HR,57.29,Not Placed,NaN
Abou Tierney,186,F,88.00,Central,72.00,Central,Science,78.00,Others,No,82.00,Mkt&HR,71.43,Placed,252000.0
David Dean,187,F,52.00,Central,64.00,Central,Commerce,61.00,Comm&Mgmt,No,55.00,Mkt&Fin,62.93,Not Placed,NaN
Robert Noble,189,M,61.80,Others,47.00,Others,Commerce,54.38,Comm&Mgmt,No,57.00,Mkt&Fin,56.13,Not Placed,NaN
Olivier Curip,190,F,54.00,Central,77.60,Others,Commerce,69.20,Comm&Mgmt,No,95.65,Mkt&Fin,66.94,Not Placed,NaN
Hector Bergkamp,191,F,64.00,Others,70.20,Central,Commerce,61.00,Comm&Mgmt,No,50.00,Mkt&Fin,62.50,Not Placed,NaN
Hector Arteta,192,M,67.00,Others,61.00,Central,Science,72.00,Comm&Mgmt,No,72.00,Mkt&Fin,61.01,Placed,264000.0
Cesc Ramsey,195,M,52.00,Others,55.00,Others,Commerce,56.30,Comm&Mgmt,No,59.00,Mkt&Fin,64.74,Not Placed,NaN
Per Bergkamp,198,F,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0
Manuel Belle,199,F,67.00,Central,70.00,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,71.96,Not Placed,NaN
Jens Curip,200,M,69.00,Others,65.00,Others,Commerce,57.00,Comm&Mgmt,No,73.00,Mkt&HR,55.80,Placed,265000.0
Kieran Wright,201,M,69.00,Others,60.00,Others,Commerce,65.00,Comm&Mgmt,No,87.55,Mkt&Fin,52.81,Placed,300000.0
Tomas Belle,202,M,54.20,Central,63.00,Others,Science,58.00,Comm&Mgmt,No,79.00,Mkt&HR,58.44,Not Placed,NaN
Mike Gibbs,203,M,70.00,Central,63.00,Central,Science,66.00,Sci&Tech,No,61.28,Mkt&HR,60.11,Placed,240000.0
David Curip,204,M,55.68,Others,61.33,Others,Commerce,56.87,Comm&Mgmt,No,66.00,Mkt&HR,58.30,Placed,260000.0
Dennis Koscielny,206,M,61.00,Others,62.00,Others,Commerce,65.00,Comm&Mgmt,No,62.00,Mkt&Fin,56.81,Placed,250000.0
John Mertesacker,207,M,41.00,Central,42.00,Central,Science,60.00,Comm&Mgmt,No,97.00,Mkt&Fin,53.39,Not Placed,NaN
Robert Curip,209,F,43.00,Central,60.00,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,Not Placed,NaN
Santi Fabregas,210,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0
Thierry Seaman,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
Hector Wilshere,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
Jens Gibbs,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0
Thomas Podolski,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [48]:
pl[pl['workex'] == 'No']['status'] == 'Placed'

names
Thierry Curip         True
Lukas Song            True
Abou Wright          False
Aaron Mertesacker     True
Manuel Ramsey        False
Mesut Fabregas        True
Jens Noble           False
Robert Lacazette     False
Mark Lacazette        True
Mark Lacazette       False
Aaron Gibbs          False
Per Arteta           False
Jack Podolski         True
Thierry Dean          True
Mark Henry            True
Mesut Koscielny       True
Robert Seaman         True
Tomas Ramsey         False
Aaron Song            True
Per Wilshere         False
Hector Gibbs          True
Mike Fabregas        False
Thomas Curip          True
Manuel Wilshere      False
John Henry            True
Tomas Santos          True
Mark Ramsey           True
Andre Belle           True
Dennis Wilshere      False
Theo Ramsey           True
                     ...
Lukas Bergkamp       False
Mark Belle           False
Sead Henry            True
Thomas Wilshere       True
Manuel Arteta        False
Nacho Mertesacker    False
Hector Belle          True
Dennis Tierney       False
Abou Tierney          True
David Dean           False
Robert Noble         False
Olivier Curip        False
Hector Bergkamp      False
Hector Arteta         True
Cesc Ramsey          False
Per Bergkamp          True
Manuel Belle         False
Jens Curip            True
Kieran Wright         True
Tomas Belle          False
Mike Gibbs            True
David Curip           True
Dennis Koscielny      True
John Mertesacker     False
Robert Curip         False
Santi Fabregas        True
Thierry Seaman        True
Hector Wilshere       True
Jens Gibbs            True
Thomas Podolski      False
Name: status, Length: 141, dtype: bool

In [55]:
no_workex = pl[pl['workex'] == 'No']
no_workex

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
names,,,,,,,,,,,,,,,
Thierry Curip,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
Lukas Song,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
Abou Wright,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.00,Mkt&HR,59.43,Not Placed,NaN
Aaron Mertesacker,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
Manuel Ramsey,7,F,46.00,Others,49.20,Others,Commerce,79.00,Comm&Mgmt,No,74.28,Mkt&Fin,53.29,Not Placed,NaN
Mesut Fabregas,9,M,73.00,Central,79.00,Central,Commerce,72.00,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
Jens Noble,10,M,58.00,Central,70.00,Central,Commerce,61.00,Comm&Mgmt,No,54.00,Mkt&Fin,52.21,Not Placed,NaN
Robert Lacazette,13,F,47.00,Central,55.00,Others,Science,65.00,Comm&Mgmt,No,62.00,Mkt&HR,65.04,Not Placed,NaN
Mark Lacazette,14,F,77.00,Central,87.00,Central,Commerce,59.00,Comm&Mgmt,No,68.00,Mkt&Fin,68.63,Placed,218000.0
Mark Lacazette,15,M,62.00,Central,47.00,Central,Commerce,50.00,Comm&Mgmt,No,76.00,Mkt&HR,54.96,Not Placed,NaN
Aaron Gibbs,18,F,55.00,Central,67.00,Central,Commerce,64.00,Comm&Mgmt,No,60.00,Mkt&Fin,67.28,Not Placed,NaN
Per Arteta,19,F,63.00,Central,66.00,Central,Commerce,64.00,Comm&Mgmt,No,68.00,Mkt&HR,64.08,Not Placed,NaN
Jack Podolski,21,M,62.00,Others,65.00,Others,Commerce,66.00,Comm&Mgmt,No,50.00,Mkt&HR,56.70,Placed,265000.0
Thierry Dean,22,F,79.00,Others,76.00,Others,Commerce,85.00,Comm&Mgmt,No,95.00,Mkt&Fin,69.06,Placed,393000.0
Mark Henry,23,F,69.80,Others,60.80,Others,Science,72.23,Sci&Tech,No,55.53,Mkt&HR,68.81,Placed,360000.0
Mesut Koscielny,25,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0
Robert Seaman,28,M,63.00,Others,67.00,Others,Commerce,66.00,Comm&Mgmt,No,68.00,Mkt&HR,57.69,Placed,265000.0
Tomas Ramsey,30,M,62.00,Central,67.00,Central,Commerce,58.00,Comm&Mgmt,No,77.00,Mkt&Fin,51.29,Not Placed,NaN
Aaron Song,31,F,64.00,Central,73.50,Central,Commerce,73.00,Comm&Mgmt,No,52.00,Mkt&HR,56.70,Placed,250000.0
Per Wilshere,32,F,67.00,Central,53.00,Central,Science,65.00,Sci&Tech,No,64.00,Mkt&HR,58.32,Not Placed,NaN
Hector Gibbs,33,F,61.00,Central,81.00,Central,Commerce,66.40,Comm&Mgmt,No,50.89,Mkt&HR,62.21,Placed,278000.0
Mike Fabregas,35,M,62.00,Others,51.00,Others,Science,52.00,Others,No,68.44,Mkt&HR,62.77,Not Placed,NaN
Thomas Curip,36,F,69.00,Central,78.00,Central,Commerce,72.00,Comm&Mgmt,No,71.00,Mkt&HR,62.74,Placed,300000.0
Manuel Wilshere,37,M,51.00,Central,44.00,Central,Commerce,57.00,Comm&Mgmt,No,64.00,Mkt&Fin,51.45,Not Placed,NaN
John Henry,38,F,79.00,Central,76.00,Central,Science,65.60,Sci&Tech,No,58.00,Mkt&HR,55.47,Placed,320000.0
Tomas Santos,39,F,73.00,Others,58.00,Others,Science,66.00,Comm&Mgmt,No,53.70,Mkt&HR,56.86,Placed,240000.0
Mark Ramsey,40,M,81.00,Others,68.00,Others,Science,64.00,Sci&Tech,No,93.00,Mkt&Fin,62.56,Placed,411000.0
Andre Belle,41,F,78.00,Central,77.00,Others,Commerce,80.00,Comm&Mgmt,No,60.00,Mkt&Fin,66.72,Placed,287000.0
Dennis Wilshere,43,M,49.00,Others,39.00,Central,Science,65.00,Others,No,63.00,Mkt&Fin,51.21,Not Placed,NaN
Theo Ramsey,44,M,87.00,Others,87.00,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,Placed,300000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lukas Bergkamp,174,F,52.00,Others,52.00,Others,Science,55.00,Sci&Tech,No,67.00,Mkt&HR,59.32,Not Placed,NaN
Mark Belle,176,M,63.00,Others,62.00,Others,Science,65.00,Sci&Tech,No,87.50,Mkt&HR,60.69,Not Placed,NaN
Sead Henry,177,F,59.00,Central,60.00,Others,Commerce,56.00,Comm&Mgmt,No,55.00,Mkt&HR,57.90,Placed,220000.0
Thomas Wilshere,179,M,68.00,Others,56.00,Others,Science,68.00,Sci&Tech,No,73.00,Mkt&HR,68.07,Placed,350000.0
Manuel Arteta,180,F,77.80,Central,64.00,Central,Science,64.20,Sci&Tech,No,75.50,Mkt&HR,72.14,Not Placed,NaN
Nacho Mertesacker,182,M,62.00,Central,60.33,Others,Science,64.21,Sci&Tech,No,63.00,Mkt&HR,60.02,Not Placed,NaN
Hector Belle,184,M,65.00,Central,77.00,Central,Commerce,69.00,Comm&Mgmt,No,60.00,Mkt&HR,61.82,Placed,276000.0
Dennis Tierney,185,F,56.28,Others,62.83,Others,Commerce,59.79,Comm&Mgmt,No,60.00,Mkt&HR,57.29,Not Placed,NaN
Abou Tierney,186,F,88.00,Central,72.00,Central,Science,78.00,Others,No,82.00,Mkt&HR,71.43,Placed,252000.0
David Dean,187,F,52.00,Central,64.00,Central,Commerce,61.00,Comm&Mgmt,No,55.00,Mkt&Fin,62.93,Not Placed,NaN
Robert Noble,189,M,61.80,Others,47.00,Others,Commerce,54.38,Comm&Mgmt,No,57.00,Mkt&Fin,56.13,Not Placed,NaN
Olivier Curip,190,F,54.00,Central,77.60,Others,Commerce,69.20,Comm&Mgmt,No,95.65,Mkt&Fin,66.94,Not Placed,NaN
Hector Bergkamp,191,F,64.00,Others,70.20,Central,Commerce,61.00,Comm&Mgmt,No,50.00,Mkt&Fin,62.50,Not Placed,NaN
Hector Arteta,192,M,67.00,Others,61.00,Central,Science,72.00,Comm&Mgmt,No,72.00,Mkt&Fin,61.01,Placed,264000.0
Cesc Ramsey,195,M,52.00,Others,55.00,Others,Commerce,56.30,Comm&Mgmt,No,59.00,Mkt&Fin,64.74,Not Placed,NaN
Per Bergkamp,198,F,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0
Manuel Belle,199,F,67.00,Central,70.00,Central,Commerce,65.00,Others,No,88.00,Mkt&HR,71.96,Not Placed,NaN
Jens Curip,200,M,69.00,Others,65.00,Others,Commerce,57.00,Comm&Mgmt,No,73.00,Mkt&HR,55.80,Placed,265000.0
Kieran Wright,201,M,69.00,Others,60.00,Others,Commerce,65.00,Comm&Mgmt,No,87.55,Mkt&Fin,52.81,Placed,300000.0
Tomas Belle,202,M,54.20,Central,63.00,Others,Science,58.00,Comm&Mgmt,No,79.00,Mkt&HR,58.44,Not Placed,NaN
Mike Gibbs,203,M,70.00,Central,63.00,Central,Science,66.00,Sci&Tech,No,61.28,Mkt&HR,60.11,Placed,240000.0
David Curip,204,M,55.68,Others,61.33,Others,Commerce,56.87,Comm&Mgmt,No,66.00,Mkt&HR,58.30,Placed,260000.0
Dennis Koscielny,206,M,61.00,Others,62.00,Others,Commerce,65.00,Comm&Mgmt,No,62.00,Mkt&Fin,56.81,Placed,250000.0
John Mertesacker,207,M,41.00,Central,42.00,Central,Science,60.00,Comm&Mgmt,No,97.00,Mkt&Fin,53.39,Not Placed,NaN
Robert Curip,209,F,43.00,Central,60.00,Others,Science,65.00,Comm&Mgmt,No,92.66,Mkt&HR,62.92,Not Placed,NaN
Santi Fabregas,210,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0
Thierry Seaman,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
Hector Wilshere,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
Jens Gibbs,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0
Thomas Podolski,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.00,Mkt&HR,60.22,Not Placed,NaN

In [57]:
no_workex[no_workex['status'] == 'Placed']

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
names,,,,,,,,,,,,,,,
Thierry Curip,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
Lukas Song,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
Aaron Mertesacker,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
Mesut Fabregas,9,M,73.00,Central,79.00,Central,Commerce,72.00,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
Mark Lacazette,14,F,77.00,Central,87.00,Central,Commerce,59.00,Comm&Mgmt,No,68.00,Mkt&Fin,68.63,Placed,218000.0
Jack Podolski,21,M,62.00,Others,65.00,Others,Commerce,66.00,Comm&Mgmt,No,50.00,Mkt&HR,56.70,Placed,265000.0
Thierry Dean,22,F,79.00,Others,76.00,Others,Commerce,85.00,Comm&Mgmt,No,95.00,Mkt&Fin,69.06,Placed,393000.0
Mark Henry,23,F,69.80,Others,60.80,Others,Science,72.23,Sci&Tech,No,55.53,Mkt&HR,68.81,Placed,360000.0
Mesut Koscielny,25,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0
Robert Seaman,28,M,63.00,Others,67.00,Others,Commerce,66.00,Comm&Mgmt,No,68.00,Mkt&HR,57.69,Placed,265000.0
Aaron Song,31,F,64.00,Central,73.50,Central,Commerce,73.00,Comm&Mgmt,No,52.00,Mkt&HR,56.70,Placed,250000.0
Hector Gibbs,33,F,61.00,Central,81.00,Central,Commerce,66.40,Comm&Mgmt,No,50.89,Mkt&HR,62.21,Placed,278000.0
Thomas Curip,36,F,69.00,Central,78.00,Central,Commerce,72.00,Comm&Mgmt,No,71.00,Mkt&HR,62.74,Placed,300000.0
John Henry,38,F,79.00,Central,76.00,Central,Science,65.60,Sci&Tech,No,58.00,Mkt&HR,55.47,Placed,320000.0
Tomas Santos,39,F,73.00,Others,58.00,Others,Science,66.00,Comm&Mgmt,No,53.70,Mkt&HR,56.86,Placed,240000.0
Mark Ramsey,40,M,81.00,Others,68.00,Others,Science,64.00,Sci&Tech,No,93.00,Mkt&Fin,62.56,Placed,411000.0
Andre Belle,41,F,78.00,Central,77.00,Others,Commerce,80.00,Comm&Mgmt,No,60.00,Mkt&Fin,66.72,Placed,287000.0
Theo Ramsey,44,M,87.00,Others,87.00,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,Placed,300000.0
Sead Wright,49,M,63.00,Others,62.00,Others,Commerce,68.00,Comm&Mgmt,No,64.00,Mkt&Fin,62.46,Placed,250000.0
Santi Noble,51,F,75.20,Central,73.20,Central,Science,68.40,Comm&Mgmt,No,65.00,Mkt&HR,62.98,Placed,200000.0
Mark Bergkamp,54,M,80.00,Others,70.00,Others,Science,72.00,Sci&Tech,No,87.00,Mkt&HR,71.04,Placed,450000.0
Theo Bergkamp,55,F,74.00,Central,60.00,Others,Science,69.00,Comm&Mgmt,No,78.00,Mkt&HR,65.56,Placed,216000.0
Theo Ramsey,56,M,60.40,Central,66.60,Others,Science,65.00,Comm&Mgmt,No,71.00,Mkt&HR,52.71,Placed,220000.0
Jens Wilshere,57,M,63.00,Others,71.40,Others,Commerce,61.40,Comm&Mgmt,No,68.00,Mkt&Fin,66.88,Placed,240000.0
Alex Fabregas,58,M,68.00,Central,76.00,Central,Commerce,74.00,Comm&Mgmt,No,80.00,Mkt&Fin,63.59,Placed,360000.0
Sead Noble,59,M,74.00,Central,62.00,Others,Science,68.00,Comm&Mgmt,No,74.00,Mkt&Fin,57.99,Placed,268000.0
Thierry Song,60,M,52.60,Central,65.58,Others,Science,72.11,Sci&Tech,No,57.60,Mkt&Fin,56.66,Placed,265000.0
Robert Song,62,M,84.20,Central,73.40,Central,Commerce,66.89,Comm&Mgmt,No,61.60,Mkt&Fin,62.48,Placed,300000.0
Cesc Diaby,63,F,86.50,Others,64.20,Others,Science,67.40,Sci&Tech,No,59.00,Mkt&Fin,59.69,Placed,240000.0
Abou Henry,65,M,80.00,Others,73.00,Others,Commerce,75.00,Comm&Mgmt,No,61.00,Mkt&Fin,58.78,Placed,240000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Alex Lacazette,126,F,84.00,Central,73.00,Central,Commerce,73.00,Comm&Mgmt,No,75.00,Mkt&Fin,73.33,Placed,350000.0
Per Arteta,128,F,72.00,Others,60.00,Others,Science,69.00,Comm&Mgmt,No,55.50,Mkt&HR,58.40,Placed,250000.0
Robert Wright,136,F,72.00,Central,56.00,Others,Science,69.00,Comm&Mgmt,No,55.60,Mkt&HR,65.63,Placed,200000.0
Per Bellerin,138,M,67.00,Others,63.00,Central,Commerce,72.00,Comm&Mgmt,No,56.00,Mkt&HR,60.41,Placed,225000.0
Jack Noble,144,M,77.67,Others,64.89,Others,Commerce,70.67,Comm&Mgmt,No,89.00,Mkt&Fin,60.39,Placed,300000.0
David Diaby,146,M,89.40,Others,65.66,Others,Science,71.25,Sci&Tech,No,72.00,Mkt&HR,63.23,Placed,400000.0
Cesc Santos,147,M,62.00,Central,63.00,Others,Science,66.00,Comm&Mgmt,No,85.00,Mkt&HR,55.14,Placed,233000.0
Robin Koscielny,148,M,70.00,Central,74.00,Central,Commerce,65.00,Comm&Mgmt,No,83.00,Mkt&Fin,62.28,Placed,300000.0
Per Arteta,149,F,77.00,Central,86.00,Central,Arts,56.00,Others,No,57.00,Mkt&Fin,64.08,Placed,240000.0
Jack Noble,152,M,65.00,Central,65.00,Central,Commerce,75.00,Comm&Mgmt,No,83.00,Mkt&Fin,58.87,Placed,270000.0
Thomas Gibbs,153,F,75.40,Others,60.50,Central,Science,84.00,Sci&Tech,No,98.00,Mkt&Fin,65.25,Placed,240000.0
Mark Curip,158,M,66.50,Central,62.50,Central,Commerce,60.90,Comm&Mgmt,No,93.40,Mkt&Fin,55.03,Placed,300000.0
Theo Wright,164,M,63.00,Others,67.00,Others,Science,64.00,Sci&Tech,No,75.00,Mkt&Fin,66.46,Placed,500000.0
Tomas Bellerin,165,F,67.16,Central,72.50,Central,Commerce,63.35,Comm&Mgmt,No,53.04,Mkt&Fin,65.52,Placed,250000.0
Aaron Podolski,173,M,73.00,Others,58.00,Others,Commerce,56.00,Comm&Mgmt,No,84.00,Mkt&HR,52.64,Placed,300000.0
Sead Henry,177,F,59.00,Central,60.00,Others,Commerce,56.00,Comm&Mgmt,No,55.00,Mkt&HR,57.90,Placed,220000.0
Thomas Wilshere,179,M,68.00,Others,56.00,Others,Science,68.00,Sci&Tech,No,73.00,Mkt&HR,68.07,Placed,350000.0
Hector Belle,184,M,65.00,Central,77.00,Central,Commerce,69.00,Comm&Mgmt,No,60.00,Mkt&HR,61.82,Placed,276000.0
Abou Tierney,186,F,88.00,Central,72.00,Central,Science,78.00,Others,No,82.00,Mkt&HR,71.43,Placed,252000.0
Hector Arteta,192,M,67.00,Others,61.00,Central,Science,72.00,Comm&Mgmt,No,72.00,Mkt&Fin,61.01,Placed,264000.0
Per Bergkamp,198,F,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0
Jens Curip,200,M,69.00,Others,65.00,Others,Commerce,57.00,Comm&Mgmt,No,73.00,Mkt&HR,55.80,Placed,265000.0
Kieran Wright,201,M,69.00,Others,60.00,Others,Commerce,65.00,Comm&Mgmt,No,87.55,Mkt&Fin,52.81,Placed,300000.0
Mike Gibbs,203,M,70.00,Central,63.00,Central,Science,66.00,Sci&Tech,No,61.28,Mkt&HR,60.11,Placed,240000.0
David Curip,204,M,55.68,Others,61.33,Others,Commerce,56.87,Comm&Mgmt,No,66.00,Mkt&HR,58.30,Placed,260000.0
Dennis Koscielny,206,M,61.00,Others,62.00,Others,Commerce,65.00,Comm&Mgmt,No,62.00,Mkt&Fin,56.81,Placed,250000.0
Santi Fabregas,210,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0
Thierry Seaman,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
Hector Wilshere,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
Jens Gibbs,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0

In [59]:
# method 2:

no_workex_placed_query_method = pl.query('workex == "No" & status == "Placed"')
no_workex_placed_query_method

# See, so simple!

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
names,,,,,,,,,,,,,,,
Thierry Curip,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
Lukas Song,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
Aaron Mertesacker,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
Mesut Fabregas,9,M,73.00,Central,79.00,Central,Commerce,72.00,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
Mark Lacazette,14,F,77.00,Central,87.00,Central,Commerce,59.00,Comm&Mgmt,No,68.00,Mkt&Fin,68.63,Placed,218000.0
Jack Podolski,21,M,62.00,Others,65.00,Others,Commerce,66.00,Comm&Mgmt,No,50.00,Mkt&HR,56.70,Placed,265000.0
Thierry Dean,22,F,79.00,Others,76.00,Others,Commerce,85.00,Comm&Mgmt,No,95.00,Mkt&Fin,69.06,Placed,393000.0
Mark Henry,23,F,69.80,Others,60.80,Others,Science,72.23,Sci&Tech,No,55.53,Mkt&HR,68.81,Placed,360000.0
Mesut Koscielny,25,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0
Robert Seaman,28,M,63.00,Others,67.00,Others,Commerce,66.00,Comm&Mgmt,No,68.00,Mkt&HR,57.69,Placed,265000.0
Aaron Song,31,F,64.00,Central,73.50,Central,Commerce,73.00,Comm&Mgmt,No,52.00,Mkt&HR,56.70,Placed,250000.0
Hector Gibbs,33,F,61.00,Central,81.00,Central,Commerce,66.40,Comm&Mgmt,No,50.89,Mkt&HR,62.21,Placed,278000.0
Thomas Curip,36,F,69.00,Central,78.00,Central,Commerce,72.00,Comm&Mgmt,No,71.00,Mkt&HR,62.74,Placed,300000.0
John Henry,38,F,79.00,Central,76.00,Central,Science,65.60,Sci&Tech,No,58.00,Mkt&HR,55.47,Placed,320000.0
Tomas Santos,39,F,73.00,Others,58.00,Others,Science,66.00,Comm&Mgmt,No,53.70,Mkt&HR,56.86,Placed,240000.0
Mark Ramsey,40,M,81.00,Others,68.00,Others,Science,64.00,Sci&Tech,No,93.00,Mkt&Fin,62.56,Placed,411000.0
Andre Belle,41,F,78.00,Central,77.00,Others,Commerce,80.00,Comm&Mgmt,No,60.00,Mkt&Fin,66.72,Placed,287000.0
Theo Ramsey,44,M,87.00,Others,87.00,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,Placed,300000.0
Sead Wright,49,M,63.00,Others,62.00,Others,Commerce,68.00,Comm&Mgmt,No,64.00,Mkt&Fin,62.46,Placed,250000.0
Santi Noble,51,F,75.20,Central,73.20,Central,Science,68.40,Comm&Mgmt,No,65.00,Mkt&HR,62.98,Placed,200000.0
Mark Bergkamp,54,M,80.00,Others,70.00,Others,Science,72.00,Sci&Tech,No,87.00,Mkt&HR,71.04,Placed,450000.0
Theo Bergkamp,55,F,74.00,Central,60.00,Others,Science,69.00,Comm&Mgmt,No,78.00,Mkt&HR,65.56,Placed,216000.0
Theo Ramsey,56,M,60.40,Central,66.60,Others,Science,65.00,Comm&Mgmt,No,71.00,Mkt&HR,52.71,Placed,220000.0
Jens Wilshere,57,M,63.00,Others,71.40,Others,Commerce,61.40,Comm&Mgmt,No,68.00,Mkt&Fin,66.88,Placed,240000.0
Alex Fabregas,58,M,68.00,Central,76.00,Central,Commerce,74.00,Comm&Mgmt,No,80.00,Mkt&Fin,63.59,Placed,360000.0
Sead Noble,59,M,74.00,Central,62.00,Others,Science,68.00,Comm&Mgmt,No,74.00,Mkt&Fin,57.99,Placed,268000.0
Thierry Song,60,M,52.60,Central,65.58,Others,Science,72.11,Sci&Tech,No,57.60,Mkt&Fin,56.66,Placed,265000.0
Robert Song,62,M,84.20,Central,73.40,Central,Commerce,66.89,Comm&Mgmt,No,61.60,Mkt&Fin,62.48,Placed,300000.0
Cesc Diaby,63,F,86.50,Others,64.20,Others,Science,67.40,Sci&Tech,No,59.00,Mkt&Fin,59.69,Placed,240000.0
Abou Henry,65,M,80.00,Others,73.00,Others,Commerce,75.00,Comm&Mgmt,No,61.00,Mkt&Fin,58.78,Placed,240000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Alex Lacazette,126,F,84.00,Central,73.00,Central,Commerce,73.00,Comm&Mgmt,No,75.00,Mkt&Fin,73.33,Placed,350000.0
Per Arteta,128,F,72.00,Others,60.00,Others,Science,69.00,Comm&Mgmt,No,55.50,Mkt&HR,58.40,Placed,250000.0
Robert Wright,136,F,72.00,Central,56.00,Others,Science,69.00,Comm&Mgmt,No,55.60,Mkt&HR,65.63,Placed,200000.0
Per Bellerin,138,M,67.00,Others,63.00,Central,Commerce,72.00,Comm&Mgmt,No,56.00,Mkt&HR,60.41,Placed,225000.0
Jack Noble,144,M,77.67,Others,64.89,Others,Commerce,70.67,Comm&Mgmt,No,89.00,Mkt&Fin,60.39,Placed,300000.0
David Diaby,146,M,89.40,Others,65.66,Others,Science,71.25,Sci&Tech,No,72.00,Mkt&HR,63.23,Placed,400000.0
Cesc Santos,147,M,62.00,Central,63.00,Others,Science,66.00,Comm&Mgmt,No,85.00,Mkt&HR,55.14,Placed,233000.0
Robin Koscielny,148,M,70.00,Central,74.00,Central,Commerce,65.00,Comm&Mgmt,No,83.00,Mkt&Fin,62.28,Placed,300000.0
Per Arteta,149,F,77.00,Central,86.00,Central,Arts,56.00,Others,No,57.00,Mkt&Fin,64.08,Placed,240000.0
Jack Noble,152,M,65.00,Central,65.00,Central,Commerce,75.00,Comm&Mgmt,No,83.00,Mkt&Fin,58.87,Placed,270000.0
Thomas Gibbs,153,F,75.40,Others,60.50,Central,Science,84.00,Sci&Tech,No,98.00,Mkt&Fin,65.25,Placed,240000.0
Mark Curip,158,M,66.50,Central,62.50,Central,Commerce,60.90,Comm&Mgmt,No,93.40,Mkt&Fin,55.03,Placed,300000.0
Theo Wright,164,M,63.00,Others,67.00,Others,Science,64.00,Sci&Tech,No,75.00,Mkt&Fin,66.46,Placed,500000.0
Tomas Bellerin,165,F,67.16,Central,72.50,Central,Commerce,63.35,Comm&Mgmt,No,53.04,Mkt&Fin,65.52,Placed,250000.0
Aaron Podolski,173,M,73.00,Others,58.00,Others,Commerce,56.00,Comm&Mgmt,No,84.00,Mkt&HR,52.64,Placed,300000.0
Sead Henry,177,F,59.00,Central,60.00,Others,Commerce,56.00,Comm&Mgmt,No,55.00,Mkt&HR,57.90,Placed,220000.0
Thomas Wilshere,179,M,68.00,Others,56.00,Others,Science,68.00,Sci&Tech,No,73.00,Mkt&HR,68.07,Placed,350000.0
Hector Belle,184,M,65.00,Central,77.00,Central,Commerce,69.00,Comm&Mgmt,No,60.00,Mkt&HR,61.82,Placed,276000.0
Abou Tierney,186,F,88.00,Central,72.00,Central,Science,78.00,Others,No,82.00,Mkt&HR,71.43,Placed,252000.0
Hector Arteta,192,M,67.00,Others,61.00,Central,Science,72.00,Comm&Mgmt,No,72.00,Mkt&Fin,61.01,Placed,264000.0
Per Bergkamp,198,F,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0
Jens Curip,200,M,69.00,Others,65.00,Others,Commerce,57.00,Comm&Mgmt,No,73.00,Mkt&HR,55.80,Placed,265000.0
Kieran Wright,201,M,69.00,Others,60.00,Others,Commerce,65.00,Comm&Mgmt,No,87.55,Mkt&Fin,52.81,Placed,300000.0
Mike Gibbs,203,M,70.00,Central,63.00,Central,Science,66.00,Sci&Tech,No,61.28,Mkt&HR,60.11,Placed,240000.0
David Curip,204,M,55.68,Others,61.33,Others,Commerce,56.87,Comm&Mgmt,No,66.00,Mkt&HR,58.30,Placed,260000.0
Dennis Koscielny,206,M,61.00,Others,62.00,Others,Commerce,65.00,Comm&Mgmt,No,62.00,Mkt&Fin,56.81,Placed,250000.0
Santi Fabregas,210,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0
Thierry Seaman,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
Hector Wilshere,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
Jens Gibbs,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0

In [61]:
# method 3:

pl[(pl['workex'] == "No") & (pl['status'] == "Placed")]

# Don't forget to put the brackets when using this method

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
names,,,,,,,,,,,,,,,
Thierry Curip,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.00,Mkt&HR,58.80,Placed,270000.0
Lukas Song,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.00,Mkt&Fin,57.80,Placed,250000.0
Aaron Mertesacker,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.80,Mkt&Fin,55.50,Placed,425000.0
Mesut Fabregas,9,M,73.00,Central,79.00,Central,Commerce,72.00,Comm&Mgmt,No,91.34,Mkt&Fin,61.29,Placed,231000.0
Mark Lacazette,14,F,77.00,Central,87.00,Central,Commerce,59.00,Comm&Mgmt,No,68.00,Mkt&Fin,68.63,Placed,218000.0
Jack Podolski,21,M,62.00,Others,65.00,Others,Commerce,66.00,Comm&Mgmt,No,50.00,Mkt&HR,56.70,Placed,265000.0
Thierry Dean,22,F,79.00,Others,76.00,Others,Commerce,85.00,Comm&Mgmt,No,95.00,Mkt&Fin,69.06,Placed,393000.0
Mark Henry,23,F,69.80,Others,60.80,Others,Science,72.23,Sci&Tech,No,55.53,Mkt&HR,68.81,Placed,360000.0
Mesut Koscielny,25,M,76.50,Others,97.70,Others,Science,78.86,Sci&Tech,No,97.40,Mkt&Fin,74.01,Placed,360000.0
Robert Seaman,28,M,63.00,Others,67.00,Others,Commerce,66.00,Comm&Mgmt,No,68.00,Mkt&HR,57.69,Placed,265000.0
Aaron Song,31,F,64.00,Central,73.50,Central,Commerce,73.00,Comm&Mgmt,No,52.00,Mkt&HR,56.70,Placed,250000.0
Hector Gibbs,33,F,61.00,Central,81.00,Central,Commerce,66.40,Comm&Mgmt,No,50.89,Mkt&HR,62.21,Placed,278000.0
Thomas Curip,36,F,69.00,Central,78.00,Central,Commerce,72.00,Comm&Mgmt,No,71.00,Mkt&HR,62.74,Placed,300000.0
John Henry,38,F,79.00,Central,76.00,Central,Science,65.60,Sci&Tech,No,58.00,Mkt&HR,55.47,Placed,320000.0
Tomas Santos,39,F,73.00,Others,58.00,Others,Science,66.00,Comm&Mgmt,No,53.70,Mkt&HR,56.86,Placed,240000.0
Mark Ramsey,40,M,81.00,Others,68.00,Others,Science,64.00,Sci&Tech,No,93.00,Mkt&Fin,62.56,Placed,411000.0
Andre Belle,41,F,78.00,Central,77.00,Others,Commerce,80.00,Comm&Mgmt,No,60.00,Mkt&Fin,66.72,Placed,287000.0
Theo Ramsey,44,M,87.00,Others,87.00,Others,Commerce,68.00,Comm&Mgmt,No,95.00,Mkt&HR,62.90,Placed,300000.0
Sead Wright,49,M,63.00,Others,62.00,Others,Commerce,68.00,Comm&Mgmt,No,64.00,Mkt&Fin,62.46,Placed,250000.0
Santi Noble,51,F,75.20,Central,73.20,Central,Science,68.40,Comm&Mgmt,No,65.00,Mkt&HR,62.98,Placed,200000.0
Mark Bergkamp,54,M,80.00,Others,70.00,Others,Science,72.00,Sci&Tech,No,87.00,Mkt&HR,71.04,Placed,450000.0
Theo Bergkamp,55,F,74.00,Central,60.00,Others,Science,69.00,Comm&Mgmt,No,78.00,Mkt&HR,65.56,Placed,216000.0
Theo Ramsey,56,M,60.40,Central,66.60,Others,Science,65.00,Comm&Mgmt,No,71.00,Mkt&HR,52.71,Placed,220000.0
Jens Wilshere,57,M,63.00,Others,71.40,Others,Commerce,61.40,Comm&Mgmt,No,68.00,Mkt&Fin,66.88,Placed,240000.0
Alex Fabregas,58,M,68.00,Central,76.00,Central,Commerce,74.00,Comm&Mgmt,No,80.00,Mkt&Fin,63.59,Placed,360000.0
Sead Noble,59,M,74.00,Central,62.00,Others,Science,68.00,Comm&Mgmt,No,74.00,Mkt&Fin,57.99,Placed,268000.0
Thierry Song,60,M,52.60,Central,65.58,Others,Science,72.11,Sci&Tech,No,57.60,Mkt&Fin,56.66,Placed,265000.0
Robert Song,62,M,84.20,Central,73.40,Central,Commerce,66.89,Comm&Mgmt,No,61.60,Mkt&Fin,62.48,Placed,300000.0
Cesc Diaby,63,F,86.50,Others,64.20,Others,Science,67.40,Sci&Tech,No,59.00,Mkt&Fin,59.69,Placed,240000.0
Abou Henry,65,M,80.00,Others,73.00,Others,Commerce,75.00,Comm&Mgmt,No,61.00,Mkt&Fin,58.78,Placed,240000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Alex Lacazette,126,F,84.00,Central,73.00,Central,Commerce,73.00,Comm&Mgmt,No,75.00,Mkt&Fin,73.33,Placed,350000.0
Per Arteta,128,F,72.00,Others,60.00,Others,Science,69.00,Comm&Mgmt,No,55.50,Mkt&HR,58.40,Placed,250000.0
Robert Wright,136,F,72.00,Central,56.00,Others,Science,69.00,Comm&Mgmt,No,55.60,Mkt&HR,65.63,Placed,200000.0
Per Bellerin,138,M,67.00,Others,63.00,Central,Commerce,72.00,Comm&Mgmt,No,56.00,Mkt&HR,60.41,Placed,225000.0
Jack Noble,144,M,77.67,Others,64.89,Others,Commerce,70.67,Comm&Mgmt,No,89.00,Mkt&Fin,60.39,Placed,300000.0
David Diaby,146,M,89.40,Others,65.66,Others,Science,71.25,Sci&Tech,No,72.00,Mkt&HR,63.23,Placed,400000.0
Cesc Santos,147,M,62.00,Central,63.00,Others,Science,66.00,Comm&Mgmt,No,85.00,Mkt&HR,55.14,Placed,233000.0
Robin Koscielny,148,M,70.00,Central,74.00,Central,Commerce,65.00,Comm&Mgmt,No,83.00,Mkt&Fin,62.28,Placed,300000.0
Per Arteta,149,F,77.00,Central,86.00,Central,Arts,56.00,Others,No,57.00,Mkt&Fin,64.08,Placed,240000.0
Jack Noble,152,M,65.00,Central,65.00,Central,Commerce,75.00,Comm&Mgmt,No,83.00,Mkt&Fin,58.87,Placed,270000.0
Thomas Gibbs,153,F,75.40,Others,60.50,Central,Science,84.00,Sci&Tech,No,98.00,Mkt&Fin,65.25,Placed,240000.0
Mark Curip,158,M,66.50,Central,62.50,Central,Commerce,60.90,Comm&Mgmt,No,93.40,Mkt&Fin,55.03,Placed,300000.0
Theo Wright,164,M,63.00,Others,67.00,Others,Science,64.00,Sci&Tech,No,75.00,Mkt&Fin,66.46,Placed,500000.0
Tomas Bellerin,165,F,67.16,Central,72.50,Central,Commerce,63.35,Comm&Mgmt,No,53.04,Mkt&Fin,65.52,Placed,250000.0
Aaron Podolski,173,M,73.00,Others,58.00,Others,Commerce,56.00,Comm&Mgmt,No,84.00,Mkt&HR,52.64,Placed,300000.0
Sead Henry,177,F,59.00,Central,60.00,Others,Commerce,56.00,Comm&Mgmt,No,55.00,Mkt&HR,57.90,Placed,220000.0
Thomas Wilshere,179,M,68.00,Others,56.00,Others,Science,68.00,Sci&Tech,No,73.00,Mkt&HR,68.07,Placed,350000.0
Hector Belle,184,M,65.00,Central,77.00,Central,Commerce,69.00,Comm&Mgmt,No,60.00,Mkt&HR,61.82,Placed,276000.0
Abou Tierney,186,F,88.00,Central,72.00,Central,Science,78.00,Others,No,82.00,Mkt&HR,71.43,Placed,252000.0
Hector Arteta,192,M,67.00,Others,61.00,Central,Science,72.00,Comm&Mgmt,No,72.00,Mkt&Fin,61.01,Placed,264000.0
Per Bergkamp,198,F,83.96,Others,53.00,Others,Science,91.00,Sci&Tech,No,59.32,Mkt&HR,69.71,Placed,260000.0
Jens Curip,200,M,69.00,Others,65.00,Others,Commerce,57.00,Comm&Mgmt,No,73.00,Mkt&HR,55.80,Placed,265000.0
Kieran Wright,201,M,69.00,Others,60.00,Others,Commerce,65.00,Comm&Mgmt,No,87.55,Mkt&Fin,52.81,Placed,300000.0
Mike Gibbs,203,M,70.00,Central,63.00,Central,Science,66.00,Sci&Tech,No,61.28,Mkt&HR,60.11,Placed,240000.0
David Curip,204,M,55.68,Others,61.33,Others,Commerce,56.87,Comm&Mgmt,No,66.00,Mkt&HR,58.30,Placed,260000.0
Dennis Koscielny,206,M,61.00,Others,62.00,Others,Commerce,65.00,Comm&Mgmt,No,62.00,Mkt&Fin,56.81,Placed,250000.0
Santi Fabregas,210,M,62.00,Central,72.00,Central,Commerce,65.00,Comm&Mgmt,No,67.00,Mkt&Fin,56.49,Placed,216000.0
Thierry Seaman,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.00,Mkt&Fin,74.49,Placed,400000.0
Hector Wilshere,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.00,Mkt&Fin,53.62,Placed,275000.0
Jens Gibbs,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.00,Mkt&HR,60.23,Placed,204000.0

In [64]:
# Now we need to find how many peeps are in this dataframe.

print(no_workex_placed_query_method.shape)
print(no_workex_placed_query_method.shape[0], 'people got placed without any workex')

(84, 15)
84 people got placed without any workex

9. Use at and iat to find the salary of Jack Podolski

In [65]:
pl.at['Jack Podolski', 'salary']

265000.0

In [66]:
pl.iat[20, 14]

265000.0

In [67]:
# if you have any doubts, pls feel free to ask me in the YouTube comments section!

### THANK YOU! AND SEE YOU SOON!