In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/multi_index_warehouses.csv', index_col=[0,1,2], header=[0,1])
df

                                      2010            2011            2012  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
NY Warehouses Buffalo       Mobile      26      12      10      23      18
                            TV          19      22      27      19      27
                            AC          16      24      20      23      29
              Ithaca        Mobile      10      28      27      22      18
                            TV          13      13      11      15      12
                            AC          18      17      19      28      28
              Beacon        Mobile      10      17      24      27      25
                            TV          12      22      26      26      15
                            AC          13      11      23      13      20
CA Warehouses San Francisco Mobile      15      25      18      16      13
                            TV          28      16      15      29      28
                            AC          10      14      10      16      17
              Los Angeles   Mobile      29      15      14      28      29
                            TV          23      14      18      21      10
                            AC          27      24      20      21      20
              San Diego     Mobile      14      27      24      16      23
                            TV          19      24      17      17      11
                            AC          11      22      10      29      24
TX Warehouses Houston       Mobile      27      17      16      18      21
                            TV          11      18      22      21      26
                            AC          12      25      18      12      26
              Arlington     Mobile      29      10      12      13      13
                            TV          15      20      22      25      23
                            AC          21      18      13      22      16
              Austin        Mobile      17      11      29      25      20
                            TV          27      11      14      11      23
                            AC          15      28      28      11      11

                                              2013            2014          \
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
NY Warehouses Buffalo       Mobile      10      10      26      16      18
                            TV          12      24      28      27      28
                            AC          15      10      20      16      16
              Ithaca        Mobile      14      22      12      14      16
                            TV          15      27      17      10      25
                            AC          14      21      18      25      17
              Beacon        Mobile      11      22      26      10      13
                            TV          28      15      26      12      18
                            AC          26      10      12      14      10
CA Warehouses San Francisco Mobile      13      19      15      21      23
                            TV          27      27      14      12      20
                            AC          20      28      25      27      11
              Los Angeles   Mobile      27      18      27      16      29
                            TV          15      11      19      25      11
                            AC          29      18      29      15      17
              San Diego     Mobile      20      11      23      29      16
                            TV          12      22      21      18      29
                            AC          24      24      11      18      27
TX Warehouses Houston       Mobile      21      15      16      23      25
                            TV          18      18      12      15      26
                            AC          23      21      12      22      29
              Arlington     Mobile      25      10      19      10      16
                            TV          20      23      21      13      26
                            AC          18      21      22      22      11
              Austin        Mobile      26      19      20      21      17
                            TV          22      27      10      28      29
                            AC          12      15      25      29      16

                                      2015            2016            2017  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
NY Warehouses Buffalo       Mobile      20      21      20      26      29
                            TV          10      16      25      26      20
                            AC          25      21      19      12      21
              Ithaca        Mobile      21      13      27      17      15
                            TV          20      27      17      16      13
                            AC          18      27      23      24      22
              Beacon        Mobile      25      13      29      23      28
                            TV          17      10      21      19      24
                            AC          28      26      21      26      29
CA Warehouses San Francisco Mobile      11      26      27      16      16
                            TV          13      27      18      11      17
                            AC          19      18      22      13      16
              Los Angeles   Mobile      10      15      20      17      11
                            TV          12      11      23      20      22
                            AC          27      25      12      23      23
              San Diego     Mobile      18      14      15      16      24
                            TV          22      19      13      28      18
                            AC          29      10      16      28      12
TX Warehouses Houston       Mobile      11      22      28      20      22
                            TV          22      11      18      29      28
                            AC          25      15      21      26      21
              Arlington     Mobile      12      15      13      15      27
                            TV          28      28      21      16      22
                            AC          28      13      17      10      29
              Austin        Mobile      26      20      10      10      13
                            TV          14      13      17      18      10
                            AC          20      16      20      14      14

                                              2018            2019
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
NY Warehouses Buffalo       Mobile      20      11      21      25      16
                            TV          25      10      27      20      20
                            AC          19      11      28      19      19
              Ithaca        Mobile      19      21      15      29      14
                            TV          23      15      26      15      28
                            AC          12      11      12      19      22
              Beacon        Mobile      22      22      26      20      18
                            TV          23      26      19      19      13
                            AC          12      29      18      20      24
CA Warehouses San Francisco Mobile      18      29      22      25      20
                            TV          24      10      29      19      14
                            AC          13      21      16      15      23
              Los Angeles   Mobile      14      25      11      29      19
                            TV          21      21      17      15      10
                            AC          14      29      25      25      16
              San Diego     Mobile      13      15      24      12      13
                            TV          29      10      19      22      17
                            AC          19      10      15      20      15
TX Warehouses Houston       Mobile      26      10      18      22      27
                            TV          24      22      24      25      17
                            AC          26      28      23      29      19
              Arlington     Mobile      18      21      27      15      29
                            TV          21      14      12      16      20
                            AC          15      15      22      19      11
              Austin        Mobile      27      23      29      12      24
                            TV          16      25      24      23      21
                            AC          13      26      27      21      16

In [3]:
df.sort_index(inplace=True)

In [4]:
df

                                      2010            2011            2012  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      24      20      21      20
                            Mobile      29      15      14      28      29
                            TV          23      14      18      21      10
              San Diego     AC          11      22      10      29      24
                            Mobile      14      27      24      16      23
                            TV          19      24      17      17      11
              San Francisco AC          10      14      10      16      17
                            Mobile      15      25      18      16      13
                            TV          28      16      15      29      28
NY Warehouses Beacon        AC          13      11      23      13      20
                            Mobile      10      17      24      27      25
                            TV          12      22      26      26      15
              Buffalo       AC          16      24      20      23      29
                            Mobile      26      12      10      23      18
                            TV          19      22      27      19      27
              Ithaca        AC          18      17      19      28      28
                            Mobile      10      28      27      22      18
                            TV          13      13      11      15      12
TX Warehouses Arlington     AC          21      18      13      22      16
                            Mobile      29      10      12      13      13
                            TV          15      20      22      25      23
              Austin        AC          15      28      28      11      11
                            Mobile      17      11      29      25      20
                            TV          27      11      14      11      23
              Houston       AC          12      25      18      12      26
                            Mobile      27      17      16      18      21
                            TV          11      18      22      21      26

                                              2013            2014          \
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          29      18      29      15      17
                            Mobile      27      18      27      16      29
                            TV          15      11      19      25      11
              San Diego     AC          24      24      11      18      27
                            Mobile      20      11      23      29      16
                            TV          12      22      21      18      29
              San Francisco AC          20      28      25      27      11
                            Mobile      13      19      15      21      23
                            TV          27      27      14      12      20
NY Warehouses Beacon        AC          26      10      12      14      10
                            Mobile      11      22      26      10      13
                            TV          28      15      26      12      18
              Buffalo       AC          15      10      20      16      16
                            Mobile      10      10      26      16      18
                            TV          12      24      28      27      28
              Ithaca        AC          14      21      18      25      17
                            Mobile      14      22      12      14      16
                            TV          15      27      17      10      25
TX Warehouses Arlington     AC          18      21      22      22      11
                            Mobile      25      10      19      10      16
                            TV          20      23      21      13      26
              Austin        AC          12      15      25      29      16
                            Mobile      26      19      20      21      17
                            TV          22      27      10      28      29
              Houston       AC          23      21      12      22      29
                            Mobile      21      15      16      23      25
                            TV          18      18      12      15      26

                                      2015            2016            2017  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      25      12      23      23
                            Mobile      10      15      20      17      11
                            TV          12      11      23      20      22
              San Diego     AC          29      10      16      28      12
                            Mobile      18      14      15      16      24
                            TV          22      19      13      28      18
              San Francisco AC          19      18      22      13      16
                            Mobile      11      26      27      16      16
                            TV          13      27      18      11      17
NY Warehouses Beacon        AC          28      26      21      26      29
                            Mobile      25      13      29      23      28
                            TV          17      10      21      19      24
              Buffalo       AC          25      21      19      12      21
                            Mobile      20      21      20      26      29
                            TV          10      16      25      26      20
              Ithaca        AC          18      27      23      24      22
                            Mobile      21      13      27      17      15
                            TV          20      27      17      16      13
TX Warehouses Arlington     AC          28      13      17      10      29
                            Mobile      12      15      13      15      27
                            TV          28      28      21      16      22
              Austin        AC          20      16      20      14      14
                            Mobile      26      20      10      10      13
                            TV          14      13      17      18      10
              Houston       AC          25      15      21      26      21
                            Mobile      11      22      28      20      22
                            TV          22      11      18      29      28

                                              2018            2019
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          14      29      25      25      16
                            Mobile      14      25      11      29      19
                            TV          21      21      17      15      10
              San Diego     AC          19      10      15      20      15
                            Mobile      13      15      24      12      13
                            TV          29      10      19      22      17
              San Francisco AC          13      21      16      15      23
                            Mobile      18      29      22      25      20
                            TV          24      10      29      19      14
NY Warehouses Beacon        AC          12      29      18      20      24
                            Mobile      22      22      26      20      18
                            TV          23      26      19      19      13
              Buffalo       AC          19      11      28      19      19
                            Mobile      20      11      21      25      16
                            TV          25      10      27      20      20
              Ithaca        AC          12      11      12      19      22
                            Mobile      19      21      15      29      14
                            TV          23      15      26      15      28
TX Warehouses Arlington     AC          15      15      22      19      11
                            Mobile      18      21      27      15      29
                            TV          21      14      12      16      20
              Austin        AC          13      26      27      21      16
                            Mobile      27      23      29      12      24
                            TV          16      25      24      23      21
              Houston       AC          26      28      23      29      19
                            Mobile      26      10      18      22      27
                            TV          24      22      24      25      17

In [5]:
df.columns.levels[0].astype(int)

Int64Index([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype='int64')

In [6]:
df.columns.set_levels(levels=df.columns.levels[0].astype(int), level=0, inplace=True)

In [7]:
df

                                      2010            2011            2012  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      24      20      21      20
                            Mobile      29      15      14      28      29
                            TV          23      14      18      21      10
              San Diego     AC          11      22      10      29      24
                            Mobile      14      27      24      16      23
                            TV          19      24      17      17      11
              San Francisco AC          10      14      10      16      17
                            Mobile      15      25      18      16      13
                            TV          28      16      15      29      28
NY Warehouses Beacon        AC          13      11      23      13      20
                            Mobile      10      17      24      27      25
                            TV          12      22      26      26      15
              Buffalo       AC          16      24      20      23      29
                            Mobile      26      12      10      23      18
                            TV          19      22      27      19      27
              Ithaca        AC          18      17      19      28      28
                            Mobile      10      28      27      22      18
                            TV          13      13      11      15      12
TX Warehouses Arlington     AC          21      18      13      22      16
                            Mobile      29      10      12      13      13
                            TV          15      20      22      25      23
              Austin        AC          15      28      28      11      11
                            Mobile      17      11      29      25      20
                            TV          27      11      14      11      23
              Houston       AC          12      25      18      12      26
                            Mobile      27      17      16      18      21
                            TV          11      18      22      21      26

                                              2013            2014          \
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          29      18      29      15      17
                            Mobile      27      18      27      16      29
                            TV          15      11      19      25      11
              San Diego     AC          24      24      11      18      27
                            Mobile      20      11      23      29      16
                            TV          12      22      21      18      29
              San Francisco AC          20      28      25      27      11
                            Mobile      13      19      15      21      23
                            TV          27      27      14      12      20
NY Warehouses Beacon        AC          26      10      12      14      10
                            Mobile      11      22      26      10      13
                            TV          28      15      26      12      18
              Buffalo       AC          15      10      20      16      16
                            Mobile      10      10      26      16      18
                            TV          12      24      28      27      28
              Ithaca        AC          14      21      18      25      17
                            Mobile      14      22      12      14      16
                            TV          15      27      17      10      25
TX Warehouses Arlington     AC          18      21      22      22      11
                            Mobile      25      10      19      10      16
                            TV          20      23      21      13      26
              Austin        AC          12      15      25      29      16
                            Mobile      26      19      20      21      17
                            TV          22      27      10      28      29
              Houston       AC          23      21      12      22      29
                            Mobile      21      15      16      23      25
                            TV          18      18      12      15      26

                                      2015            2016            2017  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      25      12      23      23
                            Mobile      10      15      20      17      11
                            TV          12      11      23      20      22
              San Diego     AC          29      10      16      28      12
                            Mobile      18      14      15      16      24
                            TV          22      19      13      28      18
              San Francisco AC          19      18      22      13      16
                            Mobile      11      26      27      16      16
                            TV          13      27      18      11      17
NY Warehouses Beacon        AC          28      26      21      26      29
                            Mobile      25      13      29      23      28
                            TV          17      10      21      19      24
              Buffalo       AC          25      21      19      12      21
                            Mobile      20      21      20      26      29
                            TV          10      16      25      26      20
              Ithaca        AC          18      27      23      24      22
                            Mobile      21      13      27      17      15
                            TV          20      27      17      16      13
TX Warehouses Arlington     AC          28      13      17      10      29
                            Mobile      12      15      13      15      27
                            TV          28      28      21      16      22
              Austin        AC          20      16      20      14      14
                            Mobile      26      20      10      10      13
                            TV          14      13      17      18      10
              Houston       AC          25      15      21      26      21
                            Mobile      11      22      28      20      22
                            TV          22      11      18      29      28

                                              2018            2019
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          14      29      25      25      16
                            Mobile      14      25      11      29      19
                            TV          21      21      17      15      10
              San Diego     AC          19      10      15      20      15
                            Mobile      13      15      24      12      13
                            TV          29      10      19      22      17
              San Francisco AC          13      21      16      15      23
                            Mobile      18      29      22      25      20
                            TV          24      10      29      19      14
NY Warehouses Beacon        AC          12      29      18      20      24
                            Mobile      22      22      26      20      18
                            TV          23      26      19      19      13
              Buffalo       AC          19      11      28      19      19
                            Mobile      20      11      21      25      16
                            TV          25      10      27      20      20
              Ithaca        AC          12      11      12      19      22
                            Mobile      19      21      15      29      14
                            TV          23      15      26      15      28
TX Warehouses Arlington     AC          15      15      22      19      11
                            Mobile      18      21      27      15      29
                            TV          21      14      12      16      20
              Austin        AC          13      26      27      21      16
                            Mobile      27      23      29      12      24
                            TV          16      25      24      23      21
              Houston       AC          26      28      23      29      19
                            Mobile      26      10      18      22      27
                            TV          24      22      24      25      17

# .loc[ ] method

In [25]:
df.loc[('CA Warehouses', 'San Diego', 'Mobile'), (2010, 'Jul-Dec')]

27

In [9]:
df.loc[('NY Warehouses'):, :]

Year                               2010            2011            2012  \
Semester                        Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City      Product
NY Warehouses Beacon    AC           13      11      23      13      20
                        Mobile       10      17      24      27      25
                        TV           12      22      26      26      15
              Buffalo   AC           16      24      20      23      29
                        Mobile       26      12      10      23      18
                        TV           19      22      27      19      27
              Ithaca    AC           18      17      19      28      28
                        Mobile       10      28      27      22      18
                        TV           13      13      11      15      12
TX Warehouses Arlington AC           21      18      13      22      16
                        Mobile       29      10      12      13      13
                        TV           15      20      22      25      23
              Austin    AC           15      28      28      11      11
                        Mobile       17      11      29      25      20
                        TV           27      11      14      11      23
              Houston   AC           12      25      18      12      26
                        Mobile       27      17      16      18      21
                        TV           11      18      22      21      26

Year                                       2013            2014          \
Semester                        Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City      Product
NY Warehouses Beacon    AC           26      10      12      14      10
                        Mobile       11      22      26      10      13
                        TV           28      15      26      12      18
              Buffalo   AC           15      10      20      16      16
                        Mobile       10      10      26      16      18
                        TV           12      24      28      27      28
              Ithaca    AC           14      21      18      25      17
                        Mobile       14      22      12      14      16
                        TV           15      27      17      10      25
TX Warehouses Arlington AC           18      21      22      22      11
                        Mobile       25      10      19      10      16
                        TV           20      23      21      13      26
              Austin    AC           12      15      25      29      16
                        Mobile       26      19      20      21      17
                        TV           22      27      10      28      29
              Houston   AC           23      21      12      22      29
                        Mobile       21      15      16      23      25
                        TV           18      18      12      15      26

Year                               2015            2016            2017  \
Semester                        Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City      Product
NY Warehouses Beacon    AC           28      26      21      26      29
                        Mobile       25      13      29      23      28
                        TV           17      10      21      19      24
              Buffalo   AC           25      21      19      12      21
                        Mobile       20      21      20      26      29
                        TV           10      16      25      26      20
              Ithaca    AC           18      27      23      24      22
                        Mobile       21      13      27      17      15
                        TV           20      27      17      16      13
TX Warehouses Arlington AC           28      13      17      10      29
                        Mobile       12      15      13      15      27
                        TV           28      28      21      16      22
              Austin    AC           20      16      20      14      14
                        Mobile       26      20      10      10      13
                        TV           14      13      17      18      10
              Houston   AC           25      15      21      26      21
                        Mobile       11      22      28      20      22
                        TV           22      11      18      29      28

Year                                       2018            2019
Semester                        Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City      Product
NY Warehouses Beacon    AC           12      29      18      20      24
                        Mobile       22      22      26      20      18
                        TV           23      26      19      19      13
              Buffalo   AC           19      11      28      19      19
                        Mobile       20      11      21      25      16
                        TV           25      10      27      20      20
              Ithaca    AC           12      11      12      19      22
                        Mobile       19      21      15      29      14
                        TV           23      15      26      15      28
TX Warehouses Arlington AC           15      15      22      19      11
                        Mobile       18      21      27      15      29
                        TV           21      14      12      16      20
              Austin    AC           13      26      27      21      16
                        Mobile       27      23      29      12      24
                        TV           16      25      24      23      21
              Houston   AC           26      28      23      29      19
                        Mobile       26      10      18      22      27
                        TV           24      22      24      25      17

In [10]:
df.index.names = ['State', 'City', 'Product']
df.columns.names = ['Year', 'Semester']

In [11]:
df.columns

MultiIndex(levels=[[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], ['Jan-Jun', 'Jul-Dec']],
           codes=[[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=['Year', 'Semester'])

In [26]:
df

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            Mobile       26      19      20      21      17
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            Mobile       21      15      16      23      25
                            TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            Mobile       12      15      13      15      27
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            Mobile       26      20      10      10      13
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            Mobile       11      22      28      20      22
                            TV           22      11      18      29      28

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            Mobile       18      21      27      15      29
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            Mobile       27      23      29      12      24
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            Mobile       26      10      18      22      27
                            TV           24      22      24      25      17

In [31]:
df

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            Mobile       26      19      20      21      17
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            Mobile       21      15      16      23      25
                            TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            Mobile       12      15      13      15      27
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            Mobile       26      20      10      10      13
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            Mobile       11      22      28      20      22
                            TV           22      11      18      29      28

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            Mobile       18      21      27      15      29
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            Mobile       27      23      29      12      24
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            Mobile       26      10      18      22      27
                            TV           24      22      24      25      17

In [34]:
df.loc[('CA Warehouses', 'San Francisco', 'AC'):('NY Warehouses', 'Ithaca', 'Mobile'),
       (2012, 'Jul-Dec'):(2015)]

Year                                   2012    2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16

Year                                   2015
Semester                            Jan-Jun Jul-Dec
State         City          Product
CA Warehouses San Francisco AC           19      18
                            Mobile       11      26
                            TV           13      27
NY Warehouses Beacon        AC           28      26
                            Mobile       25      13
                            TV           17      10
              Buffalo       AC           25      21
                            Mobile       20      21
                            TV           10      16
              Ithaca        AC           18      27
                            Mobile       21      13

In [36]:
df[(2011, 'Jan-Jun')]

State          City           Product
CA Warehouses  Los Angeles    AC         20
                              Mobile     14
                              TV         18
               San Diego      AC         10
                              Mobile     24
                              TV         17
               San Francisco  AC         10
                              Mobile     18
                              TV         15
NY Warehouses  Beacon         AC         23
                              Mobile     24
                              TV         26
               Buffalo        AC         20
                              Mobile     10
                              TV         27
               Ithaca         AC         19
                              Mobile     27
                              TV         11
TX Warehouses  Arlington      AC         13
                              Mobile     12
                              TV         22
               Austin         AC         28
                              Mobile     29
                              TV         14
               Houston        AC         18
                              Mobile     16
                              TV         22
Name: (2011, Jan-Jun), dtype: int64

In [37]:
df.loc['NY Warehouses':'TX Warehouses', :]

Year                               2010            2011            2012  \
Semester                        Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City      Product
NY Warehouses Beacon    AC           13      11      23      13      20
                        Mobile       10      17      24      27      25
                        TV           12      22      26      26      15
              Buffalo   AC           16      24      20      23      29
                        Mobile       26      12      10      23      18
                        TV           19      22      27      19      27
              Ithaca    AC           18      17      19      28      28
                        Mobile       10      28      27      22      18
                        TV           13      13      11      15      12
TX Warehouses Arlington AC           21      18      13      22      16
                        Mobile       29      10      12      13      13
                        TV           15      20      22      25      23
              Austin    AC           15      28      28      11      11
                        Mobile       17      11      29      25      20
                        TV           27      11      14      11      23
              Houston   AC           12      25      18      12      26
                        Mobile       27      17      16      18      21
                        TV           11      18      22      21      26

Year                                       2013            2014          \
Semester                        Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City      Product
NY Warehouses Beacon    AC           26      10      12      14      10
                        Mobile       11      22      26      10      13
                        TV           28      15      26      12      18
              Buffalo   AC           15      10      20      16      16
                        Mobile       10      10      26      16      18
                        TV           12      24      28      27      28
              Ithaca    AC           14      21      18      25      17
                        Mobile       14      22      12      14      16
                        TV           15      27      17      10      25
TX Warehouses Arlington AC           18      21      22      22      11
                        Mobile       25      10      19      10      16
                        TV           20      23      21      13      26
              Austin    AC           12      15      25      29      16
                        Mobile       26      19      20      21      17
                        TV           22      27      10      28      29
              Houston   AC           23      21      12      22      29
                        Mobile       21      15      16      23      25
                        TV           18      18      12      15      26

Year                               2015            2016            2017  \
Semester                        Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City      Product
NY Warehouses Beacon    AC           28      26      21      26      29
                        Mobile       25      13      29      23      28
                        TV           17      10      21      19      24
              Buffalo   AC           25      21      19      12      21
                        Mobile       20      21      20      26      29
                        TV           10      16      25      26      20
              Ithaca    AC           18      27      23      24      22
                        Mobile       21      13      27      17      15
                        TV           20      27      17      16      13
TX Warehouses Arlington AC           28      13      17      10      29
                        Mobile       12      15      13      15      27
                        TV           28      28      21      16      22
              Austin    AC           20      16      20      14      14
                        Mobile       26      20      10      10      13
                        TV           14      13      17      18      10
              Houston   AC           25      15      21      26      21
                        Mobile       11      22      28      20      22
                        TV           22      11      18      29      28

Year                                       2018            2019
Semester                        Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City      Product
NY Warehouses Beacon    AC           12      29      18      20      24
                        Mobile       22      22      26      20      18
                        TV           23      26      19      19      13
              Buffalo   AC           19      11      28      19      19
                        Mobile       20      11      21      25      16
                        TV           25      10      27      20      20
              Ithaca    AC           12      11      12      19      22
                        Mobile       19      21      15      29      14
                        TV           23      15      26      15      28
TX Warehouses Arlington AC           15      15      22      19      11
                        Mobile       18      21      27      15      29
                        TV           21      14      12      16      20
              Austin    AC           13      26      27      21      16
                        Mobile       27      23      29      12      24
                        TV           16      25      24      23      21
              Houston   AC           26      28      23      29      19
                        Mobile       26      10      18      22      27
                        TV           24      22      24      25      17

# .xs( ) cross section

In [41]:
df.xs('AC', level='Product', drop_level=False)

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
              San Diego     AC           11      22      10      29      24
              San Francisco AC           10      14      10      16      17
NY Warehouses Beacon        AC           13      11      23      13      20
              Buffalo       AC           16      24      20      23      29
              Ithaca        AC           18      17      19      28      28
TX Warehouses Arlington     AC           21      18      13      22      16
              Austin        AC           15      28      28      11      11
              Houston       AC           12      25      18      12      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
              San Diego     AC           24      24      11      18      27
              San Francisco AC           20      28      25      27      11
NY Warehouses Beacon        AC           26      10      12      14      10
              Buffalo       AC           15      10      20      16      16
              Ithaca        AC           14      21      18      25      17
TX Warehouses Arlington     AC           18      21      22      22      11
              Austin        AC           12      15      25      29      16
              Houston       AC           23      21      12      22      29

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
              San Diego     AC           29      10      16      28      12
              San Francisco AC           19      18      22      13      16
NY Warehouses Beacon        AC           28      26      21      26      29
              Buffalo       AC           25      21      19      12      21
              Ithaca        AC           18      27      23      24      22
TX Warehouses Arlington     AC           28      13      17      10      29
              Austin        AC           20      16      20      14      14
              Houston       AC           25      15      21      26      21

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
              San Diego     AC           19      10      15      20      15
              San Francisco AC           13      21      16      15      23
NY Warehouses Beacon        AC           12      29      18      20      24
              Buffalo       AC           19      11      28      19      19
              Ithaca        AC           12      11      12      19      22
TX Warehouses Arlington     AC           15      15      22      19      11
              Austin        AC           13      26      27      21      16
              Houston       AC           26      28      23      29      19

In [45]:
df.xs(('CA Warehouses', 'AC'), level=('State', 'Product'), drop_level=False)

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
              San Diego     AC           11      22      10      29      24
              San Francisco AC           10      14      10      16      17

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
              San Diego     AC           24      24      11      18      27
              San Francisco AC           20      28      25      27      11

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
              San Diego     AC           29      10      16      28      12
              San Francisco AC           19      18      22      13      16

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
              San Diego     AC           19      10      15      20      15
              San Francisco AC           13      21      16      15      23

In [49]:
df.xs(('CA Warehouses', 'AC'), level=('State', 'Product'), drop_level=False).sum().sum()

1167

In [51]:
df.xs('San Diego', level='City', drop_level=False)

Year                               2010            2011            2012  \
Semester                        Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City      Product
CA Warehouses San Diego AC           11      22      10      29      24
                        Mobile       14      27      24      16      23
                        TV           19      24      17      17      11

Year                                       2013            2014          \
Semester                        Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City      Product
CA Warehouses San Diego AC           24      24      11      18      27
                        Mobile       20      11      23      29      16
                        TV           12      22      21      18      29

Year                               2015            2016            2017  \
Semester                        Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City      Product
CA Warehouses San Diego AC           29      10      16      28      12
                        Mobile       18      14      15      16      24
                        TV           22      19      13      28      18

Year                                       2018            2019
Semester                        Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City      Product
CA Warehouses San Diego AC           19      10      15      20      15
                        Mobile       13      15      24      12      13
                        TV           29      10      19      22      17

In [75]:
df.xs('Jan-Jun', axis=1, level='Semester', drop_level=False)

Year                                   2010    2011    2012    2013    2014  \
Semester                            Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      20      20      18      15
                            Mobile       29      14      29      18      16
                            TV           23      18      10      11      25
              San Diego     AC           11      10      24      24      18
                            Mobile       14      24      23      11      29
                            TV           19      17      11      22      18
              San Francisco AC           10      10      17      28      27
                            Mobile       15      18      13      19      21
                            TV           28      15      28      27      12
NY Warehouses Beacon        AC           13      23      20      10      14
                            Mobile       10      24      25      22      10
                            TV           12      26      15      15      12
              Buffalo       AC           16      20      29      10      16
                            Mobile       26      10      18      10      16
                            TV           19      27      27      24      27
              Ithaca        AC           18      19      28      21      25
                            Mobile       10      27      18      22      14
                            TV           13      11      12      27      10
TX Warehouses Arlington     AC           21      13      16      21      22
                            Mobile       29      12      13      10      10
                            TV           15      22      23      23      13
              Austin        AC           15      28      11      15      29
                            Mobile       17      29      20      19      21
                            TV           27      14      23      27      28
              Houston       AC           12      18      26      21      22
                            Mobile       27      16      21      15      23
                            TV           11      22      26      18      15

Year                                   2015    2016    2017    2018    2019
Semester                            Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      12      23      29      25
                            Mobile       10      20      11      25      29
                            TV           12      23      22      21      15
              San Diego     AC           29      16      12      10      20
                            Mobile       18      15      24      15      12
                            TV           22      13      18      10      22
              San Francisco AC           19      22      16      21      15
                            Mobile       11      27      16      29      25
                            TV           13      18      17      10      19
NY Warehouses Beacon        AC           28      21      29      29      20
                            Mobile       25      29      28      22      20
                            TV           17      21      24      26      19
              Buffalo       AC           25      19      21      11      19
                            Mobile       20      20      29      11      25
                            TV           10      25      20      10      20
              Ithaca        AC           18      23      22      11      19
                            Mobile       21      27      15      21      29
                            TV           20      17      13      15      15
TX Warehouses Arlington     AC           28      17      29      15      19
                            Mobile       12      13      27      21      15
                            TV           28      21      22      14      16
              Austin        AC           20      20      14      26      21
                            Mobile       26      10      13      23      12
                            TV           14      17      10      25      23
              Houston       AC           25      21      21      28      29
                            Mobile       11      28      22      10      22
                            TV           22      18      28      22      25

## take( )

In [60]:
df.take([0,3,6, 9, 12, 15, 16])

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
              San Diego     AC           11      22      10      29      24
              San Francisco AC           10      14      10      16      17
NY Warehouses Beacon        AC           13      11      23      13      20
              Buffalo       AC           16      24      20      23      29
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
              San Diego     AC           24      24      11      18      27
              San Francisco AC           20      28      25      27      11
NY Warehouses Beacon        AC           26      10      12      14      10
              Buffalo       AC           15      10      20      16      16
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
              San Diego     AC           29      10      16      28      12
              San Francisco AC           19      18      22      13      16
NY Warehouses Beacon        AC           28      26      21      26      29
              Buffalo       AC           25      21      19      12      21
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
              San Diego     AC           19      10      15      20      15
              San Francisco AC           13      21      16      15      23
NY Warehouses Beacon        AC           12      29      18      20      24
              Buffalo       AC           19      11      28      19      19
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14

In [62]:
df.take([0,1,2,3, 4], axis=1)

Year                                   2010            2011            2012
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

# slice ( )

In [63]:
df

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            Mobile       26      19      20      21      17
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            Mobile       21      15      16      23      25
                            TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            Mobile       12      15      13      15      27
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            Mobile       26      20      10      10      13
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            Mobile       11      22      28      20      22
                            TV           22      11      18      29      28

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            Mobile       18      21      27      15      29
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            Mobile       27      23      29      12      24
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            Mobile       26      10      18      22      27
                            TV           24      22      24      25      17

In [65]:
df.loc[(slice(None), slice(None), ['AC', 'TV']), :]

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            TV           22      11      18      29      28

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            TV           24      22      24      25      17

In [67]:
df.loc[(slice('CA Warehouses','NY Warehouses'), slice('Beacon', 'Buffalo'), slice('AC', 'Mobile') ), :]

Year                             2010            2011            2012          \
Semester                      Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City    Product
NY Warehouses Beacon  AC           13      11      23      13      20      26
                      Mobile       10      17      24      27      25      11
              Buffalo AC           16      24      20      23      29      15
                      Mobile       26      12      10      23      18      10

Year                             2013            2014            2015          \
Semester                      Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City    Product
NY Warehouses Beacon  AC           10      12      14      10      28      26
                      Mobile       22      26      10      13      25      13
              Buffalo AC           10      20      16      16      25      21
                      Mobile       10      26      16      18      20      21

Year                             2016            2017            2018          \
Semester                      Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City    Product
NY Warehouses Beacon  AC           21      26      29      12      29      18
                      Mobile       29      23      28      22      22      26
              Buffalo AC           19      12      21      19      11      28
                      Mobile       20      26      29      20      11      21

Year                             2019
Semester                      Jan-Jun Jul-Dec
State         City    Product
NY Warehouses Beacon  AC           20      24
                      Mobile       20      18
              Buffalo AC           19      19
                      Mobile       25      16

# Renaming indices/columns

In [71]:
df.rename({'Los Angeles':'LA'},axis=0)
# This is a new object as we haven't set inplace=True, so this will not impact the original dataframe

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses LA            AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses LA            AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            Mobile       26      19      20      21      17
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            Mobile       21      15      16      23      25
                            TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses LA            AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            Mobile       12      15      13      15      27
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            Mobile       26      20      10      10      13
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            Mobile       11      22      28      20      22
                            TV           22      11      18      29      28

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses LA            AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            Mobile       18      21      27      15      29
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            Mobile       27      23      29      12      24
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            Mobile       26      10      18      22      27
                            TV           24      22      24      25      17

In [72]:
df.rename({2010: 20100}, axis=1)
# This is a new object as we haven't set inplace=True, so this will not impact the original dataframe

Year                                  20100           2011            2012   \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

Year                                          2013            2014           \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            Mobile       26      19      20      21      17
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            Mobile       21      15      16      23      25
                            TV           18      18      12      15      26

Year                                  2015            2016            2017   \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            Mobile       12      15      13      15      27
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            Mobile       26      20      10      10      13
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            Mobile       11      22      28      20      22
                            TV           22      11      18      29      28

Year                                          2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            Mobile       18      21      27      15      29
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            Mobile       27      23      29      12      24
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            Mobile       26      10      18      22      27
                            TV           24      22      24      25      17

## TASKS:

###### 1. Boss: Give me detailed data about the San Francisco warehouse, and then tell me how many items were sold in total from this warehouse over the 10 year period?

In [12]:
# Method 1

df.xs('San Francisco', level=1, drop_level=False) # or we could've also done level='City'

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14

In [14]:
df.xs('San Francisco', level=1, drop_level=False).sum() 

# .sum() gives us items sold over each semester

Year  Semester
2010  Jan-Jun     53
      Jul-Dec     55
2011  Jan-Jun     43
      Jul-Dec     61
2012  Jan-Jun     58
      Jul-Dec     60
2013  Jan-Jun     74
      Jul-Dec     54
2014  Jan-Jun     60
      Jul-Dec     54
2015  Jan-Jun     43
      Jul-Dec     71
2016  Jan-Jun     67
      Jul-Dec     40
2017  Jan-Jun     49
      Jul-Dec     55
2018  Jan-Jun     60
      Jul-Dec     67
2019  Jan-Jun     59
      Jul-Dec     57
dtype: int64

In [15]:
df.xs('San Francisco', level=1, drop_level=False).sum().sum()

# .sum().sum() gives us items sold over each semester

1140

In [16]:
# method 2:

df.loc[('CA Warehouses', 'San Francisco'), :]

# We first enter the State index level (CA Warehouses), and then knock on the door of San Francisco

# Now since we aren't concerned with the product level, i.e. since we want all of the products,

# we will lave the third argument blank. Like this: df.loc[('first level', 'second level', 'no need')]

Year        2010            2011            2012            2013          \
Semester Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Product
AC            10      14      10      16      17      20      28      25
Mobile        15      25      18      16      13      13      19      15
TV            28      16      15      29      28      27      27      14

Year        2014            2015            2016            2017          \
Semester Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Product
AC            27      11      19      18      22      13      16      13
Mobile        21      23      11      26      27      16      16      18
TV            12      20      13      27      18      11      17      24

Year        2018            2019
Semester Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Product
AC            21      16      15      23
Mobile        29      22      25      20
TV            10      29      19      14

###### 2. Boss: For some reason, give me a snapshot of the dataset from San Francisco's TV row until Arlington's Mobile row.

In [17]:
df.loc[('CA Warehouses', 'San Francisco', 'TV'):('TX Warehouses', 'Arlington', 'Mobile'), :]

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses San Francisco TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses San Francisco TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses San Francisco TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            Mobile       12      15      13      15      27

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses San Francisco TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            Mobile       18      21      27      15      29

###### 3. Boss: How many televisions did the Buffalo warehouse sell during Jan-Jun period of the year 2015?

In [18]:
# method 1

df.loc[('NY Warehouses', 'Buffalo', 'TV'), (2015, 'Jan-Jun')]

10

In [19]:
# method 2

step_one = df.xs(key=('Buffalo', 'TV'), level=('City', 'Product')) # or, level=(1,2)
step_one

Year             2010            2011            2012            2013          \
Semester      Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State
NY Warehouses      19      22      27      19      27      12      24      28

Year             2014            2015            2016            2017          \
Semester      Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State
NY Warehouses      27      28      10      16      25      26      20      25

Year             2018            2019
Semester      Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State
NY Warehouses      10      27      20      20

In [20]:
# using the slicing method. In normal slicing with single layer of columns, we just put column name
# inside the ['']. But here, since we have multi-index in the columns, we'd have to use a tuple
# inside [ ] to make it work.

step_one[(2015, 'Jan-Jun')].sum()

10

###### 4. Boss: How many items did all of California and Texas warehouses sell in total?

In [21]:
df.loc[(['CA Warehouses', 'TX Warehouses']), :]

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            Mobile       26      19      20      21      17
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            Mobile       21      15      16      23      25
                            TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
TX Warehouses Arlington     AC           28      13      17      10      29
                            Mobile       12      15      13      15      27
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            Mobile       26      20      10      10      13
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            Mobile       11      22      28      20      22
                            TV           22      11      18      29      28

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
TX Warehouses Arlington     AC           15      15      22      19      11
                            Mobile       18      21      27      15      29
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            Mobile       27      23      29      12      24
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            Mobile       26      10      18      22      27
                            TV           24      22      24      25      17

In [23]:
df.loc[(['CA Warehouses', 'TX Warehouses']), :].sum().sum()

6971

###### 5. Boss: How many TV's were sold in TX and CA warehouses during the year 2017?

In [24]:
df.loc[(['CA Warehouses', 'TX Warehouses'], slice(None), ['TV']), :] # this is for all the 10 yrs

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   TV           23      14      18      21      10
              San Diego     TV           19      24      17      17      11
              San Francisco TV           28      16      15      29      28
TX Warehouses Arlington     TV           15      20      22      25      23
              Austin        TV           27      11      14      11      23
              Houston       TV           11      18      22      21      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   TV           15      11      19      25      11
              San Diego     TV           12      22      21      18      29
              San Francisco TV           27      27      14      12      20
TX Warehouses Arlington     TV           20      23      21      13      26
              Austin        TV           22      27      10      28      29
              Houston       TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   TV           12      11      23      20      22
              San Diego     TV           22      19      13      28      18
              San Francisco TV           13      27      18      11      17
TX Warehouses Arlington     TV           28      28      21      16      22
              Austin        TV           14      13      17      18      10
              Houston       TV           22      11      18      29      28

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   TV           21      21      17      15      10
              San Diego     TV           29      10      19      22      17
              San Francisco TV           24      10      29      19      14
TX Warehouses Arlington     TV           21      14      12      16      20
              Austin        TV           16      25      24      23      21
              Houston       TV           24      22      24      25      17

In [26]:
# Now we look specifically for the 2017 column

df.loc[(['CA Warehouses', 'TX Warehouses'], slice(None), ['TV']), (2017)]

Semester                             Jan-Jun  Jul-Dec
State         City          Product
CA Warehouses Los Angeles   TV            22       21
              San Diego     TV            18       29
              San Francisco TV            17       24
TX Warehouses Arlington     TV            22       21
              Austin        TV            10       16
              Houston       TV            28       24

In [27]:
df.loc[(['CA Warehouses', 'TX Warehouses'], slice(None), ['TV']), (2017)].sum().sum()

252

###### 6. Boss: How many items were sold during the Jan-Jun period of each year for all the warehouses combined?

In [29]:
# For the JAN-JUN semester

df.xs('Jan-Jun', axis=1, level=1, drop_level=False) # or, level='Semester' would also work

Year                                   2010    2011    2012    2013    2014  \
Semester                            Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      20      20      18      15
                            Mobile       29      14      29      18      16
                            TV           23      18      10      11      25
              San Diego     AC           11      10      24      24      18
                            Mobile       14      24      23      11      29
                            TV           19      17      11      22      18
              San Francisco AC           10      10      17      28      27
                            Mobile       15      18      13      19      21
                            TV           28      15      28      27      12
NY Warehouses Beacon        AC           13      23      20      10      14
                            Mobile       10      24      25      22      10
                            TV           12      26      15      15      12
              Buffalo       AC           16      20      29      10      16
                            Mobile       26      10      18      10      16
                            TV           19      27      27      24      27
              Ithaca        AC           18      19      28      21      25
                            Mobile       10      27      18      22      14
                            TV           13      11      12      27      10
TX Warehouses Arlington     AC           21      13      16      21      22
                            Mobile       29      12      13      10      10
                            TV           15      22      23      23      13
              Austin        AC           15      28      11      15      29
                            Mobile       17      29      20      19      21
                            TV           27      14      23      27      28
              Houston       AC           12      18      26      21      22
                            Mobile       27      16      21      15      23
                            TV           11      22      26      18      15

Year                                   2015    2016    2017    2018    2019
Semester                            Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      12      23      29      25
                            Mobile       10      20      11      25      29
                            TV           12      23      22      21      15
              San Diego     AC           29      16      12      10      20
                            Mobile       18      15      24      15      12
                            TV           22      13      18      10      22
              San Francisco AC           19      22      16      21      15
                            Mobile       11      27      16      29      25
                            TV           13      18      17      10      19
NY Warehouses Beacon        AC           28      21      29      29      20
                            Mobile       25      29      28      22      20
                            TV           17      21      24      26      19
              Buffalo       AC           25      19      21      11      19
                            Mobile       20      20      29      11      25
                            TV           10      25      20      10      20
              Ithaca        AC           18      23      22      11      19
                            Mobile       21      27      15      21      29
                            TV           20      17      13      15      15
TX Warehouses Arlington     AC           28      17      29      15      19
                            Mobile       12      13      27      21      15
                            TV           28      21      22      14      16
              Austin        AC           20      20      14      26      21
                            Mobile       26      10      13      23      12
                            TV           14      17      10      25      23
              Houston       AC           25      21      21      28      29
                            Mobile       11      28      22      10      22
                            TV           22      18      28      22      25

In [31]:
df.xs('Jan-Jun', axis=1, level=1, drop_level=False).sum().sum()

5226

###### 7. Boss: Give me list of all items that were sold in the Jul-Dec semester of the year 2010 for all warehouses.

In [34]:
df.xs('Jul-Dec', axis=1, level=1, drop_level=False)[2010]

Semester                             Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC            24
                            Mobile        15
                            TV            14
              San Diego     AC            22
                            Mobile        27
                            TV            24
              San Francisco AC            14
                            Mobile        25
                            TV            16
NY Warehouses Beacon        AC            11
                            Mobile        17
                            TV            22
              Buffalo       AC            24
                            Mobile        12
                            TV            22
              Ithaca        AC            17
                            Mobile        28
                            TV            13
TX Warehouses Arlington     AC            18
                            Mobile        10
                            TV            20
              Austin        AC            28
                            Mobile        11
                            TV            11
              Houston       AC            25
                            Mobile        17
                            TV            18

###### 8. Read in the merged_stocks dataset. 
###### You'll notice that 'Date' column is an object column right now when you call the .info() method off the dataframe.
###### Make this column a datetime object. Now, make the first three columns, namely Sector, Ticker and Date columns as index columns, thus creating a multi index

In [37]:
merged_stocks = pd.read_csv('data/merged_stocks.csv')
merged_stocks.info() # look at the Date column, it is currently an object type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 9 columns):
Sector       54 non-null object
Ticker       54 non-null object
Date         54 non-null object
Open         54 non-null float64
High         54 non-null float64
Low          54 non-null float64
Close        54 non-null float64
Adj Close    54 non-null float64
Volume       54 non-null int64
dtypes: float64(5), int64(1), object(3)
memory usage: 3.9+ KB

In [38]:
merged_stocks['Date'] = pd.to_datetime(merged_stocks['Date'])

In [39]:
merged_stocks.info() # now Date column is a datetime column!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 9 columns):
Sector       54 non-null object
Ticker       54 non-null object
Date         54 non-null datetime64[ns]
Open         54 non-null float64
High         54 non-null float64
Low          54 non-null float64
Close        54 non-null float64
Adj Close    54 non-null float64
Volume       54 non-null int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(2)
memory usage: 3.9+ KB

In [40]:
# We can either set index in read_csv using the argument index_col=[0,1,2] or we can set them
# afterwards using set_index() method and passing in a list of the columns we wish to see as indices.
merged_stocks.set_index(['Sector', 'Ticker', 'Date'], inplace=True)
merged_stocks

                                             Open         High          Low  \
Sector             Ticker Date
Consumer Cyclical  AMZN   2020-04-13  2040.000000  2180.000000  2038.000000
                          2020-04-14  2200.469971  2292.000000  2186.209961
                          2020-04-15  2257.679932  2333.370117  2245.000000
                          2020-04-16  2346.000000  2461.000000  2335.000000
                          2020-04-17  2372.330078  2400.000000  2316.020020
                          2020-04-20  2389.949951  2444.979980  2386.050049
Consumer Defensive COST   2020-04-13   298.579987   303.950012   297.660004
                          2020-04-14   302.750000   314.750000   301.250000
                          2020-04-15   311.640015   313.750000   306.820007
                          2020-04-16   314.730011   322.630005   312.040009
                          2020-04-17   321.309998   322.130005   314.019989
                          2020-04-20   317.950012   318.380005   311.529999
                   WMT    2020-04-13   121.269997   125.669998   121.169998
                          2020-04-14   127.099998   129.789993   126.040001
                          2020-04-15   129.000000   129.880005   127.120003
                          2020-04-16   129.000000   132.919998   128.250000
                          2020-04-17   131.479996   132.970001   129.729996
                          2020-04-20   132.389999   133.380005   129.759995
Financial Services BAC    2020-04-13    24.780001    24.850000    23.780001
                          2020-04-14    24.500000    24.650000    23.100000
                          2020-04-15    22.160000    22.650000    21.910000
                          2020-04-16    22.150000    22.209999    21.090000
                          2020-04-17    22.340000    23.400000    22.309999
                          2020-04-20    22.570000    23.129999    22.180000
                   MTB    2020-04-13   114.599998   114.599998   109.230003
                          2020-04-14   113.459999   113.739998   107.150002
                          2020-04-15   104.589996   104.820000   100.599998
                          2020-04-16   100.599998   101.010002    95.690002
                          2020-04-17   100.410004   105.809998   100.010002
                          2020-04-20   107.459999   110.970001   100.839996
                   RY     2020-04-13    63.279999    63.290001    61.279999
                          2020-04-14    63.189999    63.509998    61.750000
                          2020-04-15    61.060001    61.520000    60.169998
                          2020-04-16    60.509998    60.919998    58.959999
                          2020-04-17    61.419998    62.439999    60.580002
                          2020-04-20    60.930000    62.599998    60.380001
Technology         AAPL   2020-04-13   268.309998   273.700012   265.829987
                          2020-04-14   280.000000   288.250000   278.049988
                          2020-04-15   282.399994   286.329987   280.630005
                          2020-04-16   287.380005   288.200012   282.350006
                          2020-04-17   284.690002   286.950012   276.859985
                          2020-04-20   277.950012   281.679993   276.850006
                   LYFT   2020-04-13    30.280001    31.190001    29.030001
                          2020-04-14    31.230000    32.180000    29.740000
                          2020-04-15    29.270000    29.450001    28.270000
                          2020-04-16    28.450001    28.700001    27.014999
                          2020-04-17    28.830000    29.969999    28.230000
                          2020-04-20    28.200001    30.299999    28.010000
                   UBER   2020-04-13    27.040001    28.080000    26.469999
                          2020-04-14    28.000000    28.770000    27.013000
                          2020-04-15    26.820000    27.790001    26.440001
                          2020-04-16    27.209999    28.049999    26.459999
                          2020-04-17    28.690001    28.790001    27.260000
                          2020-04-20    27.070000    28.760000    26.900000

                                            Close    Adj Close    Volume
Sector             Ticker Date
Consumer Cyclical  AMZN   2020-04-13  2168.870117  2168.870117   6716700
                          2020-04-14  2283.320068  2283.320068   8087200
                          2020-04-15  2307.679932  2307.679932   6866600
                          2020-04-16  2408.189941  2408.189941  12038200
                          2020-04-17  2375.000000  2375.000000   7930000
                          2020-04-20  2393.610107  2393.610107   5752600
Consumer Defensive COST   2020-04-13   299.619995   299.619995   3120400
                          2020-04-14   314.140015   314.140015   4288300
                          2020-04-15   310.269989   310.269989   2937300
                          2020-04-16   321.559998   321.559998   3940000
                          2020-04-17   317.920013   317.920013   3688000
                          2020-04-20   312.079987   312.079987   3152300
                   WMT    2020-04-13   125.300003   125.300003   8064700
                          2020-04-14   129.000000   129.000000  11366300
                          2020-04-15   128.759995   128.759995   7478400
                          2020-04-16   132.330002   132.330002  10627400
                          2020-04-17   132.119995   132.119995  10305100
                          2020-04-20   129.850006   129.850006   8130300
Financial Services BAC    2020-04-13    23.920000    23.920000  83164700
                          2020-04-14    23.730000    23.730000  88991100
                          2020-04-15    22.190001    22.190001  99082200
                          2020-04-16    21.420000    21.420000  89213300
                          2020-04-17    23.280001    23.280001  92800300
                          2020-04-20    22.500000    22.500000  74340600
                   MTB    2020-04-13   110.760002   110.760002    731800
                          2020-04-14   109.379997   109.379997    833900
                          2020-04-15   100.949997   100.949997    725900
                          2020-04-16    96.290001    96.290001    889800
                          2020-04-17   105.480003   105.480003   1130900
                          2020-04-20   105.599998   105.599998   1208100
                   RY     2020-04-13    62.139999    62.139999   1652100
                          2020-04-14    62.639999    62.639999   1268300
                          2020-04-15    60.560001    60.560001   1344700
                          2020-04-16    58.970001    58.970001   1611600
                          2020-04-17    62.330002    62.330002   1531100
                          2020-04-20    61.360001    61.360001   1441100
Technology         AAPL   2020-04-13   273.250000   273.250000  32755700
                          2020-04-14   287.049988   287.049988  48748700
                          2020-04-15   284.429993   284.429993  32788600
                          2020-04-16   286.690002   286.690002  39281300
                          2020-04-17   282.799988   282.799988  53812500
                          2020-04-20   276.929993   276.929993  32449100
                   LYFT   2020-04-13    30.660000    30.660000   6697400
                          2020-04-14    30.500000    30.500000   5713400
                          2020-04-15    28.389999    28.389999   6825200
                          2020-04-16    27.139999    27.139999   6881400
                          2020-04-17    29.070000    29.070000   8437400
                          2020-04-20    30.100000    30.100000   6179700
                   UBER   2020-04-13    27.990000    27.990000  24671600
                          2020-04-14    27.750000    27.750000  32625300
                          2020-04-15    27.410000    27.410000  18720900
                          2020-04-16    27.030001    27.030001  24088700
                          2020-04-17    28.000000    28.000000  34129800
                          2020-04-20    28.190001    28.190001  32191300

In [41]:
# It is very important to check if the dataframe index is sorted.
# This is how we'll go about doing it:

merged_stocks.index.is_lexsorted()

# We see that it is true,  hence we're fine.

# Otherwise, we'd have to do merged_stocks.sort_index(inplace=True) to sort it.

True

###### 9. Give me a dataframe which contains data of stocks that traded on 17th April 2020

In [42]:
merged_stocks.xs('20200417', level=2, drop_level=False)
# or we could've also passed in 17-04-2020, or 2020-04-17 or 2020/04/17 as well.

                                             Open         High          Low  \
Sector             Ticker Date
Consumer Cyclical  AMZN   2020-04-17  2372.330078  2400.000000  2316.020020
Consumer Defensive COST   2020-04-17   321.309998   322.130005   314.019989
                   WMT    2020-04-17   131.479996   132.970001   129.729996
Financial Services BAC    2020-04-17    22.340000    23.400000    22.309999
                   MTB    2020-04-17   100.410004   105.809998   100.010002
                   RY     2020-04-17    61.419998    62.439999    60.580002
Technology         AAPL   2020-04-17   284.690002   286.950012   276.859985
                   LYFT   2020-04-17    28.830000    29.969999    28.230000
                   UBER   2020-04-17    28.690001    28.790001    27.260000

                                            Close    Adj Close    Volume
Sector             Ticker Date
Consumer Cyclical  AMZN   2020-04-17  2375.000000  2375.000000   7930000
Consumer Defensive COST   2020-04-17   317.920013   317.920013   3688000
                   WMT    2020-04-17   132.119995   132.119995  10305100
Financial Services BAC    2020-04-17    23.280001    23.280001  92800300
                   MTB    2020-04-17   105.480003   105.480003   1130900
                   RY     2020-04-17    62.330002    62.330002   1531100
Technology         AAPL   2020-04-17   282.799988   282.799988  53812500
                   LYFT   2020-04-17    29.070000    29.070000   8437400
                   UBER   2020-04-17    28.000000    28.000000  34129800

###### 10. Give me closing prices of all technology stocks from 15th April until 20th April 2020

In [43]:
merged_stocks.loc[('Technology', slice(None), slice('20200415', '20200420')), :]

                                    Open        High         Low       Close  \
Sector     Ticker Date
Technology AAPL   2020-04-15  282.399994  286.329987  280.630005  284.429993
                  2020-04-16  287.380005  288.200012  282.350006  286.690002
                  2020-04-17  284.690002  286.950012  276.859985  282.799988
                  2020-04-20  277.950012  281.679993  276.850006  276.929993
           LYFT   2020-04-15   29.270000   29.450001   28.270000   28.389999
                  2020-04-16   28.450001   28.700001   27.014999   27.139999
                  2020-04-17   28.830000   29.969999   28.230000   29.070000
                  2020-04-20   28.200001   30.299999   28.010000   30.100000
           UBER   2020-04-15   26.820000   27.790001   26.440001   27.410000
                  2020-04-16   27.209999   28.049999   26.459999   27.030001
                  2020-04-17   28.690001   28.790001   27.260000   28.000000
                  2020-04-20   27.070000   28.760000   26.900000   28.190001

                               Adj Close    Volume
Sector     Ticker Date
Technology AAPL   2020-04-15  284.429993  32788600
                  2020-04-16  286.690002  39281300
                  2020-04-17  282.799988  53812500
                  2020-04-20  276.929993  32449100
           LYFT   2020-04-15   28.389999   6825200
                  2020-04-16   27.139999   6881400
                  2020-04-17   29.070000   8437400
                  2020-04-20   30.100000   6179700
           UBER   2020-04-15   27.410000  18720900
                  2020-04-16   27.030001  24088700
                  2020-04-17   28.000000  34129800
                  2020-04-20   28.190001  32191300

### I hope you excel in the homework tasks! Thanks, and see you soon!